<!-- <div class="loading--container--animated"> -->
<!--   <span class="fa fa-circle-o"></span> -->

<!--   <img -->
<!--     src="./images/loading.gif" -->
<!--     width="50%" -->
<!--     height="50%" -->
<!--     style="background-color: white;" -->
<!--   /> -->
<!-- </div> -->

<div class="item-text-wrap">
  <span>
    Surfing the amplitudes!
  </span>
</div>

<style>
  .loading--container--animated {
    background-color: #fff;
    padding-left: 0;
    position: relative;
    left: -20px;
    margin-left: 0px;
    width: calc(100% + 40px);
  }
</style>
