<div
  ng-show="steps.length !== 0"
  class="progress--content"
>
  <ul class="content--list">
    <li class="list--listing is-background"></li>
    <li class="list--listing is-foreground step-{{currentFlow.currentStep}}"></li>
  </ul>
</div>
