/**
 * @name break-point-range
 */
@mixin break-point-range($point-from, $point-to) {
  @media all and (min-width: $point-from) and (max-width: $point-to) {
    @content;
  }
}

/**
 * @name break-point-template
 */
@mixin break-point-template ($point-from, $point-to, $orientation: landscape) {

  // iPads (portrait and landscape)
  @include break-point-range($point-from, $point-to) {
    @content;
  }

  @if ($orientation == landscape) {

    // iPads (landscape)
    @media only screen and (min-device-width : $point-from) and (max-device-width : $point-to) and (orientation : $orientation) {
      @content;
    }
  } @else {

    // iPads (portrait)
    @media only screen and (min-device-width : $point-from) and (max-device-width : $point-to) and (orientation : $orientation) {
      @content;
    }
  }
}

/**
 * @name break-point-template-with-ratio
 */
@mixin break-point-template-with-ratio ($point-from, $point-to, $orientation, $pixel-ratio: 2) {
  @media only screen and (min-device-width : $point-from) and (max-device-width : $point-to) and (orientation : $orientation) and (-webkit-min-device-pixel-ratio : $pixel-ratio) {
    @content;
  }

  @media only screen and (min-device-width : $point-from) and (max-device-width : $point-to) and (orientation : $orientation) and (-webkit-min-device-pixel-ratio : 2) {
    @content;
  }
}

/**
 * @name break-point-retina
 */
@mixin break-point-retina ($pixel-ratio: 2, $min-res: 2dppx) {
  @media only screen and (-webkit-min-device-pixel-ratio : $pixel-ratio), screen and (min-resolution: $min-res) {
    @content;
  }
}

/**
 * @name break-point-template-desktop
 */
@mixin break-point-template-desktop ($point-from: 1224px) {
  @media only screen and (min-width : $point-from) {
    @content;
  }
}

/**
 * @name break-point-template-large
 */
@mixin break-point-template-large ($point-from: 1824px) {
  @media only screen and (min-width : $point-from) {
    @content;
  }
}

/**
 * @name break-point-iphone4
 */
@mixin break-point-iphone4 () {
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    @content;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    @content;
  }
}

/**
 * @name break-point-iphone5
 */
@mixin break-point-iphone5 () {
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }

  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }
}

/**
 * @name break-point-iphone6
 */
@mixin break-point-iphone6 () {
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }

  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }
}

/**
 * @name break-point-iphone6-plus
 */
@mixin break-point-iphone6-plus () {
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }

  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

/**
 * @name break-point-s3
 */
@mixin break-point-s3 () {
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    @content;
  }

  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    @content;
  }
}

/**
 * @name break-point-s4
 */
@mixin break-point-s4 () {
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    @content;
  }

  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    @content;
  }
}

/**
 * @name break-point-s5
 */
@mixin break-point-s5 () {
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    @content;
  }

  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    @content;
  }
}

