// ./app/styles/mixins/_directives.scss
@mixin Directive($name: '') {
  #{$name},
  ##{$name} {
    .dm { // helpful for nesting directives and overriding child
          // directives
      background: transparent;
    }
    @content;
  }
}
