<span class="inner">
  <span class="content">
  {{content}}
  </span>
  <span class="counter">
    <span
      class="size"
    >{{size}}</span><span
        class="sep"
    >/</span><span
      class="max"
    >{{max}}</span>
  </span>
</span>
<style>
  .counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
  }
  .inner {
    position: relative;
    display: flex;
  }
</style>
