<div
  class="container"
  style="width: 100%; text-align: center;"
>
  <qrcode
    ng-if="vm.qrcode.content !== ''"
    version="{{vm.qrcode.version}}"
    error-correction-level="{{vm.qrcode.level}}"
    size="{{vm.qrcode.size}}"
    data="{{vm.qrcode.content}}"
  ></qrcode>

  <button
    ng-click="vm.takeSeat()"
    class="next-button"
  >
    <span>Close</span>
  </button>
</div>
