.slide-out-left {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-out-left.ng-move,
.slide-out-left.ng-enter,
.slide-out-left.ng-leave {
  transition:all linear 0.5s;
}

.slide-out-left.ng-leave.ng-leave-active,
.slide-out-left.ng-move,
.slide-out-left.ng-enter {
  transform: translate3d(-225%, 0, 0);
  -webkit-transform: translate3d(-225%, 0, 0);
  opacity: 0;
}

.slide-out-left.ng-leave,
.slide-out-left.ng-move.ng-move-active,
.slide-out-left.ng-enter.ng-enter-active {
  position: relative;
}

@-webkit-keyframes enter {
  from {
    bottom: -#{$footerHeight};
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes enter {
  from {
    bottom: -#{$footerHeight};
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes leave {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -#{$footerHeight};
    opacity: 0;
  }
}
@keyframes leave {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -#{$footerHeight};
    opacity: 0;
  }
}

.slide-up {
  -webkit-animation: enter 1500ms ease forwards;
  animation: enter 1500ms ease forwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
}
.slide-down {
  -webkit-animation: enter 1500ms ease backwards;
  animation: enter 1500ms ease backwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
}

/*  Footer Animations  */
.bar.bar-footer.ng-hide-remove {
  -webkit-animation: enter 500ms ease forwards;
  animation: enter 500ms ease forwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
}
.bar.bar-footer.ng-hide-add {
  -webkit-animation: leave 500ms ease backwards;
  animation: leave 500ms ease backwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 1;
}

/*  Modal Animations  */
.modal.filter-properties.ng-leave {
  opacity: 0;
}

/*  Filter Animations  */
#filters div.bed-types,
#create-missive div[class$="-types"],
#create-listing div[class$="-types"] {
  max-height: 30vh;
  overflow: hidden;
  opacity: 1;
  &.ng-hide-add {
    transition: all ease-out 0.25s;
    -webkit-transition: all ease-out 0.25s;
  }
  &.ng-hide-remove {
    transition: all ease-out 0.25s;
    -webkit-transition: all ease-out 0.25s;
  }
  &.ng-hide {
    max-height: 0vh;
    opacity: 0;
  }
}
