/**
 * Define variables here
 */

 %centerX {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
 }
 %centerY {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
 }
 %centerAll {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
 }

$textColor: #ccc;

$headerBgColor: #e5e5e5;
$headerHeight: 44px;
$headerFontColor: #111;

$footerHeight: 75px;

$accentGreen: #54C3F3;
$accentPurple: #7637d4;
$accentBlue: #0092BC;
$accentGrey: #EDEDED;
