/**
 * @fileOverview ./main.scss
 * @description
 * An interface file.
 */

@import 'bower_components/font-awesome/scss/font-awesome';
@import 'bower_components/hint.css/hint';
@import 'bower_components/leaflet/dist/leaflet';
@import "_variables";
@import "_fonts";
@import "_animations";
@import '_animateCSS';

/**
 * LAYOUT
 */

@import "layout/layout";
@import "layout/modals";

/**
 * VENDOR
 */

@import "vendor/rzSlider";
@import "vendor/calendar";
@import "vendor/iconizr-svg-sprite";

strong[class*="icon-"],
i[class*="icon-"],
span[class*="icon-"] {
  display: inline-block !important;
  content: ' ';
  width: 32px;
  height: 32px;
  /* position: absolute; */
  /* z-index: 9000; */

  &.x-large {
    transform: scale(2);
  }

  &.xx-large {
    transform: scale(3);
  }
}

.menu-item span[class*="icon-"] {
  transform: scale(1);
  margin: -1ch auto -0.5ch;
  display: block !important;
}

html#wallet-companion-shell,
body#wallet-companion,
.ionic-body {
  font-family: "Oxygen", "Helvetica", Arial;
	user-select: {}
  -webkit-user-select: auto !important;
  .scroll {
    -webkit-user-select: inherit !important;
  }
}

/**
 * Accessibility
 */

@import "accessibility";

/**
 * OVERRIDES
 */

@import "popups/base";

/**
 * METHODS
 */

@import "methods/_inputs";

/**
 * MIXINS
 */

@import "mixins/_break-point";
@import "mixins/_directives";
@import "mixins/_controllers";

/**
 * MENU
 */

@import "menu/menu";

/**
 * FORM
 */

@import "form/forms";

/**
 * CONTROLLERS
 */

@import "controllers/home";

/**
 * COMPONENTS
 */

@import "components/progressBar";
@import "components/inline-loader";
@import "components/cancel-button";

/**
 * DIRECTIVES
 */

@import "directives/createContract";
@import "directives/myOffers";
@import "directives/network";

/**
 * VIEWS
 */

@import "views/splash/create";
@import "views/splash/forgot";
@import "views/splash/support";
@import "views/splash/login";
@import "views/missives/offers";
@import "views/missives/my-offers";
@import "views/missives/create-missive";
@import "views/missives/offer-details";
@import "views/missives/filter-offers";
@import "views/missives/add-coins";
@import "views/contracts/bookings";
@import "views/contracts/booking";
@import "views/contracts/create";
@import "views/profile/profile";
@import "views/profile/settings";
@import "views/profile/payment-methods";
@import "views/profile/tos";
@import "views/stats/stats";
@import "views/wallet/send";
