<!-- // ./app/templates/views/help.html

-->

<ion-view id="help" class="HelpController">

    <ion-header-bar align-title="center">
      <button
        ng-click="vm.filterPropertiesModal.show()"
        class="button button-icon icon ionicons ion-ios-settings-strong"
      ></button>
      <h1 class="title">Help</h1>
    </ion-header-bar>

    <ion-content>
    </ion-content>

</ion-view>
