<div class="content">
  <div class="block">
    <span class="top-center">Select all that apply:</span>
    <div
      class="assets-container"
      ng-repeat="asset in dm.assets track by $index"
      ng-show="$index % 3 === 0"
      bindonce="asset"
    >
      <div
        class="asset"
        ng-click="asset.selected = !asset.selected"
      >

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="!asset.selected"
          bo-src="'./images/icons/{{(asset.shortName)}}-empty.png'"
        />

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="asset.selected"
          bo-src="'./images/icons/{{(asset.shortName)}}.png'"
        />

        <span bo-text="asset.name"></span>

      </div>

      <div
        class="asset"
        ng-show="dm.assets[$index+1]"
        ng-click="dm.assets[$index+1].selected = !dm.assets[$index+1].selected"
      >

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="!dm.assets[$index+1].selected"
          bo-src="'./images/icons/{{(dm.assets[$index+1].shortName)}}-empty.png'"
        />

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="dm.assets[$index+1].selected"
          bo-src="'./images/icons/{{(dm.assets[$index+1].shortName)}}.png'"
        />

        <span bo-text="dm.assets[$index+1].name"></span>

      </div>

      <div
        class="asset"
        ng-show="dm.assets[$index+2]"
        ng-click="dm.assets[$index+2].selected = !dm.assets[$index+2].selected"
      >

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="!dm.assets[$index+2].selected"
          bo-src="'./images/icons/{{(dm.assets[$index+2].shortName)}}-empty.png'"
        />

        <img
          bo-alt="{{asset.shortName}}"
          ng-show="dm.assets[$index+2].selected"
          bo-src="'./images/icons/{{(dm.assets[$index+2].shortName)}}.png'"
        />

        <span bo-text="dm.assets[$index+2].name"></span>
      </div>
    </div>
  </div>
</div>
