<form
  id="newCoinForm"
  name="dm.newCoinForm"
  ng-submit="dm.submitForm()"
>

  <ion-content overflow-scroll="true">
    <div class="content">

      <div class="block">

        <label>Description</label>
        <input
          required
          ng-model="dm.newCoinFormObject.description"
          id="description"
          name="description"
          type="text"
        />

        <label>Quantity</label>
        <input
          required
          ng-model="dm.newCoinFormObject.quantity"
          type="number"
          id="quantity"
          name="quantity"
        />

        <div class="number-block">
          <span class="dollar">$</span>
          <label>Set Coin Rate</label>
          <input
            required
            id="price"
            ng-model="dm.newCoinFormObject.price"
            type="number"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="0.01"
          />
          <span class="detail">Per Night</span>
        </div>

        <div class="radio-group row">
          <div class="col">
            <input
              type="radio"
              ng-model="dm.newCoinFormObject.coinType"
              name="coin-type"
              id="coin-type-scrypt"
              value="scrypt"
              ng-click="dm.switchCoinType('scrypt')"
            />
            <label><span><span></span></span>Scrypt Coin</label>
          </div>
          <div class="col">
            <input
              type="radio"
              ng-model="dm.newCoinFormObject.coinType"
              name="coin-type"
              id="coin-type-sha256"
              value="sha256"
              ng-click="dm.switchCoinType('sha256')"
            />
            <label><span><span></span></span>SHA256 Coin</label>
          </div>
        </div>

        <div class="coin-block">
          <label>Token Type</label>
          <div class="inner">
            <div
              class="type-selection"
              ng-click="dm.newCoinFormObject.tokenTypeExpanded = !dm.newCoinFormObject.tokenTypeExpanded"
            >

              <button
                ng-show="dm.newCoinFormObject.tokenTypeExpanded || dm.newCoinFormObject.scryptCoin === true"
                type="button"
                ng-click="dm.newCoinFormObject.scryptCoin = true; $event.preventDefault()"
                ng-disabled="dm.newCoinFormObject.scryptCoin === false &&
                dm.newCoinFormObject.coinType !== 'scrypt'"
                ng-class="{
                  'disabled': (dm.newCoinFormObject.scryptCoin === false &&
                  dm.newCoinFormObject.coinType !== 'scrypt'),
                  'selected': (dm.newCoinFormObject.tokenTypeExpanded !== true && dm.newCoinFormObject.scryptCoin === true)
                }"
              >
                <span>ERC20</span>
                <span>
                <i ng-show="(dm.newCoinFormObject.tokenTypeExpanded === false
                  || dm.newCoinFormObject.scryptCoin === true) ||
                  dm.newCoinFormObject.tokenTypeExpanded === true"
                  class="icon ionicons ion-chevron-down"></i></span>
              </button>

              <button
                ng-show="dm.newCoinFormObject.tokenTypeExpanded || dm.newCoinFormObject.sha256Coin === false"
                type="button"
                ng-disabled="dm.newCoinFormObject.sha256Coin === false &&
                dm.newCoinFormObject.coinType !== 'sha256'"
                ng-class="{
                  'disabled': (dm.newCoinFormObject.sha256Coin === false &&
                  dm.newCoinFormObject.coinType !== 'sha256'),
                  'selected': dm.newCoinFormObject.tokenTypeExpanded !== true && dm.newCoinFormObject.sha256Coin === false
                }"
                ng-click="dm.newCoinFormObject.sha256Coin = false; $event.preventDefault()"
              >
                <span>ERC721</span>
                <span><i ng-show="dm.newCoinFormObject.tokenTypeExpanded !==
                    true && dm.newCoinFormObject.sha256Coin === false"
                    class="icon ionicons ion-chevron-down"></i></span>
              </button>

            </div>
          </div>
        </div>

        <div class="availability">
          <label>From</label>
          <span ng-click="dm.expandCalendar('from')">{{dm.newCoinFormObject.availability.from.format('MMM Do, YYYY')}}</span>
          <label>To</label>
          <span ng-click="dm.expandCalendar('to')">{{dm.newCoinFormObject.availability.to.format('MMM Do, YYYY')}}</span>
          <label>Check In (if FIFO/LIFO)</label>
          <span ng-click="dm.expandTimepicker('checkIn')">{{dm.newCoinFormObject.availability.checkIn}}</span>
          <label>Check Out (if FIFO/LIFO)</label>
          <span ng-click="dm.expandTimepicker('checkOut')">{{dm.newCoinFormObject.availability.checkOut}}</span>
        </div>

      </div>
    </div>
  </ion-content>

  <button
    class="next-button"
    value="Submit"
    ng-disabled="dm.newCoinForm.$invalid"
  >Save</button>

  <style>
  #newCoinForm .block {
    color: #222;
  }
  </style>
</form>
