
<ion-view
  class="has-header"
  id="create-listing"
>

    <div
      class="block"
      ng-if="vm.listingMissive.currentStep === 0"
    >
      <span class="title">Welcome!</span>
      <span class="subtitle">Let's start your listing.</span>

      <ion-content
        overflow-scroll="true"
        class="has-header"
      >

        <div class="inner animated fadeIn">

          <div
            class="type-selection"
            ng-click="dm.toggleOfferTypes()"
          >

            <span class="top">What type of thing is it?</span>

            <form
              name="dm.listingType"
            >

              <div class="offer-type-selection">
                <span
                  ng-show="dm.newOffer.coinType.name === 'Collectibles'
                  || dm.newOffer.coinType.name === 'collectibles'"
                  class="offer-type-selection-label collectibles"
                >
                  Collectibles
                </span>
                <span
                  ng-show="dm.newOffer.coinType.name === 'Computer Equipment'
                  || dm.newOffer.coinType.name === 'computer-equipment'"
                  class="offer-type-selection-label computer-equipment"
                >
                  Computer Equipment
                </span>

                <span
                  ng-show="dm.newOffer.coinType.name === 'Ethereum'
                  || dm.newOffer.coinType.name === 'eth'"
                  class="offer-type-selection-label eth"
                >
                  Ethereum
                </span>
                <span
                  ng-show="dm.newOffer.coinType.name === 'Bitcoin'
                  || dm.newOffer.coinType.name === 'btc'"
                  class="offer-type-selection-label btc"
                >
                  Bitcoin
                </span>
                <span
                  ng-show="dm.newOffer.coinType.name === 'Monero'
                  || dm.newOffer.coinType.name === 'xmr'"
                  class="offer-type-selection-label xmr"
                >
                  Monero
                </span>
                <span
                  ng-show="dm.newOffer.coinType.name === 'Conata'
                  || dm.newOffer.coinType.name === 'cot'"
                  class="offer-type-selection-label cot"
                >
                  Conata
                </span>
                <span
                  ng-show="!dm.newOffer.coinType.name"
                  class="offer-type-selection-label none-selected">
                  Select a category type
                </span>
                <input
                  required
                  type="hidden"
                  class="selection"
                  ng-readonly="true"
                  style="cursor: pointer; border-bottom: none !important;"
                  ng-model="dm.newOffer.coinType.name"
                />
                <i
                  ng-show="!dm.coinTypesExpanded"
                  class="~icon ionicons ion-chevron-down"
                ></i>
                <i
                  ng-show="dm.coinTypesExpanded"
                  class="~icon ionicons ion-chevron-up"
                ></i>
              </div>

              <div
                ng-show="dm.coinTypesExpanded"
                class="offer-types"
                style="overflow-y: scroll;"
              >
                <div
                  class="type item item-icon-right"
                  ng-repeat="coinType in dm.coinTypes"
                  bindonce="coinType"
                  bo-class="{
                    'selected': coinType.selected,
                    'disabled': coinType.disabled
                  }"
                  ng-click="dm.selectOffer($index, $event)"
                >
                  <span>{{coinType.name}}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ion-content>
      <button
        class="button next"
        type="submit"
        ng-disabled="dm.listingType.$invalid"
        ng-click="dm.next()"
      >Next</button>
    </div>


    <div
      class="block location-block"
      ng-if="vm.listingMissive.currentStep === 1"
    >
      <ion-content
        overflow-scroll="true"
        class="has-header"
      >
        <div
          class="inner animated fadeIn"
          ng-class="{
            'ngmap-activated': vm.currentMapLatLng !== '' || vm.currentMapLatLng !== undefined
          }"
        >
          <span class="top">Pick a spot, any spot</span>

          <form name="dm.locationForm">

            <div class="search-box">
              <i class="icon ionicons ion-search"></i>
              <input
                autocorrect="off"
                autocapitalize="off"
                spellcheck="off"
                id="offer-autocomplete"
                required
                readonly
                location="dm.filterOpts.location.geo"
                ng-model-options="{ 'debounce': 250 }"
                on-selection="dm.onAddressSelection(location)"
                type="text"
                ng-model="dm.newOffer.location.address"
                placeholder="{{dm.newOffer.location.placeholder||'Location'}}"
              />
            </div>

          </form>

        </div>
        <div
          ng-show="dm.newOffer.location.address !== undefined &&
            dm.newOffer.location.address !== ''"
          class="footer"
        >
          <!-- <h2>gmap</h2> -->
          <div
            class="gmap"
            ng-show="vm.currentMapLatLng"
            ng-class="{
              'ngmap-activated': vm.currentMapLatLng !== '' || vm.currentMapLatLng !== undefined
            }"
            _style="position: absolute; left: 0; top: 0; bottom: 0; right: 0;"
          >

            <ng-map
              id="currentMapLatLng"
              name="currentMapLatLng"
              disable-default-u-i="true"
              zoom="15"
              map-type-control-options="[
                'mapTypeIds': ['Styled']
              ]"
              map-type-id="'Styled'"
            >
              <marker
                id="currentMapLatLngMarker"
                position="vm.currentMapLatLng"
              >
              </marker>
            </ng-map>

<!--             <leaflet -->
<!--               id="currentMapLatLng" -->
<!--               lf-center="map.center" -->
<!--               ng-if="map" -->
<!--               width="100%" -->
<!--               tiles="tiles" -->
<!--               markers="map.markers" -->
<!--               style=" -->
<!--               height: calc(100% - 60px); -->
<!--               " -->
<!--             ></leaflet> -->

          </div>
        </div>
      </ion-content>
      <button
        class="button next"
        type="submit"
        ng-disabled="dm.locationForm.$invalid"
        ng-class="{
          'disabled': dm.locationForm.$invalid
        }"
        ng-click="dm.next()"
      >Next</button>
    </div>


    <div
      class="block photo-block"
      ng-if="vm.listingMissive.currentStep === 2"
    >

      <ion-content
        class="has-header"
        ng-click="$log.info(dm.newOffer)"
      >

        <div class="inner animated fadeIn">

          <form name="dm.photoSubmissionForm">

            <span class="top-center">Let's add some photos</span>

            <div class="numbers-group">
              <span
                ng-class="{
                  'disabled': showingDragged
                }"
              >1</span>
              <span
                ng-class="{
                  'disabled': !showingDragged
                }"
              >2</span>
            </div>

            <span class="instructions">Add JPGs less than ~4MB.</span>

            <div class="block-resizer">

              <input
                class="accessibly-hide"
                ng-change="dm.resizeImageMode(dm.resizeImage)"
                ng-checked="true"
                ng-model="dm.resizeImage"
                ng-value="true"
                type="checkbox"
              />

              <input
                class="resize-width"
                default-model
                id="resizeFormSizeWidth"
                max="500"
                min="260"
                name="resizeFormSizeWidth"
                ng-change="dm.resizeFormUpdate()"
                ng-model="dm.resizeImageWidth"
                ng-show="showingDragged"
                ng-value="260"
                value="260"
                step="1"
                type="range"
              />

              <input
                class="resize-x"
                default-model
                id="resizeFormX"
                max="250"
                min="-250"
                name="resizeFormX"
                ng-change="dm.resizeFormUpdate()"
                ng-model="dm.resizeImageX"
                ng-show="showingDragged"
                ng-value="0"
                step="1"
                style="position: absolute; left: -9999px;"
                type="range"
                value="0"
              />

              <input
                class="resize-y"
                default-model
                id="resizeFormY"
                max="250"
                min="-250"
                name="resizeFormY"
                ng-change="dm.resizeFormUpdate()"
                ng-model="dm.resizeImageY"
                ng-show="showingDragged"
                ng-value="0"
                orient="vertical"
                step="1"
                style="position: absolute; left: -9999px;"
                type="range"
                value="0"
              />

              <input
                tgm-file-reader
                class="accessibly-hide"
                id="profilePhoto"
                name="profilePhoto"
                ng-model="vm.newOffer.profilePhoto"
                type="file"
                upload-photo="vm.uploadPhoto()"
              />

              <div
                activate="dm.photoSubmissionForm.profilePhoto"
                tgm-file-upload
                class="photo"
                prepared="true"
              >
                <img
                  alt="{{dm.newOffer.title}}"
                  tgm-resize-image
                  class="upload-photo-staple animated fadeIn"
                  offer="dm.newOffer"
                  style="
                    left      : 0px;
                    top       : {{updateY||cropOffers.top||cropOffers.y||'auto'}};
                    width     :
                    {{updatesize||cropOffers.width||cropOffers.updatesize||'260px'}};
                  "
                />
              </div>
            </div>

            <style>
              .block-resizer {
                margin-top: 5vh;
              }
            </style>

            <br />

            <div
              activate="dm.photoSubmissionForm.profilePhoto"
              tgm-file-upload
              class="item item-icon-left upload"
              prepared="true"
            >

              <i class="icon ionicons ion-ios-upload-outline"></i>

              <span>Upload from phone</span>
            </div>
          </form>
        </div>

        <span
          ng-show="showingDragged"
          class="photo--save--resize"
          ng-click="dm.savePhotoResize()"
          style="
          display: block;
          text-align: center;
          padding: 15px 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #aaa;
          cursor: pointer;
          "
        >Save</span>
      </ion-content>

      <button
        class="button next"
        type="submit"
        ng-disabled="false"
        ng-click="dm.next()"
      >Next</button>

    </div>


    <div
      class="block description-block"
      ng-if="vm.listingMissive.currentStep === 3"
    >

      <ion-scroll class="has-header">
        <div class="inner animated fadeIn">
          <form name="dm.offerDescriptionForm">

            <div
              class="label-container"
              style="position: relative"
            >

              <label
                for="title"
                style="width: 100%; position: relative; display: block;"
              >
                <span class="content">Title</span>
              </label>

              <span class="title-help-icon" ng-click="getHelp()"

              >
                <i class="icon ionicons ion-help"></i>
              </span>

              <style>
                .title-help-icon {
                  position: absolute;
                  top: 0;
                  right: 0;
                  color: #0092BC;
                }
                .title-help-icon .ion-help:before {
                  position: absolute;
                  right: 5px;
                  top: 5px;
                }
                .title-help-icon i {
                  position: absolute;
                  right: 0;
                }
                .title-help-icon i:after {
                  top: 0;
                  right: -4px;
                  position: absolute;
                  content: ' ';
                  width: 25px;
                  height: 25px;
                  border: 1px #0092BC solid;
                  display: block;
                  border-radius: 100px;
                }
              </style>
            </div>

            <input
              required
              id="title"
              name="title"
              ng-model="dm.newOffer.title"
              type="text"
            />
            <label for="subtitle">Subtitle</label>
            <input
              required
              name="subtitle"
              ng-model="dm.newOffer.subtitle"
              type="text"
            />

            <label
              for="description"
              tgm-counter
              counter-content="dm.newOffer.description"
              content=""
              max="500"
              form-container="dm.offerDescriptionForm"
            >Description</label>

            <textarea
              required
              name="description"
              ng-model="dm.newOffer.description"
              type="text"
            ></textarea>

            <div
              class="item item-icon-right add-assets"
              ng-click="vm.showAssetsModal()"
            >
              <span>Add Assets</span>
              <i class="icon ionicons ion-ios-arrow-thin-right"></i>
            </div>
          </form>
        </div>
      </ion-scroll>

      <button
        class="button next"
        type="submit"
        ng-disabled="dm.offerDescriptionForm.$invalid"
        ng-click="dm.next()"
      >Next</button>
    </div>


    <div
      class="block coin-management"
      ng-if="vm.listingMissive.currentStep === 4"
      ng-init="sha256Loaded = []"
    >
      <ion-scroll
        class="has-header"
        ng-init="scryptLoaded = []"
      >

        <span
          class="top"
        >Scrypt</span>

        <div
          class="inner animated fadeIn"
          style="padding: 0;"
        >
          <div
            class="type-selection type-noselection"
            ng-show="scryptLoaded.length === 0
            && ((
              dm.coins
              && dm.coins.types
              && dm.coins.types.single
              && dm.coins.types.single.length
            )
              && (
                (dm.coins.types.single[0] &&
                dm.coins.types.single[0].selection.length === 0) &&
                (dm.coins.types.single[1] &&
                dm.coins.types.single[1].selection.length === 0)
              )
            )
            "
          >
            <span class="selection">No coins loaded.</span>
          </div>

          <div
            class="type-selection"
            ng-repeat="coin in dm.coins.types.scrypt track by $index"
            ng-init="parentIndex = $index"
            ng-class="{
              'disabled': !coin.selection.length
            }"
            style="padding: 0;"
            ng-show="dm.coins.types.scrypt.length && coin.selection.length"
            ng-init="coin
              && coin.selection
              && coin.selection.length
              && coin.selection[0]._id
              && (sha256Loaded.push(coin.selection[0]._id))
            "
          >

            <ion-list
              can-swipe="true"
              ng-repeat="newCoin in coin.selection track by $index"
              bindonce="newCoin"
              class="offer-types item-text-wrap"
            >

              <ion-item class="item item-icon-right title">

                <i
                  ng-show="!newCoin.expanded"
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  class="~icon ionicons ion-chevron-right"
                ></i>
                <i
                  ng-show="newCoin.expanded"
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  class="~icon ionicons ion-chevron-down"
                ></i>

                <span
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  style=""
                >{{newCoin.description}}</span>

                <ion-option-button
                  class="button-light ~icon ion-close"
                  ng-show="!newCoin._id"
                  ng-click="dm.removeSHA256Coin(parentIndex, $index)"
                ></ion-option-button>

                <ion-option-button
                  class="button-light ~icon ion-edit"
                  ng-show="!newCoin._id"
                  ng-click="dm.editCoin(newCoin)"
                ></ion-option-button>
              </ion-item>

              <ion-item ng-show="newCoin.expanded">
                <div class="row">
                  <div class="col">Quantity</div>
                  <div class="col">{{newCoin.quantity}}</div>
                </div>

                <div class="row">
                  <div class="col">Coin Rate</div>
                  <div class="col">{{newCoin.price | currency}}/night</div>
                </div>

                <div class="row">
                  <div class="col">Pay Type</div>
                  <div class="col">{{(newCoin.payType ? 'Network' : 'Cash')}}</div>
                </div>
              </ion-item>
            </ion-list>
          </div>

          <div
            class="item add-coin"
            ng-click="dm.expandCoins(true)"
            ng-hide="dm.newOffer._parentId
            || sha256Loaded.length
            || (scryptLoaded.length && !sha256Loaded.length)"
          >
            <i class="icon ionicon ion-ios-plus-outline"></i>
            <span>Add New Coin</span>
          </div>
        </div>

        <span
          class="top"
        >SHA256</span>

        <div
          class="inner animated fadeIn"
          style="padding: 0;"
        >

          <div
            class="type-selection type-noselection"
            ng-show="sha256Loaded.length === 0
            && ((
              dm.coins
              && dm.coins.types
              && dm.coins.types.bunk
              && dm.coins.types.bunk.length
            )
              && (dm.coins.types.bunk[0] &&
                  dm.coins.types.bunk[0].selection.length === 0)
            )
            "
          >
            <span class="selection">No coins loaded.</span>
          </div>

          <div
            class="type-selection"
            style="padding: 0;"
            ng-repeat="coin in dm.coins.types.bunk track by $index"
            ng-init="parentIndex = $index"
            ng-show="dm.coins.types.sha256.length && coin.selection.length"
            ng-class="{
              'disabled': !coin.selection.length
            }"
            ng-click="newCoin.expanded = !newCoin.expanded"
            ng-init="coin
              && coin.selection
              && coin.selection.length
              && coin.selection[0]._id
              && scryptLoaded.push(coin.selection[0]._id)
            "
          >

            <ion-list
              can-swipe="true"
              ng-repeat="newCoin in coin.selection track by $index"
              bindonce="newCoin"
              class="offer-types item-text-wrap"
            >

              <ion-item class="item item-icon-right title">

                <i
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  ng-show="!newCoin.expanded"
                  class="~icon ionicons ion-chevron-right"
                ></i>
                <i
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  ng-show="newCoin.expanded"
                  class="~icon ionicons ion-chevron-down"
                ></i>

                <span
                  ng-click="newCoin.expanded = !newCoin.expanded"
                  style=""
                >{{newCoin.description}}</span>

                <ion-option-button
                  class="button-light ~icon ion-close"
                  ng-show="!newCoin._id"
                  ng-click="dm.removeScryptCoin(parentIndex, $index)"
                ></ion-option-button>

                <ion-option-button
                  class="button-light ~icon ion-edit"
                  ng-show="!newCoin._id"
                  ng-click="dm.editCoin(newCoin)"
                ></ion-option-button>
              </ion-item>

              <ion-item ng-show="newCoin.expanded">
                <div class="row">
                  <div class="col">Quantity</div>
                  <div class="col">{{newCoin.quantity}}</div>
                </div>
                <div class="row">
                  <div class="col">Coin Rate</div>
                  <div class="col">{{newCoin.price | currency}}/night</div>
                </div>
                <div class="row">
                  <div class="col">Pay Type</div>
                  <div class="col">{{(newCoin.payType ? 'Network' : 'Cash')}}</div>
                </div>
              </ion-item>
            </ion-list>
          </div>

          <div
            class="item add-coin"
            ng-click="dm.expandCoins(false)"
            ng-hide="dm.newOffer._parentId
            || scryptLoaded.length
            || (sha256Loaded.length && !scryptLoaded.length)"
          >
            <i class="icon ionicon ion-ios-plus-outline"></i>
            <span>Add New Coin</span>
          </div>
        </div>
      </ion-scroll>

      <button
        class="button next"
        ng-disabled="vm.coinsValid === undefined"
        ng-click="dm.serializeCoins(); dm.next();"
      >Next</button>
    </div>


    <div
      class="block edit-details"
      ng-if="vm.listingMissive.currentStep === 5"
    >

      <ion-content
        overflow-scroll="true"
        class="has-header"
      >

        <div class="inner animated fadeIn">

          <div
            class="hero animated fadeIn"
            style="
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('{{(dm.newOffer.photos ?
              _.last(dm.newOffer.photos).image.url : './images/Cryptocurrency-Appcoin.jpg')}}');
            "
          ></div>

          <div class="list">

            <div
              ng-repeat="item in dm.completionChecklist"
              bindonce="item"
              class="item item-icon-right"
              style="
                border-top-right-radius: 0;
                border-top-left-radius: 0;
              "
              ng-click="dm.viewMod($event, item, $index)"
            >

              <span class="title" bo-text="item.name"></span>

              <span class="description" bo-text="item.description"></span>

              <i
                class="icon ionicon ion-ios-circle-outline"
                ng-show="!item.complete"
              ></i>

              <i
                class="icon ionicon ion-ios-circle-filled"
                ng-show="item.complete"
              ></i>
            </div>
          </div>
        </div>
      </ion-content>

      <button
        class="button next"
        ng-click="dm.previewListing()"
      >Preview Offer</button>
    </div>
</ion-view>

