<div>
  <ion-content
    overflow-scroll="true"
  >

    <form
      name="dm.filterForm"
      id="filters"
    >
      <div class="row title-row">
        <div class="col">
          <span class="title">Filter By</span>
        </div>
        <div class="col">
          <span class="clear" ng-click="dm.resetFilterOpts()">Clear All</span>
        </div>
      </div>

      <div class="block option-block">
        <div id="coin-type-selection" ng-click="dm.toggleCoinTypes()">
          <span>Select Coin Type</span>
          <i ng-if="!dm.coinTypesExpanded" class="icon ionicons ion-chevron-down"></i>
          <i ng-if="dm.coinTypesExpanded" class="icon ionicons ion-chevron-up"></i>
        </div>
        <div ng-show="dm.coinTypesExpanded" class="coin-types">
          <div
            class="type item item-icon-right"
            ng-repeat="coinType in dm.filterOpts.offer.coinTypes track by $index"
            ng-class="{'selected': coinType.selected}"
            ng-click="coinType.selected = !coinType.selected"
          >
            <span>{{coinType.name}}</span>
            <i class="icon ionicon ion-checkmark" ng-if="coinType.selected"></i>
          </div>
        </div>
      </div>

      <div class="block location-block">
        <i
          class="icon ionicons ion-search animated"
          ng-class="{
            'disabled': dm.filterOpts.location.useCurrent,
            'wobble': !dm.filterOpts.location.useCurrent
          }"
        ></i>
        <input
          id="autocomplete"
          type="text"
          ng-model="dm.filterOpts.location.address"
          ng-disabled="dm.filterOpts.location.useCurrent"
          location="dm.filterOpts.location.geo"
          ng-model-options="{ 'debounce': 250 }"
          on-selection="dm.onAddressSelection(location)"
          placeholder="Location"
          readonly
          required
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
        />

        <ion-toggle ng-model="dm.filterOpts.location.useCurrent">Use Current Location</ion-toggle>

        <div>
          <span class="title">Radius (km)</span>
          <rzslider
            rz-slider-model="dm.filterOpts.location.withinDistance"
            rz-slider-options="dm.sliderOpts.maxRadius"
          ></rzslider>
        </div>
      </div>

      <div class="block date-block">

        <span class="title">Travel Dates</span>

        <div class="input-block input--group calendar--input">
          <label for="from">From</label>
          <input
            class="calendar-selection"
            id="from"
            name="from"
            ng-click="dm.expandCalendar('from')"
            ng-model="dm.filterOpts.calendar.dates.from"
            ng-required="false"
            readonly="true"
            placeholder="Tap To Select"
          />
        </div>

        <div class="input-block input--group calendar--input">
          <label for="to">To</label>
          <input
            class="calendar-selection"
            id="to"
            readonly="true"
            ng-click="dm.expandCalendar('to')"
            ng-model="dm.filterOpts.calendar.dates.to"
            ng-required="false"
            name="to"
            placeholder="Tap To Select"
          />
        </div>
        <style>

        </style>
      </div>
    </form>
  </ion-content>

  <button
    class="submit-button"
    ng-click="dm.submitForm(dm.filterOpts)"
  >Apply</button>
</div>
