
<div class="block">

  <span class="block-title">HOTELS</span>

  <div
    class="list properties"
  >

    <div
      class="item item-text-wrap item-icon-right animated flipInX"
      ng-repeat="property in vm.hotels | orderBy: 'price' track by $index"
      ng-click="vm.viewProperty(property)"
    >

      <span
        class="property-title"
        ng-bind="property.name"
      ></span>

      <span
        class="property-subtitle"
        ng-bind="property.address"
      ></span>

      <div
        class="bed"
        ng-repeat="room in property.rooms.single | limitTo:3 track by $index"
      >
        <span class="bed-price">
          {{ room.price | currency }} / Day
        </span>
      </div>

      <i class="icon ionicons ion-chevron-right"></i>
    </div>

    <div
      class="item item-text-wrap no-items"
      ng-if="loading === false && (vm.hotels && vm.hotels.length === 0)"
    >
      <span ng-click="vm.loadHotels()">The concierge is busy. Tap to retry</span>
    </div>

    <div
      class="item item-text-wrap no-items"
      ng-if="dm.canLoadMore === false"
    >
      No more results
    </div>

    <div
      class="item item-text-wrap no-items"
      ng-if="loading === false && dm.canLoadMore === true && (vm.hotels && vm.hotels.length > 0)"
    >
      <span ng-click="vm.loadNextPage()">Load more
        The concierge is busy. Tap to retry.
      </span>
      <!-- <span ng-click="vm.loadHotels()">No hotels available. Tap to reload</span> -->
      <!-- <span ng-click="loadMore()">No hotels available. Tap to reload</span> -->
    </div>
  </div>

  <!-- <ion-infinite-scroll -->
  <!--   ng-if="!noMoreItemsAvailable" -->
  <!--   on-infinite="loadMore()" -->
  <!--   distance="75%" -->
  <!-- ></ion-infinite-scroll> -->

  <br />
  <br />
</div>


