<!--
	@fileOverview ./app/templates/directives/listings/listings.html
	@implements https://www.w3.org/TR/WCAG20-TECHS/H45.html
-->

<div
  longdesc="https://tools.ietf.org/html/rfc2046#section-5.2.3"
  class="block"
>

  <!-- <span class="block-title">Offers</span> -->

  <ion-spinner
    style="
      text-align: center;
      display: block;
      margin: 25px 0 0 0;
    "
    ng-if="loading === true"
  ></ion-spinner>

  <div
    class="list offers"
    ng-if="loading !== true"
  >

    <div
      class="item item-text-wrap filter-details animated flipInX"
      ng-if="vm.offers.length"
    >

      <span class="filter-title">Showing</span>

      <p class="filter" ng-if="vm.currentFilters">
        <span>{{vm.serializeFilters('coins', vm.currentFilters.offer.coinTypes)}}</span>
        within
        <span>{{(vm.currentFilters.location.withinDistance) + "km"}}</span>
        of
        <span>{{vm.serializeFilters('location', vm.currentFilters.location)}}</span>.
      </p>

      <div
        ng-show="vm.currentFilters.calendar.dates.from
        && vm.currentFilters.calendar.dates.to
        && vm.offers"
      >

        <p class="filter">
          <span>{{vm.currentFilters.calendar.dates.from}}</span>
          <span class="sep">to</span>
          <span>{{vm.currentFilters.calendar.dates.to}}</span>.
        </p>
      </div>

      <div ng-show="!vm.currentFilters.calendar.dates.from || !vm.currentFilters.calendar.dates.to">
        <p class="filter">
          <span>All dates</span>.
        </p>
      </div>
    </div>

    <div
      class="item item-text-wrap item-icon-right animated flipInX"
      ng-repeat="offer in vm.offers | orderBy: 'profile._price' track by $index | limitTo: 50"
      ng-if="offer.isPublished"
      ng-click="vm.viewOffer(offer)"
    >

      <span
        class="offer-title"
        ng-bind="offer.profile.title"
      ></span>

      <span
        class="offer-subtitle"
        ng-bind="offer.profile.subtitle"
      ></span>

      <div ng-show="!offer.isPlaceholder">

        <div
          class="coin"
          ng-repeat="coin in offer.coins.scrypt track by $index"
        >

          <span
            class="coin-type"
            ng-class="coin.coinType"
            ng-if="coin.coinType.indexOf('scrypt') !== -1"
          >Scrypt</span>

          <span
            class="coin-type"
            ng-class="coin.coinType"
            ng-if="coin.coinType.indexOf('scrypt') === -1"
          >Scrypt</span>

          <span class="coin-price">
            {{ coin.price | currency }} / Day
          </span>
        </div>

        <div
          class="coin"
          ng-repeat="coin in offer.coins.sha256 track by $index"
        >

          <span
            class="coin-type"
            ng-class="coin.coinType"
            ng-if="coin.coinType.indexOf('scrypt') === -1"
          >Scrypt</span>

          <span class="coin-price">
            {{ coin.price | currency }} / Day
          </span>
        </div>

      </div>

      <div ng-show="offer.isPlaceholder">
        <div
          class="coin"
          ng-repeat="coin in offer.coins.scrypt | limitTo:1 track by $index"
        >
          <span
            title="This phrase has a non-normative description mappable to CQRS at some ledger (link-relation)."
            longdesc="https://tools.ietf.org/html/rfc8288#section-3.4.1"
            rel="payment"
            class="coin-price"
          >
            Request Offer</a>
          </span>
        </div>
      </div>

      <i class="icon ionicons ion-chevron-right"></i>
    </div>

    <div
      class="item item-text-wrap no-items"
      ng-if="loading === false && vm.offers.length === 0"
    >
      <span
      >No offers available.</span>
    </div>
  </div>
</div>

