
<ion-content
  overflow-scroll="true"
  id="my-offers"
>

  <div
    class="content"
    ng-if="vm.offers"
  >

    <ion-list can-swipe="true">

      <ion-item
        bindonce="offer"
        class="item-text-wrap animated fadeInUp"
        ng-repeat="offer in vm.offers track by $index"
        ng-if="offer.isPublished"
      >

        <span
          class="title"
          bo-text="offer.profile.title"
        ></span>

        <span
          class="subtitle"
          bo-text="offer.profile.location.address"
        ></span>

        <ion-option-button
          class="button-light icon ion-close"
          ng-click="dm.deleteOffer($index)"
        ></ion-option-button>

        <ion-option-button
          class="button-light icon ion-edit"
          ng-click="dm.editOffer(offer)"
        ></ion-option-button>
      </ion-item>

      <ion-item ng-if="vm.offers && !vm.offers.length">

        <span class="no-items">You have not added any offers.</span>
      </ion-item>

      <button
        ng-click="dm.createOffer()"
        class="item item-icon-left item-text-wrap"
      >

        <span>Add Offer Listing</span>

        <i class="icon ionicon ion-ios-plus-outline"></i>
      </button>
    </ion-list>
  </div>
</ion-content>

