<div
  class="content block"
  data-tap-disabled="true"
>

  <style>
    body > figure > img {
      object-fit: scale-down;
    }
  </style>

  <div
    ng-if="vm.currentOffer && vm.currentOffer.name"
    class="info-block image animated fadeIn"
  >

    <img
      alt="{{vm.currentOffer.name||vm.currentOffer.profile.title}}"
      ng-if="(vm.currentOffer.name || vm.currentOffer.profile.title)"
      ng-src="{{(_.last(vm.currentOffer.profile.photos).image.url ||
      _.last(vm.currentProfile.photos).image.url) || './images/noPhoto@3x.png'}}"
      style="width: 100%; left: 0px; top:
      {{cropOffers.top||cropOffers.y||'auto'}}"
      class="~animated visible"
      image-role
      ng-class="{
        'intense': (!vm.currentOffer.name)
      }"
    />

    <div
      tgm-stars
      tgm-stars-list="vm.currentOffer.stars"
    >
    </div>

  </div>

  <div
    tgm-intense
    ng-if="!(vm.currentOffer && vm.currentOffer.name)"
    tgm-intense-offer="vm.currentOffer"
    class="info-block image animated fadeIn"
  >
    <img
      alt="{{vm.currentOffer.name||vm.currentOffer.profile.title}}"
      ng-src="{{(_.last(vm.currentOffer.profile.photos).image.url ||
      _.last(vm.currentProfile.photos).image.url) || './images/residence.jpg'}}"
      style="width: 100%;"
      class="intense ~animated ~fadeIn"
      image-role
    />

  </div>

  <div class="info-block title-block">

    <div
      class="inner"
    >

      <span
        class="title"
      >{{vm.currentProfile.title||vm.currentOffer.name||vm.currentOffer.profile.title}}</span>

      <span class="subtitle">{{vm.currentProfile.location.address||vm.currentOffer.address||vm.currentOffer.profile.location.address}}</span>
    </div>
  </div>

  <div
    class="info-block amenities"
    ng-hide="vm.currentOffer.name"
  >

    <div class="inner">

      <span
        class="no-items"
        ng-if="!vm.currentOffer.amenities.length"
      >
        No amenities provided
      </span>

      <ul class="amenities--list">
        <li
          ng-repeat="amenity in vm.currentOffer.amenities"
        >
          <img
            alt="{{amenity}}"
            ng-src="./images/icons/{{amenity}}.png"
          />
        </li>
      </ul>
      <style>
        .amenities--list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
        .amenities--list li {
          margin-top: 10px;
          flex-grow: 1;
        }
      </style>
    </div>
  </div>

  <div
    class="info-block description"
    ng-hide="vm.currentOffer.name"
  >

    <div class="inner">

      <span class="title">Description</span>
      <p>
        {{vm.offerDescription||vm.currentOffer.profile.description}}
      </p>
    </div>
  </div>

  <div class="info-block times">
    <div class="inner">
      <ul>

      <li
        class="coin"
        ng-if="vm.currentOffer.coins.erc20 && vm.currentOffer.coins.fresh"
        ng-repeat="coin in vm.currentOffer.coins.erc20.concat(vm.currentOffer.coins.fresh) track by $index"
      >
        <div class="row">

          <div class="col-40">
            Description
          </div>

          <div class="col-60">
            {{coin.description || coin.desc}}
          </div>
        </div>
        <div class="row">

          <div class="col-40">Available</div>

          <div class="col-60"
          >
            <span>
              {{moment(coin.availability.from).format('MM/DD/YYYY').toString()}}
              <!-- {{vm.cachedDate.first}} {{vm.cachedInitYear}} -->
            </span>
            <span class="sep">&ndash;</span>
            <span>
              {{moment(coin.availability.to).format('MM/DD/YYYY').toString()}}
              <!-- {{vm.cachedDate.last}} {{vm.cachedYear}} -->
            </span>
          </div>
        </div>

        <div class="row">

          <div class="col-40">Check In</div>

          <div class="col-60">
            {{moment([
              moment(coin.availability.from).format('MM/DD/YYYY').toString(),
              coin.availability.checkIn
            ].join(' ')).format('hh:mm a')}}
          </div>
        </div>

        <div class="row">

          <div class="col-40">Check Out</div>

          <div class="col-60">
            {{moment([
              moment(coin.availability.to).format('MM/DD/YYYY').toString(),
              coin.availability.checkOut
            ].join(' ')).format('hh:mm a')}}
          </div>

        </div>
      </li>
      </ul>

      <span
        class="no-items"
        ng-if="!vm.currentOffer.coins.erc20.length && !vm.currentOffer.coins.fresh.length"
      >
        No counterparties available.
      </span>
    </div>
  </div>

  <div class="info-block rates">

    <div class="inner">

      <span class="title">Rates</span>

      <span class="subtitle">Private counterparties</span>

      <div class="coin-block">

        <!--
        For hotels
        -->
        <div
          class="coin"
          ng-repeat="coin in vm.currentOffer.counterparties.fresh track by $index"
        >

          <div
            class="row coin-row"
            ng-click="vm.selectPrivateCoin($index)"
            ng-class="{'selected': coin.selected}"
          >

            <div class="col-60 type">

              <span
                class="coin-type"
                id="coinRef--{{coin._cid}}"
              >{{coin.desc||"Standard Coin"}}</span>

              <div class="top-title">
                <span ng-show="coin.options.allInclusive || coin.options.ultraAllInclusive">
                  All Inclusive<br />
                </span>
                <span ng-show="coin.options.assisted">
                  <i class="fa fa-wheelchair"></i>
                </span>
                <span ng-show="coin.options.breakfast">
                  <i class="icon ionicons ion-android-restaurant"></i>
                </span>
                <span ng-show="coin.options.freeWifi">
                  <i class="icon ionicons ion-wifi"></i>
                </span>
                <span ng-show="coin.options.smoking === false">
                  <i class="icon ionicons ion-no-smoking"></i>
                </span>
              </div>
              <style>.top-title span { display: inline !important; }</style>
            </div>

            <div class="col-40 price">
              <b>{{coin.price | currency}}</b>/day
            </div>
          </div>
        </div>

        <div
          class="coin"
          ng-if="vm.currentOffer.counterparties.erc20"
          ng-repeat="coin in vm.currentOffer.counterparties.erc20 track by $index"
        >

          <div
            class="row coin-row"
            ng-click="vm.selectErc20Coin($index)"
            ng-class="{'selected': coin.selected}"
          >

            <div class="col-60 type">

              <span
                class="coin-type"
                id="coinRef--{{coin._cid}}"
              >{{coin.desc||"Standard Coin"}}</span>

              <div class="top-title">
                <span ng-show="coin.options.allInclusive || coin.options.ultraAllInclusive">
                  All Inclusive<br />
                </span>
                <span ng-show="coin.options.assisted">
                  <i class="fa fa-wheelchair"></i>
                </span>
                <span ng-show="coin.options.breakfast">
                  <i class="icon ionicons ion-android-restaurant"></i>
                </span>
                <span ng-show="coin.options.freeWifi">
                  <i class="icon ionicons ion-wifi"></i>
                </span>
                <span ng-show="coin.options.smoking === false">
                  <i class="icon ionicons ion-no-smoking"></i>
                </span>
              </div>
              <style>.top-title span { display: inline !important; }</style>
            </div>

            <div class="col-40 price">
              <b>{{coin.price | currency}}</b>/day
            </div>
          </div>
        </div>

        <!--
        For Seller offers
        -->
        <div
          class="coin"
          ng-if="vm.currentOffer.coins.fresh.length && !vm.currentOffer.counterparties"
          ng-repeat="coin in vm.currentOffer.coins.fresh track by $index"
        >

          <div
            class="row coin-row"
            ng-click="vm.selectPrivateCoin($index)"
            ng-class="{'selected': coin.selected}"
          >

            <div class="col-60 type">

              <span
                class="coin-type"
              >Fresh Coin</span>

              <div class="top-title" ng-click="$log.info(coin)">
                <span ng-show="coin.bathType === 'ensuite'">
                  Ensuite Counterparty
                </span>
                <span ng-show="coin.bathType !== 'ensuite'">
                  Erc20 Counterparty
                </span>
              </div>
            </div>

            <div class="col-40 price">
              <b>{{coin.price | currency}}</b>/day
            </div>
          </div>
        </div>

        <span
          class="no-items"
          ng-if="!vm.currentOffer.coins.fresh.length && !vm.currentOffer.counterparties.fresh.length"
        >No private counterparties available.</span>
      </div>

      <span
        ng-if="!vm.currentOffer.counterparties.fresh.concat(vm.currentOffer.counterparties.erc20).length"
        class="subtitle
      ">Erc20 counterparties</span>

      <div class="coin-block">

        <!--
        For Seller offers
        -->
        <div
          class="coin"
          ng-if="vm.currentOffer.coins.erc20.length && !vm.currentOffer.counterparties.erc20"
          ng-repeat="coin in vm.currentOffer.coins.erc20 track by $index"
        >

          <div
            class="row coin-row"
            ng-click="vm.selectErc20Coin($index)"
            ng-class="{
              'selected': coin.selected
            }"
          >

            <div class="col-60 type">

              <span
                class="coin-type"
              >Erc20 Coin</span>

              <div
                class="top-title"
                ng-click="$log.info(coin)"
              >
                <span>Erc20 Counterparty</span>
              </div>
            </div>

            <div class="col-40 price">
              <b>{{coin.price | currency}}</b>/day
            </div>
          </div>
        </div>

        <span
          class="no-items"
          ng-if="!vm.currentOffer.coins.erc20.length"
          ng-hide="vm.currentOffer.counterparties.fresh || vm.currentOffer.counterparties.erc20"
        >
          No erc20 counterparties available.
        </span>
      </div>
    </div>
  </div>

  <div class="info-block location">

    <div class="inner">

      <span class="title">Location</span>

      <google-maps
        coords="[
          {{vm.currentOffer.geometry.position.latitude}},
          {{vm.currentOffer.geometry.position.longitude}}
        ]"
      ></google-maps>

      <span class="subtitle">
        {{vm.currentProfile.location.address||vm.currentOffer.address||vm.currentOffer.profile.location.address}}
      </span>
    </div>
  </div>
</div>

