
.bar-footer {

  background: #233954;

  button {  }

  .button {
    background: #233954;
    color: #f9f9f9;

  }

  .disabled {
    filter: grayscale(1);
    background: #233954;
    span {

      opacity: .1;
    }
  }

  .menu-item {
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: 5px;
    font-size: 28px;
  }

  .menu-item span {
    font-size: 9px;
    letter-spacing: .09ch;
  }

  .fa {
    font-size: 18px !important;
    line-height: 1;
    margin-top: -10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    transform: scale(2);
    line-height: 1.25;
    &:before {
      // visibility: hidden;
    }
  }

  .fa-home {
    background-image: url('../images/icons/iconHome@2x.png');
  }

  .fa-bed {
    background-image: url('../images/icons/iconProperties@2x.png');
  }

  .fa-pencil {
    background-image: url('../images/icons/iconBookings@2x.png');
  }

  .fa-map {
    background-image: url('../images/icons/iconExperiences@2x.png');
  }

  .fa-user {
    background-image: url('../images/icons/iconProfile@2x.png');
  }

  .active {

    .fa-home {
      background-image: url('../images/icons/iconHomeFilled@2x.png');
    }

    .fa-bed {
      background-image: url('../images/icons/iconPropertiesFilled@2x.png');
    }

    .fa-pencil {
      background-image: url('../images/icons/iconBookingsFilled@2x.png');
    }

    .fa-map {
      background-image: url('../images/icons/iconExperiencesFIlled@2x.png');
    }

    .fa-user {
      background-image: url('../images/icons/iconProfileFilled@2x.png');
    }
  }

  @include break-point-retina () {

    .fa-home {
      background-image: url('../images/icons/iconHome@3x.png');
    }

    .fa-bed {
      background-image: url('../images/icons/iconProperties@3x.png');
    }

    .fa-pencil {
      background-image: url('../images/icons/iconBookings@3x.png');
    }

    .fa-map {
      background-image: url('../images/icons/iconExperiences@3x.png');
    }

    .fa-user {
      background-image: url('../images/icons/iconProfile@3x.png');
    }

    .active {

      .fa-home {
        background-image: url('../images/icons/iconHomeFilled@3x.png');
      }

      .fa-bed {
        background-image: url('../images/icons/iconPropertiesFilled@3x.png');
      }

      .fa-pencil {
        background-image: url('../images/icons/iconBookingsFilled@3x.png');
      }

      .fa-map {
        background-image: url('../images/icons/iconExperiencesFIlled@3x.png');
      }

      .fa-user {
        background-image: url('../images/icons/iconProfileFilled@3x.png');
      }
    }

  }
}

ion-header-bar.bar.bar-header {
  background: white;
  color: $accentGreen;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  button.icon {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: $accentGreen;
    padding-top: 2px;
    &:active {
      opacity: 0.8;
    }
    &:before {
      font-size: 1.5rem;
    }
    &.ion-ios-arrow-thin-left:before {
      font-size: 2.25rem;
    }
  }
  h1 {
    color: $headerFontColor;
    font-weight: 400;
  }
}

.bar.bar-footer {

  height: 60px;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;

  button.button {

    flex: 0 25%;
    padding: 0;
    border-radius: 0;
    font-weight: 400;

    i {
      display: block;
      text-align: center;
    }

    span {
    }

    &.active {
      border: none;
      border-top: 3px #2b7aed solid;
      background-color: transparent;
      color: $accentGreen;
      font-weight: 600;
    }

    &:last-child {
      position: initial;
    }

    &:after {
      position: initial;
    }
  }
}

.item.settings {
  span {
    display: block;
    padding: 0 10px;
    line-height: 1.5;
  }
}

