#statistics {
  ion-content, ion-scroll, div.scroll, div.content {
    height: 100%;
  }
  div.block {
    height: 40vh;
    background: white;
    border-radius: 15px;
    @extend %centerAll;
    top: 40%;
    div.item {
      border: 0;
      max-width: 100%;
      @extend %centerAll;
      text-align: center;
      margin: 0;
    }
  }
}
