<!--
  @fileOverview ./app/templates/views/wallet/address.html

  @description
  Address view.

-->

<ion-view
  id="address"
  class="address--page"
>

  <ion-header-bar
    align-title="center"
    class="address--header"
  >
    <h1
      data-hint="Click this address to copy to clipboard."
      class="title hint--bottom hint--always"
    >Welcome</h1>
  </ion-header-bar>

  <ion-content>

    <div
      class="address--content content"
      ng-init="vm.load()"
    >

      <h2 style="color: #f9f9f9;">Congratulations!</h2>

      <p title="redacting [blah] [blah] 'account' barbarisms">Your wallet companion is opened.</p>

      <p>Your Wallet Address is:</p>

      <div
        tgm-clipboard-capture
        clipboard-data="0x{{vm.address}}"
      >
        <p>
          <span
            id="addy"
          >0x{{vm.address}}</span>
        </p>
      </div>

      <style>
        #addy[class*="hint--"] {
          display: inline-block;
          top: auto;
          position: absolute;
          width: calc(100% - 30px);
        }
      </style>

      <button
        class="~icon ~ionicons ~ion-ios-arrow-thin-left button next-button"
        ng-click="vm.viewBalances()"
      >View Balances</button>

    </div>
  </ion-content>

</ion-view>

