<!--
  @fileOverview ./app/templates/views/wallet/balances.html

   _           _                        _       _
  | |         | |                      | |     (_)     _
  | | _   ____| | ____ ____   ____ ____| |      _  ___| |_
  | || \ / _  | |/ _  |  _ \ / ___) _  ) |     | |/___)  _)
  | |_) | ( | | ( ( | | | | ( (__( (/ /| |_____| |___ | |__
  |____/ \_||_|_|\_||_|_| |_|\____)____)_______)_(___/ \___)

  @description
  Balance List.
  @idea
  Template is "flattened" from
      div>(div+(div>(div+div>(div+div))))
  to
      ol>li>(header+(div>div)+(footer>(div+div)))

-->

<ion-view
  id="balances"
  class="balances--page"
>

  <ion-header-bar
    align-title="center"
    class="balances--header"
  >
    <tgm-network
      rel="hosts"
      hosts="vm.hosts"
      rfc-ns="https://tools.ietf.org/html/rfc6690"
    ></tgm-network>
    <h1 class="title">Balances</h1>
  </ion-header-bar>

  <ion-content>
    <div class="balances--content content">
      <tgm-messenger-wallet></tgm-messenger-wallet>
      <tgm-messenger-stash
         balance-list="vm.balanceList"
      ></tgm-messenger-stash>
    </div>
  </ion-content>

</ion-view>

