<!--
  @fileOverview ./app/templates/views/wallet/history.html

  @description
  History view.

-->

<ion-view
  id="history"
  class="history--page"
>

  <ion-header-bar
    align-title="center"
    class="history--header"
  >
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">History</h1>
  </ion-header-bar>

  <ion-content>
    <div class="history--content content">
      <tgm-history-list></tgm-history-list>
    </div>
  </ion-content>

</ion-view>

