<!--
  @fileOverview ./app//templates/views/splash/import.html

  @description
  Various Account Types can be implemented for different Actor models[0].

  ___
  [0]: https://www.w3.org/TR/activitypub/#actor-objects
-->

<ion-view id="import-key">
  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">{{ vm.sectionTitle }}</h1>
  </ion-header-bar>
  <import-key></import-key>
</ion-view>

