<ion-view
  id="receive"
  class="receive--page"
>

  <ion-header-bar
    align-title="center"
    class="receive--header-bar"
  >
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class='title'>Receive</h1>
  </ion-header-bar>

  <ion-content>
    <div
      role="main"
      class="receive--content content"
      style="padding-bottom: 0;"
      ng-init="vm.init()"
    >

      <tgm-qrcode
        tgm-content="vm.configQrCodeDisplay.content"
        tgm-version="vm.configQrCodeDisplay.version"
        tgm-level="vm.configQrCodeDisplay.level"
        tgm-size="vm.configQrCodeDisplay.size"
        ng-show="vm.configQrCodeDisplay.content"
      ></tgm-qrcode>

      <form
        action="/api/v1/first-action"
        id="receiveForm"
        name="vm.receiveMessageForm"
        _name="vm['/api/v1/message/receive/receive']"
        method="{{vm.methods['/first-action'].method}}"
        ng-submit="vm.receiveMessageForm.$valid && vm.receive($event, vm.receiveForm)"
      >

        <fieldset>
          <dl>
            <dt><label for="receiveMessageAddress">Address</label></dt>
            <dd>

              <!--

                @name receiveMessageAddress
                @description
                Autoload a tumbled address from the private key.
                @param aria-disabled
                @param aria-hidden
                @param aria-label
                @param autocapitalize

              -->
              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Amount"
                autocapitalize="off"
                autocorrect="off"
                id="receiveMessageAddress"
                name="receiveMessageAddress"
                ng-attr-aria-invalid="{{vm.createReceiveForm.receiveMessageAddress.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.address"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="text"
              />

            </dd>

            <dt><label for="">Name</label></dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Amount"
                autocapitalize="off"
                autocorrect="off"
                id="receiveMessageAddress"
                name="receiveMessageAddress"
                ng-attr-aria-invalid="{{vm.createReceiveForm.receiveMessageAddress.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.address"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="text"
              />
            </dd>

            <dt><label for="">USD</label></dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Amount"
                autocapitalize="off"
                autocorrect="off"
                id="receiveMessageAddress"
                name="receiveMessageAddress"
                ng-attr-aria-invalid="{{vm.createReceiveForm.receiveMessageAddress.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.targetCurrency"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="number"
              />
            </dd>

            <dt><label for="">Amount</label></dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Amount"
                autocapitalize="off"
                autocorrect="off"
                id="receiveMessageAddress"
                name="receiveMessageAddress"
                ng-attr-aria-invalid="{{vm.createReceiveForm.receiveMessageAddress.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.amount"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="number"
              />
            </dd>

            <dt for="refQuantity">
              <label for="refQuantity">
                Refeference Quantity
              </label>
            </dt>
            <dd
              itemprop="referenceQuantity"
              itemscope
              itemtype="http://schema.org/QuantitativeValue"
            >
              <meta
                itemprop="value"
                content="1"
              />
              <meta
                itemprop="unitCode"
                content="BTC"
              />

              <input
                id="refQuantity"
                name="refQuantity"
                type="text"
                readonly="readonly"
                ng-model="vm.message.referenceQuantity"
                ng-disabled="true"
                aria-hidden="false"
              />
            </dd>

          </dl>
        </fieldset>
        <fieldset>

          <!--

           @TODO
          Needs sticky buttons, instead of "fixed".

           -->
          <button
            class="button next next-button"
            style="position: relative;"
            type="submit"
            ng-class="{
              'disabled': (!vm.receiveMessageForm.$valid)
            }"
          >
            Rake it in!
          </button>

        </fieldset>
      </form>

    </div>
  </ion-content>

</ion-view>
