<!--
  @fileOverview ./app/templates/views/wallet/send.html

  @description
  Send view.

-->

<ion-view
  id="send"
  class="send--page"
>

  <ion-header-bar
    align-title="center"
    class="send--header"
  >
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">Send</h1>
  </ion-header-bar>

  <ion-content>
    <div class="send--content content">

      <form
        _action="/api/v1/message"
        id="createMessageForm"
        name="vm.createMessageForm"
        _name="vm['/api/v1/message/send']"
        _method="post"
        ng-submit="vm.createMessageForm.$valid && vm.send($event, vm.createMessageForm, vm.message)"
      >

        <fieldset>
          <dl
            itemprop="priceSpecification"
            itemscope
            itemtype="http://schema.org/UnitPriceSpecification"
          >

            <dt>
              <label for="messageSender">Sender</label>
            </dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Sender"
                autocapitalize="off"
                autocorrect="off"
                id="messageSender"
                name="messageSender"
                ng-attr-aria-invalid="{{vm.createMessageForm.messageSender.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.sender"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="text"
              />

            </dd>

            <dt>
              <label for="messageRecipient">
                Recipient Address
              </label>
            </dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Recipient"
                autocapitalize="off"
                autocorrect="off"
                id="messageRecipient"
                name="messageRecipient"
                ng-attr-aria-invalid="{{vm.createMessageForm.messageRecipient.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.recipient"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="text"
              />

            </dd>

            <dt
              itemprop="price"
              content="{{vm.message.amount}}"
            >
              <label for="messageAmount">Amount</label>
            </dt>
            <dd>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Message Amount"
                autocapitalize="off"
                autocorrect="off"
                id="messageAmount"
                name="messageAmount"
                ng-attr-aria-invalid="{{vm.createMessageForm.messageAmount.$invalid}}"
                ng-disabled="false"
                ng-model="vm.message.amount"
                ng-required="true"
                ng-minlength="2"
                minlength="2"
                required="true"
                spellcheck="off"
                type="number"
              />

            </dd>

            <!--dt>
              <label
                for="messageCurrency"
              >
                Coin
              </label>
            </dt>
            <dd
              itemprop="priceCurrency"
              content="wei"
            >
              <select
                id="messageCurrency"
                name="messageCurrency"
                ng-model="vm.message.currency"
              >
                <option value="wei">WEI</option>
              </select>
            </dd-->

            <!--dt for="refQuantity">
              <label for="refQuantity">
                Refeference Quantity
              </label>
            </dt>
            <dd
              itemprop="referenceQuantity"
              itemscope
              itemtype="http://schema.org/QuantitativeValue"
            >
              <meta
                itemprop="value"
                content="1"
              />
              <meta
                itemprop="unitCode"
                content="BTC"
              />

              <input
                id="refQuantity"
                name="refQuantity"
                type="text"
                readonly="readonly"
                ng-model="vm.message.referenceQuantity"
                ng-disabled="true"
                aria-hidden="false"
              />
            </dd-->

          </dl>
        </fieldset>
        <fieldset>

          <button
            class="button next next-button"
            type="submit"
            ng-class="{
              'disabled': (!vm.createMessageForm.$valid)
            }"
          >
            Fire away!
          </button>

        </fieldset>
      </form>
    </div>
  </ion-content>

</ion-view>

