// ./app/styles/directives/progressBar.scss
@include Directive($name: 'bpc-progress-bar') {
  $progressBarHeight: 36px;

  .progress--content {
    background-color: #fff;
    height: $progressBarHeight;

    .content--list {
      list-style: none;
      height: $progressBarHeight;
      width: 100%;
    }

    .list--listing {
      display: block;
      content: ' ';
      left: 15px;
      top: 14px;
      height: 8px;
      position: absolute;
      border-bottom: none;
      border-radius: 15px;

      &.is-background {
        background-color: #eeeeee;
        width: calc(100% - 30px);
      }
      &.is-foreground {
        background: #66a522;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.step-1 {
        width: 25%;
      }
      &.step-2 {
        width: 50%;
      }
      &.step-3 {
        width: 75%;
      }
      &.step-4 {
        width: calc(100% - 30px);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
