
<div class="block">

  <h2 class="title">Select Account <span>T</span>ype</h2>

  <div
    class="account-type buyer row"
    ng-click="createAccount(types.member)"
  >
    <div class="col">
      <div class="item item-text-wrap item-icon-right">
        <span class="super">I am a Buyer</span>
        <span class="sub">
          <span class="icon-wallet"></span>
          <span class="label">
            Sign up here if you want to reserve a coin or a token
          </span>
        </span>
        <i class="icon ionicons ion-ios-arrow-right"></i>
      </div>
    </div>
  </div>
</div>

