<div
  class="
  flow--{{vm.accountFlow.flow}}
  flow--step--{{vm.accountFlow.currentStep}}
  "
>

  <ion-content overflow-scroll="true">

    <div
      class="content"
      ng-switch="vm.accountFlow.currentStep"
    >

      <style>
        .input--error {
          position: absolute;
          left: -9999px;
        }
      </style>
      <div
        class="block"
        ng-switch-when="0"
      >

        <span class="super">
          <p>Please fill in all fields.</p>
          <p>Your account will be verified within 24 hours.</p>
        </span>

        <form
          name="dm.createProfileForm"
          ng-submit="dm.createProfileForm.$valid === true && dm.next()"
        >

          <p><i>All fields are required.</i></p>

          <div class="block top-block">
            <img
              alt="Telegraf Wallet"
              src="images/bpLogo.png" />
          </div>

          <div class="input-block">
            <label
              ng-class="{
                'hint--right': (dm.createProfileForm.firstname.$dirty && dm.createProfileForm.firstname.$invalid),
                'hint--always': (dm.createProfileForm.firstname.$dirty && dm.createProfileForm.firstname.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.firstname.$error.required ? 'Required' : undefined}}"
              for="firstname"
            >First Name</label>

            <input
              autocapitalize="false"
              aria-disabled="false"
              aria-hidden="false"
              aria-label="First Name"
              id="firstname"
              name="firstname"
              ng-attr-aria-invalid="{{dm.createProfileForm.firstname.$invalid}}"
              ng-disabled="false"
              ng-maxlength="40"
              ng-model="dm.user.profile.name.first"
              ng-required="true"
              required="true"
              type="text"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.firstname.$valid === true"
              ng-if="dm.createProfileForm.firstname.$valid === true"
            ></i>

            <div
              class="input--error"
              ng-show="dm.createProfileForm.firstname.$valid === false
              && dm.createProfileForm.firstname.$dirty === true
              && dm.createProfileForm.firstname.$touched === true"
            >
              <label
                for="firstname"
              >
                <i class="icon ionicon ion-required" aria-hidden="true"></i>
                <span style="text-transform: none;">This field is required.</span>
              </label>
            </div>
          </div>

          <div class="input-block">

            <label
              for="lastname"
              ng-class="{
                'hint--right': (dm.createProfileForm.lastname.$dirty && dm.createProfileForm.lastname.$invalid),
                'hint--always': (dm.createProfileForm.lastname.$dirty && dm.createProfileForm.lastname.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.lastname.$error.required ? 'Required' : undefined}}"
            >Last Name</label>

            <input
              autocapitalize="false"
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Last Name"
              id="lastname"
              name="lastname"
              ng-attr-aria-invalid="{{dm.createProfileForm.lastname.$invalid}}"
              ng-disabled="false"
              ng-maxlength="60"
              ng-model="dm.user.profile.name.last"
              ng-required="true"
              required="true"
              type="text"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.lastname.$valid === true"
              ng-if="dm.createProfileForm.lastname.$valid === true"
            ></i>

            <div
              class="input--error"
              ng-show="dm.createProfileForm.lastname.$valid === false
              && dm.createProfileForm.lastname.$dirty === true
              && dm.createProfileForm.lastname.$touched === true"
            >
              <i class="fa fa-required" aria-hidden="true"></i>
              This field is required.
            </div>
          </div>

          <div
            class="input-block"
            style="display: none;"
            ng-if="false"
          >

            <label
              ng-class="{
                'hint--right': (dm.createOrgForm.primaryContact.$dirty && dm.createOrgForm.primaryContact.$invalid),
                'hint--always': (dm.createOrgForm.primaryContact.$dirty && dm.createOrgForm.primaryContact.$invalid)
              }"
              ng-attr-data-hint="{{dm.createOrgForm.primaryContact.$error.required ? 'Required' : undefined}}"
              for="primaryContact"
            >Primary Contact</label>

            <input
              ng-attr-aria-invalid="{{dm.createOrgForm.primaryContact.$invalid}}"
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Primary Contact"
              autocapitalize="false"
              id="primaryContact"
              name="primaryContact"
              ng-disabled="false"
              ng-model="dm.user.primaryContact"
              ng-maxlength="100"
              ng-required="true"
              required="true"
              type="text"
            />

            <i
              ng-attr-ng-show="dm.createOrgForm.primaryContact.$valid === true"
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-if="dm.createOrgForm.primaryContact.$valid"
            ></i>

            <ul ng-show="!dm.createOrgForm.$valid">
              <li class="input--error"
                ng-show="dm.createOrgForm.primaryContact.$error.required === true &&
                dm.createOrgForm.primaryContact.$dirty === true &&
                dm.createOrgForm.primaryContact.$touched === true"
              >This field is required.</li>
              <li class="input--error"
                ng-show="dm.createOrgForm.primaryContact.$error.pattern === true &&
                dm.createOrgForm.primaryContact.$dirty === true &&
                dm.createOrgForm.primaryContact.$touched === true"
              >
                Please provide a first and last name.
              </li>
            </ul>
          </div>

          <div class="input-block">
            <label
              for="phone"
              ng-class="{
                'hint--right': (dm.createProfileForm.phone.$dirty && dm.createProfileForm.phone.$invalid),
                'hint--always': (dm.createProfileForm.phone.$dirty && dm.createProfileForm.phone.$invalid)
              }"
              ng-attr-data-hint="{{((dm.createProfileForm.phone.$error.required ?
              'Required' : undefined) ||
              (dm.createProfileForm.phone.$error.pattern ? 'Invalid phone number'
              : undefined))}}"
            >Phone</label>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Phone Number"
              id="phone"
              name="phone"
              ng-attr-aria-invalid="{{dm.createProfileForm.phone.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.profile.phone"
              _ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/"
              ng-required="true"
              placeholder="(+1) (XXX) XXX-XXXX"
              required="true"
              type="text"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.phone.$valid === true"
              ng-if="dm.createProfileForm.phone.$valid === true"
            ></i>

            <ul ng-show="dm.createProfileForm.$valid === false">

              <li
                class="input--error"
                ng-show="dm.createProfileForm.phone.$error.required === true &&
                dm.createProfileForm.phone.$dirty === true &&
                dm.createProfileForm.phone.$touched === true"
              >
                This field is required.
              </li>

              <li
                class="input--error"
                ng-show="dm.createProfileForm.phone.$error.pattern === true &&
                dm.createProfileForm.phone.$dirty === true &&
                dm.createProfileForm.phone.$touched === true"
              >
                Please provide a valid phone number.
              </li>
            </ul>
          </div>

          <div class="input-block">
            <label
              for="defaultCity"
              ng-class="{
                'hint--right': (dm.createProfileForm.defaultCity.$dirty && dm.createProfileForm.defaultCity.$invalid),
                'hint--always': (dm.createProfileForm.defaultCity.$dirty && dm.createProfileForm.defaultCity.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.defaultCity.$error.required ? 'Required' : undefined}}"
            >City</label>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="City"
              id="defaultCity"
              name="defaultCity"
              ng-attr-aria-invalid="{{dm.createProfileForm.defaultCity.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.profile.location.city"
              ng-required="true"
              required="true"
              type="text"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.defaultCity.$valid === true"
              ng-if="dm.createProfileForm.defaultCity.$valid === true"
            ></i>

            <div class="input--error"
              ng-show="dm.createProfileForm.defaultCity.$valid === false &&
              dm.createProfileForm.defaultCity.$dirty === true &&
              dm.createProfileForm.defaultCity.$touched === true"
            >This field is required.</div>
          </div>

          <div class="input-block">

            <label
              for="defaultCountry"
              ng-class="{
                'hint--right': (dm.createProfileForm.defaultCountry.$dirty && dm.createProfileForm.defaultCountry.$invalid),
                'hint--always': (dm.createProfileForm.defaultCountry.$dirty && dm.createProfileForm.defaultCountry.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.defaultCountry.$error.required ? 'Required' : undefined}}"
            >Country</label>

            <select
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Country"
              id="defaultCountry"
              name="defaultCountry"
              ng-change="dm.loadProvincesAndStates(dm.user.profile.location.country)"
              ng-disabled="false"
              ng-model="dm.user.profile.location.country"
              ng-required="true"
              required="true"
            >
              <option value="">Please select a country</option>
              <option
                value="{{country.id}}"
                ng-repeat="country in vm.countries track by $index"
              >{{country.name}}</option>
            </select>

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.defaultCountry.$valid === true"
              ng-if="dm.createProfileForm.defaultCountry.$valid === true"
            ></i>

            <div
              class="input--error"
              ng-show="dm.createProfileForm.defaultCountry.$required &&
              dm.createProfileForm.defaultCountry.$valid === false &&
              dm.createProfileForm.defaultCountry.$dirty === true &&
              dm.createProfileForm.defaultCountry.$touched === true"
            >This field is required.</div>
          </div>

          <div class="input-block">
            <label
              for="defaultState"
              ng-class="{
                'hint--right': (dm.createProfileForm.defaultStateSelect.$dirty
                && dm.createProfileForm.defaultStateSelect.$invalid),
                'hint--always': (dm.createProfileForm.defaultStateSelect.$dirty
                && dm.createProfileForm.defaultStateSelect.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.defaultState.$error.required ? 'Required' : undefined}}"
            >Province or State</label>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Province/State"
              id="defaultState"
              name="defaultState"
              ng-attr-aria-invalid="{{dm.createProfileForm.defaultState.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.profile.location.state"
              ng-show="vm.provinces.$error.not_found || !vm.provinces.length"
              ng-required="true"
              placeholder="Try selecting a Country first"
              required="true"
              type="text"
            />

            <select
              aria-disabled="false"
              aria-hidden="false"
              aria-label="State or Province"
              id="defaultStateSelect"
              name="defaultStateSelect"
              ng-attr-aria-invalid="{{dm.createProfileForm.defaultState.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.profile.location.state"
              ng-show="vm.provinces.length"
              ng-required="true"
              required="true"
            >
              <option value="">Please select a Province or State</option>
              <option
                value="{{province}}"
                ng-repeat="province in vm.provinces track by $index"
              >{{province}}</option>
            </select>

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.defaultState.$valid === true"
              ng-if="dm.createProfileForm.defaultState.$valid === true"
            ></i>

            <div
              class="input--error"
              ng-show="dm.createProfileForm.defaultState.$valid === false &&
              dm.createProfileForm.defaultState.$dirty === true &&
              dm.createProfileForm.defaultState.$touched === true"
            >This field is required.</div>
          </div>

          <div class="input-block">

            <label
              for="defaultPostalCode"
              ng-class="{
                'hint--right': (dm.createProfileForm.defaultPostalCode.$dirty && dm.createProfileForm.defaultPostalCode.$invalid),
                'hint--always': (dm.createProfileForm.defaultPostalCode.$dirty && dm.createProfileForm.defaultPostalCode.$invalid)
              }"
              ng-attr-data-hint="{{dm.createProfileForm.defaultPostalCode.$invalid ? 'Required' : undefined}}"
            >Postal Code</label>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Postal Code"
              id="defaultPostalCode"
              name="defaultPostalCode"
              ng-attr-aria-invalid="{{dm.createProfileForm.defaultPostalCode.$invalid}}"
              ng-disabled="false"
              ng-maxlength="15"
              ng-minlength="3"
              ng-model="dm.user.profile.location.postalCode"
              ng-pattern="/^(\d{2,5}(-\s\d{2,4})?|\d{6}?|[A-Za-z]\d[A-Za-z] *\d[A-Za-z]\d)|(([A-Za-z][A-Za-z]-)?(\d{2,3}) *\d{2,3})$/"
              ng-required="true"
              placeholder="X1X 1X1"
              required="true"
              type="text"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createProfileForm.defaultPostalCode.$valid === true"
              ng-if="dm.createProfileForm.defaultPostalCode.$valid === true"
            ></i>

            <ul ng-show="!dm.createProfileForm.$valid">

              <li
                class="input--error"
                ng-show="dm.createProfileForm.defaultPostalCode.$error.required === true &&
                dm.createProfileForm.defaultPostalCode.$dirty === true &&
                dm.createProfileForm.defaultPostalCode.$touched === true"
              >Please review your entry.</li>

              <li class="input--error"
                ng-show="dm.createProfileForm.defaultPostalCode.$error.pattern === true &&
                dm.createProfileForm.defaultPostalCode.$dirty === true &&
                dm.createProfileForm.defaultPostalCode.$touched === true"
              >
                Please provide a valid postal code.
              </li>
            </ul>

          </div>

          <button
            id="create-user-profile"
            ng-class="{
              'disabled': dm.createProfileForm.$valid === false
            }"
            class="~button ~next next-button"
            ng-click="dm.submit()"
          >Next</button>

        </form>
      </div>

      <div
        class="block"
        ng-switch-when="1"
      >

        <span class="super">
          Please create a Username and Password.
        </span>

        <form
          name="dm.createUsernameForm"
        >

          <div class="input-block">

            <label
              for="email"
              ng-class="{
                'hint--right': (dm.createUsernameForm.email.$dirty && dm.createUsernameForm.email.$invalid),
                'hint--always': (dm.createUsernameForm.email.$dirty && dm.createUsernameForm.email.$invalid)
              }"
              ng-attr-data-hint="{{(dm.createUsernameForm.email.$error.required ? 'Required' : undefined)}}"
            >Email</label>

            <input
              autocapitalize="false"
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Email"
              id="email"
              name="email"
              ng-attr-aria-invalid="{{dm.createUsernameForm.email.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.username"
              ng-required="true"
              required="true"
              type="email"
            />

            <i
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-attr-ng-show="dm.createUsernameForm.email.$valid === true"
              ng-if="dm.createUsernameForm.email.$valid === true"
            ></i>

            <ul ng-show="!dm.createUsernameForm.$valid === true">

              <li class="input--error"
                ng-show="dm.createUsernameForm.email.$error.required &&
                dm.createUsernameForm.email.$error.required === true &&
                dm.createUsernameForm.email.$dirty === true &&
                dm.createUsernameForm.email.$touched === true"
              >This field is required.</li>

              <li class="input--error"
                ng-show="dm.createUsernameForm.email.$dirty === true &&
                dm.createUsernameForm.email.$touched === true"
              >
                Please provide a valid email address.
              </li>
            </ul>
          </div>

          <div class="input-block">

            <div class="row">
              <div class="col">

                <label
                  for="password"
                  ng-class="{
                    'hint--right': (dm.createUsernameForm.password.$dirty && dm.createUsernameForm.password.$invalid),
                    'hint--always': (dm.createUsernameForm.password.$dirty && dm.createUsernameForm.password.$invalid)
                  }"
                  ng-attr-data-hint="{{dm.createUsernameForm.password.$invalid ? 'Must be >5 characters' : undefined}}"
                >Password</label>

              </div>
              <div class="col">
                <span
                  style="text-transform: lowercase; font-variant: small-caps;"
                  on-touch="dm.handler.showPass()"
                >{{ dm.showPass ? 'Hide' : 'Show' }}</span>
              </div>
            </div>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Password"
              autocapitalize="off"
              autocorrect="off"
              id="password"
              minlength="6"
              name="password"
              ng-attr-aria-invalid="{{dm.createUsernameForm.password.$invalid}}"
              ng-disabled="false"
              ng-minlength="6"
              ng-model="dm.user.password"
              ng-required="true"
              ng-show="!dm.showPass"
              required="true"
              placeholder="●●●●●●"
              spellcheck="off"
              type="password"
            />

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Password"
              autocapitalize="off"
              autocorrect="off"
              id="passwordShewn"
              minlength="6"
              name="passwordShewn"
              ng-attr-aria-invalid="{{dm.createUsernameForm.passwordShewn.$invalid}}"
              ng-disabled="false"
              ng-minlength="6"
              ng-model="dm.user.password"
              ng-required="true"
              ng-show="dm.showPass"
              required="true"
              placeholder="●●●●●●"
              spellcheck="off"
              type="text"
            />

            <i
              ng-show="dm.createUsernameForm.password.$valid === true"
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-if="dm.createUsernameForm.password.$valid === true"
            ></i>

            <div class="input--error"
              ng-show="dm.createUsernameForm.password.$error.required &&
              dm.createUsernameForm.password.$valid === false &&
              dm.createUsernameForm.password.$dirty === true &&
              dm.createUsernameForm.password.$touched === true"
            >This field is required.</div>
          </div>

          <div class="input-block">

            <label
              ng-class="{
                'hint--right': (dm.createUsernameForm.confirmPassword.$dirty && dm.createUsernameForm.confirmPassword.$invalid),
                'hint--always': (dm.createUsernameForm.confirmPassword.$dirty && dm.createUsernameForm.confirmPassword.$invalid)
              }"
              ng-attr-data-hint="{{dm.createUsernameForm.confirmPassword.$invalid
              ? 'Must match' : undefined}}"
              for="confirmPassword"
            >Confirm Password</label>

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Confirm Password"
              autocapitalize="off"
              autocorrect="off"
              tgm-match-password
              id="confirmPassword"
              name="confirmPassword"
              ng-attr-aria-invalid="{{dm.createUsernameForm.confirmPassword.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.confirmPassword"
              ng-required="true"
              ng-minlength="6"
              minlength="6"
              required="true"
              spellcheck="off"
              target-password="dm.user.password"
              ng-show="!dm.showPass"
              type="password"
            />

            <input
              aria-disabled="false"
              aria-hidden="false"
              aria-label="Confirm Password"
              autocapitalize="off"
              autocorrect="off"
              tgm-match-password
              id="confirmPasswordShewn"
              name="confirmPasswordShewn"
              ng-attr-aria-invalid="{{dm.createUsernameForm.confirmPassword.$invalid}}"
              ng-disabled="false"
              ng-model="dm.user.confirmPassword"
              ng-required="true"
              ng-minlength="6"
              minlength="6"
              required="true"
              spellcheck="off"
              ng-show="dm.showPass"
              target-password="dm.user.password"
              type="text"
            />

            <i
              ng-show="dm.createUsernameForm.confirmPassword.$valid === true"
              class="icon ionicons animated fadeIn ion-checkmark md-checkmark validation-icon"
              ng-if="dm.createUsernameForm.confirmPassword.$valid === true"
            ></i>

            <div class="input--error"
              ng-show="dm.createUsernameForm.confirmPassword.$valid === false &&
              dm.createUsernameForm.confirmPassword.$dirty === true &&
              dm.createUsernameForm.confirmPassword.$touched === true"
            >This field is required.</div>
          </div>

          <div class="errors">
            <ul>
              <li
                ng-repeat="error in dm.errors track by $index"
                bindonce="error"
              >
                <span style="color: red" bo-text="error.message"></span>
              </li>
            </ul>
          </div>

          <button
            id="create-buyer"
            ng-class="{
              'disabled': dm.createUsernameForm.$valid === false
            }"
            class="~button ~next next-button"
            ng-click="dm.submit()"
          >Register</button>

        </form>
      </div>

      <div
        class="block"
        ng-switch-when="2"
      >
        <tgm-add-payment
          add-payment-method="vm.submit()"
          user="dm.user"
        ></tgm-add-payment>
      </div>
    </div>
  </ion-content>
</div>

