<div
  ng-class="{
    'import-key--view': true
  }"
>

  <ion-content 
    overflow-scroll="true"
  >

    <div
      class="content import-key--content"
    >

      <style>
        .input--error {
          position: absolute;
          left: -9999px;
        }
      </style>

      <div
        class="block import-key--block"
      >

        <span 
          class="super import-key--super"
        >
          <p>Import your key.</p>
        </span>

        <form
          action="/api/v1/importKey"
          method="get"
          id="importKeyForm"
          name="vm.importKeyForm"
          class="import-key--form"
          ng-submit="vm.importKeyForm.$valid === true && vm.next()"
        >

          <fieldset 
            class="import-key--fieldset"
          >
            <div class="import-key--inner">

              <label 
                class="import-key--label"
                for="keyFileUrlPath"
              >
                Key File
              </label>

              <input
                aria-disabled="false"
                aria-hidden="false"
                aria-label="Key file (gist.github.com?)"
                autocapitalize="off"
                autocorrect="off"
                class="import-key--input__text"
                id="keyFileUrlPath"
                name="keyFileUrlPath"
                ng-attr-aria-invalid="{{vm.importKeyForm.keyFileUrlPath.$invalid}}"
                ng-disabled="false"
                ng-model="dm.user.$keyFileUrlPath"
                ng-required="true"
                ng-minlength="6"
                minlength="6"
                required="true"
                spellcheck="off"
                type="text"
              />

            </div>
          </fieldset>

          <fieldset style="border:0 ">

            <button
              id="import-key"
              ng-class="{
                'disabled': vm.importKeyForm.$valid === false
              }"
              class="~button ~next next-button"
              ng-click="vm.submit()"
            >Import</button>

          </fieldset>
        </form>

      </div>

    </div>
  </ion-content>
</div>

