<div class="block">

  <h2 class="title">Log In</h2>

  <form
    id="loginForm"
    name="dm.loginForm"
  >

    <div class="input-block">

      <label
        ng-class="{
          'hint--right': (!dm.loginForm.username.$untouched && dm.loginForm.username.$invalid),
          'hint--always': (!dm.loginForm.username.$untouched && dm.loginForm.username.$invalid)
        }"
        ng-attr-data-hint="{{dm.loginForm.username.$invalid ? 'Valid Email Required' : undefined}}"
        for="username"
      >Email</label>

      <input
        ng-attr-aria-invalid="{{dm.loginForm.username.$invalid}}"
        name="username"
        id="username"
        autocapitalize="off"
        autocomplete="off"
        type="email"
        ng-class="{ 'error': dm.error }"
        ng-focus="dm.error = false"
        ng-model="dm.user.email"
        ng-attr-ng-required="{{dm.loginForm.username.$invalid}}"
        required="true"
      />
    </div>

    <div class="input-block">

      <div class="row">
        <div class="col">
          <label for="password">Password</label>
        </div>
      </div>

      <input
        ng-attr-aria-invalid="{{dm.loginForm.password.$invalid}}"
        ng-attr-ng-required="{{dm.loginForm.password.$invalid}}"
        id="password"
        name="password"
        type="password"
        autocapitalize="off"
        autocomplete="off"
        ng-class="{ 'error': dm.error }"
        ng-focus="dm.error = false"
        ng-model="dm.user.password"
        ng-if="!dm.showPass"
        ng-required="true"
        ng-minlength="6"
        required="true"
      />

      <input
        ng-attr-aria-invalid="{{dm.loginForm.passwordShewn.$invalid}}"
        ng-attr-ng-required="{{dm.loginForm.passwordShewn.$invalid}}"
        id="passwordShewn"
        name="passwordShewn"
        type="text"
        autocapitalize="off"
        autocomplete="off"
        ng-class="{ 'error': dm.error }"
        ng-focus="dm.error = false"
        ng-model="dm.user.password"
        ng-if="dm.showPass"
        ng-required="true"
        ng-minlength="6"
        required="true"
      />

      <span
        class="error"
        ng-show="dm.error"
      >{{dm.errorMsg}}</span>

    </div>

    <div class="input-block">

      <div
        class="row ~hint--bottom"
      >
        <div class="col">
          <label
            for="qrShwen"
          >Shuffle test</label>
        </div>
      </div>

      <div
          style="text-align: center"
      >
        <span
          data-hint="{{dm.qrcode.content}}"
          class="passphrase hint--top hint--always"
        >&nbsp;</span>
        <style>
          [class*="hint--"].passphrase:after {
            top: -35px;
          }
          [class*="hint--"].passphrase:before {
            top: -11px;
          }
        </style>
      </div>
      <input
        ng-attr-aria-invalid="{{dm.loginForm.qrShewn.$invalid}}"
        ng-attr-ng-required="{{dm.loginForm.qrShewn.$invalid}}"
        id="qrShewn"
        name="qrShewn"
        type="text"
        autocapitalize="off"
        autocomplete="off"
        ng-class="{ 'error': dm.error }"
        ng-focus="dm.error = false"
        ng-model="dm.user.qrentry"
        ng-required="true"
        ng-minlength="6"
        required="true"
      />

      <span
        class="error"
        ng-show="dm.error"
      >{{dm.errorMsg}}</span>

      <!-- <div -->
      <!--   style="text-align: center;" -->
        <!-- class="" -->
      <!-- > -->
        <!-- <qrcode -->
          <!-- ng-if="dm.qrcode.content !== ''" -->
          <!-- version="{{dm.qrcode.version}}" -->
          <!-- error-correction-level="{{dm.qrcode.level}}" -->
          <!-- size="{{dm.qrcode.size}}" -->
          <!-- data="{{dm.qrcode.content}}" -->
        <!-- ></qrcode> -->
      <!-- </div> -->

    </div>

    <span
      class="sub"
      ui-sref="app.forgotPassword"
    >Forgot Password?</span>

    <div class="button-group row">

      <button
        type="submit"
        ng-disabled="dm.qrcode.content !== dm.user.qrentry"
        ng-click="(dm.qrcode.content === dm.user.qrentry) && dm.login(dm.user)"
        class="button submit-button icon ionicons ion-ios-arrow-thin-right"
      >
        <span
        ></span>
      </button>
    </div>

  </form>

  <style>
    input {
      color: #fff !important;
    }
  </style>
</div>

