<!--

    @fileOverview ./app/templates/views/coins.html

                _
               (_)
      ____ ___  _ ____   ___
     / ___) _ \| |  _ \ /___)
    ( (__| |_| | | | | |___ |
     \____)___/|_|_| |_(___/

    @description
    @controller homeController

-->

<ion-view
  id="coins"
  class="CoinsController"
>

  <ion-header-bar align-title="center">
    <h1 class="title">General Store</h1>
  </ion-header-bar>

  <ion-content
    data-tap-disabled="true"
    overflow-scroll="true"
  >
    <!--messages analytics-on="scrollby"></messages-->

    <!-- <li ng-repeat="offer in vm.offers"> -->
    <!--   <dl> -->
    <!--     <dt>Title</dt> -->
    <!--     <dd>{{offer.profile.title}}</dd> -->

    <!--   </dl> -->
    <!-- </li> -->

    <ion-list>
      <ion-item
        ng-repeat="offer in vm.offers track by $index"
        ng-click="vm.viewNewOffer($event, offer)"
      >
        {{offer.profile.title}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

