<ion-view id="create-new-offer-view">

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">{{vm.sectionTitle}}</h1>
  </ion-header-bar>

  <ion-content>

    <form
      id="createMissiveForm"
      name="vm.createMissiveForm"
      ng-submit="vm.createMissiveForm.$valid && vm.createMissive()"
    >

      <fieldset class="block">

        <div class="input-block">

          <label for="Title">
                  Title
          </label>

          <input
            aria-disabled="false"
            aria-hidden="false"
            aria-label="Title"
            autocapitalize="off"
            autocorrect="off"
            id="title"
            name="title"
            ng-attr-aria-invalid="{{vm.createMissiveForm.title.$invalid}}"
            ng-disabled="false"
            ng-required="true"
            ng-minlength="3"
            ng-model="vm.missive.profile.title"
            minlength="3"
            required="true"
            spellcheck="off"
            type="text"
          />

          <label for="Subtitle">
                  Subtitle
          </label>

          <input
            aria-disabled="false"
            aria-hidden="false"
            aria-label="Subtitle"
            autocapitalize="off"
            autocorrect="off"
            id="subtitle"
            name="subtitle"
            ng-attr-aria-invalid="{{vm.createMissiveForm.subtitle.$invalid}}"
            ng-disabled="false"
            ng-required="true"
            ng-minlength="3"
            ng-model="vm.missive.profile.subtitle"
            minlength="3"
            required="true"
            spellcheck="off"
            type="text"
          />

          <label for="Description">
                  Description
          </label>

          <input
            aria-disabled="false"
            aria-hidden="false"
            aria-label="Description"
            autocapitalize="off"
            autocorrect="off"
            id="description"
            name="description"
            ng-attr-aria-invalid="{{vm.createMissiveForm.description.$invalid}}"
            ng-disabled="false"
            ng-required="true"
            ng-minlength="3"
            ng-model="vm.missive.profile.description"
            minlength="3"
            required="true"
            spellcheck="off"
            type="text"
          />

          <label for="Offer Type">
                  Offer Type
          </label>

          <input
            aria-disabled="false"
            aria-hidden="false"
            aria-label="Offer Type"
            autocapitalize="off"
            autocorrect="off"
            id="offerType"
            name="offerType"
            ng-attr-aria-invalid="{{vm.createMissiveForm.offerType.$invalid}}"
            ng-disabled="false"
            ng-required="true"
            ng-minlength="3"
            ng-model="vm.missive.profile.offerType"
            minlength="3"
            required="true"
            spellcheck="off"
            type="text"
          />

        </div>

      </fieldset>

      <fieldset>
        <div class="button-group">

          <!-- <button> -->
          <!--    Next -->
          <!-- </button> -->
          <button>
            Cancel
          </button>
          <button
            type="submit"
            class="button next button-next next-button"
          >
            Publish
          </button>
        </div>
      </fieldset>
    </form>

  </ion-content>

</ion-view>

