<ion-view id="create-listing-view">

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">{{vm.sectionTitle}}</h1>
  </ion-header-bar>

  <create-missive></create-missive>

</ion-view>
