<!-- // ./app/templates/views/map-view.html

-->

<ion-view
  id="mapView"
  class="MapViewController"
>

  <ion-header-bar align-title="center">

    <button
      ng-click="vm.filterPropertiesModal.show()"
      class="button button-icon icon ionicons ion-ios-settings-strong animated
      fadeInLeft"
    ></button>

    <h1 class="title">Near Here</h1>
  </ion-header-bar>

  <ion-content
    data-tap-disabled="true"
  >

    <div
      class="animated zoomInUp"
      style="
      position : absolute;
      top      : 0px;
      bottom   : 0px;
      left     : 0px;
      right    : 0px;"
    >
      <!-- <leaflet -->
      <!--   id="mapViewContainer" -->
      <!--   lf-center="map.center" -->
      <!--   ng-if="map" -->
      <!--   width="100%" -->
      <!--   tiles="tiles" -->
      <!--   style=" -->
      <!--   height: calc(100% - 60px); -->
      <!--   " -->
      <!--   markers="map.markers" -->
      <!--   controls="controls" -->
      <!-- ></leaflet> -->
      <ng-map
        center="{{map.center.lat}},{{map.center.lng}}"
        id="mapViewContainer"
        zoom="{{map.zoom}}"
        disable-default-u-i="true"
        map-type-control-options="[
          'mapTypeIds': ['Styled']
        ]"
        map-type-id="'Styled'"
        style="
        width: 100%;
        height: calc(100% - 60px);
        "
      >
      </ng-map>
    </div>

    <!-- <messages -->
    <!--   style="position: absolute; visibility: hidden;" -->
    <!-- ></messages> -->

    <ion-list
      style="position: absolute; visibility: hidden;"
    >
      <ion-item
        ng-repeat="offer in vm.offers track by $index"
        ng-click="vm.viewNewOffer($event, offer)"
      >
        {{offer.profile.title}}
      </ion-item>
    </ion-list>



  </ion-content>

</ion-view>

