<ion-view
  id="profile"
  class="profile--settings"
>

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>

    <h1 class="title">About</h1>
  </ion-header-bar>

  <ion-content overflow-scroll="true">

    <ion-list>
      <ion-item
        ng-show="vm.role === 'buyer' || vm.user.role === 'member'"
        ng-click="vm.viewPaymentMethods()"
        class="app--paymentMethods"
        style="display: none;"
      >
        <span
          class="paymentMethods--label"
          title="Add / Edit Credit Card"
        >
          <span class="label--title">Payment Methods</span>
          <span class="label--caption">Add / Edit Credit Card</span>
        </span>
        <i class="paymentMethods--icon icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <ion-item
        ng-show="vm.user.role === 'buyer' || vm.user.role === 'member'"
        ui-sref="app.support"
      >
        <span title="Access Support">Support</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <ion-item class="app--version">
        <span
          class="version--label"
          title="Application version details"
        >App Version</span>
        <span class="version--sublabel">1.1</span>
      </ion-item>

      <ion-item ui-sref="app.tos">
        <span title="Review Terms of Use and Privacy Policy">Terms of Use</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <!--ion-item
        class="logout"
        ng-click="vm.logout()"
      >
        <span title="Log out of the application">Log Out</span>
        <i class="icon ionicons ion-log-out"></i>
      </ion-item-->

    </ion-list>
  </ion-content>
</ion-view>
