<span class="super">
  Enter the billing information associated<br />
  with your Credit Card
</span>

<form
  name="vm.createLocationForm"
  ng-action="/api/v1/users"
  ng-submit="vm.createLocationForm.$valid === true && next()"
>

  <div class="input-block">

    <label for="address">Address</label>

    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-required="true"
      disabled="false"
      id="line1"
      name="line1"
      ng-model="user.billing.line1"
      ng-required="true"
      ng-disabled="false"
      placeholder="Address"
      type="text"
    />
    <i
      ng-attr-ng-show="vm.createLocationForm.line1.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createLocationForm.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createLocationForm.line1.$error.pattern === true"
        >
          <span>Please provide a valid address</span>
        </li>
        <li
          ng-show="vm.createLocationForm.line1.$error.require === true"
          class="input--error">
          <i class="ion ionicons ion"></i>
          <span>This field is required</span>
        </li>
      </ul>

    </div>
  </div>

  <div class="input-block">

    <label for="apt">Suite / Apt No.</label>

    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-required="false"
      disabled="false"
      id="line2"
      name="line2"
      ng-model="user.billing.line2"
      ng-disabled="false"
      placeholder="Apt., Ste., ..."
      type="text"
      style="border-bottom: 1px solid #aaa !important;"
    />

    <div ng-show="vm.createLocationForm.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createLocationForm.line2.$error.pattern === true"
        >
          <span>Please provide a valid listing</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="input-block">

    <label for="city">City</label>

    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-required="true"
      disabled="false"
      id="city"
      name="city"
      ng-model="user.billing.city"
      ng-required="true"
      ng-disabled="false"
      placeholder="City"
      type="text"
    />
    <i
      ng-attr-ng-show="vm.createLocationForm.city.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createLocationForm.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createLocationForm.city.$error.pattern === true"
        >
          <span>Please provide a valid city</span>
        </li>
        <li
          ng-show="vm.createLocationForm.city.$error.require === true"
          class="input--error">
          <i class="ion ionicons ion"></i>
          <span>This field is required</span>
        </li>
      </ul>
    </div>

  </div>

  <div class="input-block">

    <label for="state">Province or State</label>

    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-required="true"
      disabled="false"
      id="state"
      name="state"
      ng-model="user.billing.state"
      ng-required="true"
      ng-disabled="false"
      placeholder="Try selecting a Country first"
      type="text"
      ng-show="vm.provinces.$error.not_found || !vm.provinces.length"
    />

    <select
      ng-show="vm.provinces.length"
      aria-disabled="false"
      aria-hidden="false"
      aria-label="State or Province"
      ng-disabled="false"
      id="defaultStateSelect"
      ng-if="!vm.provinces.$error"
      name="defaultStateSelect"
      type="text"
      ng-model="user.billing.state"
      ng-required="true"
      required="true"
    >
      <option value="">Please select a Province or State</option>
      <option
        value="{{province}}"
        ng-repeat="province in vm.provinces track by $index"
      >{{province}}</option>
    </select>

    <i
      ng-attr-ng-show="vm.createLocationForm.state.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createLocationForm.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createLocationForm.state.$error.pattern === true"
        >
          <span>Please provide a valid state, province, or subregion</span>
        </li>
        <li
          ng-show="vm.createLocationForm.state.$error.require === true"
          class="input--error">
          <i class="ion ionicons ion"></i>
          <span>This field is required</span>
        </li>
      </ul>
    </div>

  </div>

  <div class="input-block">
    <label for="country">Country</label>

    <select
      aria-disabled="false"
      aria-hidden="false"
      aria-required="true"
      disabled="false"
      id="country"
      name="country"
      ng-model="user.billing.country"
      ng-required="true"
      ng-disabled="false"
      placeholder="Country"
      ng-change="vm.loadProvincesAndStates(user.billing.country)"
    >
      <option value="">Please select a country</option>
      <option
        value="{{country}}"
        ng-repeat="country in vm.countries track by $index"
      >{{country.name}}</option>
    </select>
    <i
      ng-attr-ng-show="vm.createLocationForm.country.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createLocationForm.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createLocationForm.country.$error.pattern === true"
        >
          <span>Please provide a valid country</span>
        </li>
        <li
          ng-show="vm.createLocationForm.country.$error.require === true"
          class="input--error">
          <i class="ion ionicons ion"></i>
          <span>This field is required</span>
        </li>
      </ul>
    </div>

  </div>

  <button
    aria-disabled="{{vm.createLocationForm.$invalid}}"
    aria-hidden="false"
    aria-label="Next"
    ng-class="{
      'disabled': vm.createLocationForm.$invalid
    }"
    ng-disabled="vm.createLocationForm.$invalid && vm.isValid !== true"
    class="button next next-button circle-button"
    id="confirm-billing-location"
    type="submit"
  >Next</button>

</form>


