<span class="super">
  Enter the billing information associated<br />
  with your Credit Card
</span>

<form
  name="vm.createPaymentForm"
  ng-action="/api/v1/users/{{user._id}}/action"
>

  <p>
  <i>All fields are required.</i>
  </p>

  <div class="input-block input--firstname">
    <label for="firstname">First Name</label>
    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-label="First Name"
      id="firstname"
      max-length="60"
      name="firstname"
      ng-disabled="false"
      ng-model="user.ccInfo.fname"
      ng-required="true"
      placeholder="First Name"
      required="true"
      type="text"
    />
    <i
      ng-attr-ng-show="vm.createPaymentForm.firstname.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createPaymentMethod.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createPaymentMethod.firstname.$error.required === true"
        >
          <span>This field is required.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="input-block input--lastname">
    <label for="lastname">Last Name</label>
    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-label="Last Name"
      id="lastname"
      max-length="40"
      name="lastname"
      ng-model="user.ccInfo.lname"
      placeholder="Last Name"
      required="true"
      ng-required="true"
      type="text"
    />
    <i
      ng-attr-ng-show="vm.createPaymentForm.lastname.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <div ng-show="vm.createPaymentMethod.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createPaymentMethod.lastname.$error.required === true"
        >
          <span>This field is required.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="input-block input--cardNumber">
    <label for="cardNumber">Card Number</label>
    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-label="Card Number"
      tgm-credit-card-type
      id="cardNumber"
      name="cardNumber"
      ng-model="user.ccInfo.number"
      ng-required="true"
      required="true"
      type="text"
    />
    <i
      ng-attr-ng-show="vm.createPaymentForm.cardNumber.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>
    <input
      type="hidden"
      name="cardType"
      ng-model="ccInfo.type"
    />

    <figure
      ng-show="ccInfo.type"
      title="Card type: {{ccInfo.type}}">
      <img
        style="
        width: 24px;
        position: absolute;
        right: 24px;
        bottom: 2vh;
        "
        ng-src="./images/icons/{{ccInfo.type.toLowerCase()}}@3x.png"
        alt=""
      />
    </figure>

    <ul ng-show="!vm.createPaymentForm.$valid">
      <li ng-show="user.ccInfo.number.$error.minlength === true">Credit card must be 15-19 digits</li>
      <li ng-show="user.ccInfo.number.$error.pattern === true">Credit card must consist of only numbers</li>
      <li ng-show="user.ccInfo.number.$error.invalid === true">Credit card must be a valid Amex, Visa, Discover, or Master Card</li>
      <li ng-show="user.ccInfo.number.$error.required === true">Credit card required</li>
    </ul>
  </div>

  <div class="meta-block">
    <div class="block-date">

      <div class="input-block input--expiryDate">
        <label for="cardExpiryDate">Expiry Date</label>
        <input
          aria-disabled="false"
          aria-hidden="false"
          aria-label="Expiry Date"
          data-ng-pattern="/^\d{2}/\d{2}$/"
          data-ng-minlength="4"
          id="cardExpiryDate"
          maxlength="5"
          name="cardExpiryDate"
          ng-model="user._expiryDate"
          ng-required="true"
          placeholder="MM/YY"
          ng-change="updateCardExpiryDate()"
          type="text"
        />
        <i
          ng-attr-ng-show="vm.createPaymentForm.cardExpiryDate.$valid === true"
          class="icon ionicons ion-checkmark md-checkmark validation-icon"
        ></i>
        <ul ng-show="!vm.createPaymentForm.$valid">
          <li ng-show="user._expiryDate.$error.pattern === true">Security code must contain only numbers</li>
          <li ng-show="user._expiryDate.$error.minlength === true">Security code must be 3-4 digits</li>
          <li ng-show="user._expiryDate.$error.required === true">Security code required</li>
        </ul>

        <ul ng-show="!vm.createPaymentForm.$valid">
          <li ng-show="user.ccInfo.month.$error.required === true">Expiration month required</li>
        </ul>

        <ul ng-show="!vm.createPaymentForm.$valid">
          <li ng-show="vm.createPaymentForm.year.$error.required === true">Expiration year required</li>
          <li ng-show="vm.createPaymentForm.month.$error.invalid === true">Provided expiration date is invalid</li>
        </ul>
      </div>

      <div class="input-block input--month accessibly-hide">
        <select
          aria-disabled="false"
          aria-hidden="false"
          aria-label="Month"
          data-card-expiration
          id="cardExpiryMonth"
          name="cardExpiryMonth"
          ng-model="user.ccInfo.month"
          ng-change="validateCardDate(user.ccInfo.month, user.ccInfo.year)"
          required="true"
        >
          <option
            disabled
            selected
            value=""
          >Month</option>
          <option
            ng-repeat="month in months track by $index"
            value="{{$index+1}}"
            ng-selected="month === selectedMonth"
          >{{$index+1}} - {{month}}</option>
        </select>
      </div>

      <div class="input-block input--year accessibly-hide"
        >
        <select
          aria-disabled="false"
          aria-hidden="false"
          aria-label="Year"
          id="cardExpiryYear"
          name="cardExpiryYear"
          ng-model="user.ccInfo.year"
          ng-change="validateCardDate(user.ccInfo.month, user.ccInfo.year)"
          required="true"
        >
          <option
            disabled
            selected
            value=""
          >Year</option>
          <option
            ng-repeat="year in years track by $index"
            bo-value="year.id"
            ng-selected="year.id === selectedYear"
          >{{year.val}}</option>
        </select>
      </div>
    </div>

    <div class="input-block input--cvc">
      <label for="cardCvc">CVC</label>
      <input
        aria-disabled="false"
        aria-hidden="false"
        aria-label="CVC"
        data-ng-pattern="/^[0-9]+$/"
        data-ng-minlength="3"
        id="cardCvc"
        maxlength="5"
        name="cardCvc"
        ng-model="user.ccInfo.cvc"
        ng-required="true"
        placeholder="CVC"
        required="true"
        type="text"
      />
      <i
        ng-attr-ng-show="vm.createPaymentForm.cardCvc.$valid === true"
        class="icon ionicons ion-checkmark md-checkmark validation-icon"
      ></i>
      <ul ng-show="!vm.createPaymentForm.$valid">
        <li ng-show="user.ccInfo.cardCvc.$error.pattern === true">Security code must contain only numbers</li>
        <li ng-show="user.ccInfo.cardCvc.$error.minlength === true">Security code must be 3-4 digits</li>
        <li ng-show="user.ccInfo.cardCvc.$error.required === true">Security code required</li>
      </ul>
    </div>
  </div>

  <style>
    .meta-block {
      display: flex;
    }
    .meta-block > * {
      flex-grow: 1;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    .meta-block > .block-date > .input-block {
      margin-top: 0;
      margin-bottom: 0;
    }
    .meta-block *:last-child {
      margin-left: 15px;
    }
    .block-date {
    }
  </style>

  <div class="input-block input--postalCode">

    <label for="cardPostalCode">Postal Code</label>

    <input
      aria-disabled="false"
      aria-hidden="false"
      aria-label="Month"
      id="cardPostalCode"
      name="cardPostalCode"
      ng-change="validateCcInfo(vm.createPaymentForm)"
      ng-model="user.ccInfo.postalCode"
      ng-maxlength="15"
      ng-minlength="3"
      ng-pattern="/^(\d{2,5}(-\s\d{2,4})?|\d{6}?|[A-Za-z]\d[A-Za-z] *\d[A-Za-z]\d)|(([A-Za-z][A-Za-z]-)?(\d{2,3}) *\d{2,3})$/"
      ng-required="true"
      placeholder="X1X 1X1"
      required="true"
      type="text"
    />

    <i
      ng-attr-ng-show="vm.createPaymentForm.cardPostalCode.$valid === true"
      class="icon ionicons ion-checkmark md-checkmark validation-icon"
    ></i>

    <div ng-show="vm.createPaymentMethod.$valid === false">
      <ul>
        <li class="input--error"
          ng-show="vm.createPaymentMethod.cardPostalCode.$error.pattern === true"
        >
          <span>Please provide a valid postal code.</span>
        </li>
      </ul>
    </div>
  </div>

  <button
    ng-class="{
      'disabled': !vm.createPaymentForm.$valid
    }"
    id="confirm-payment-method"
    class="button next next-button accessibly-hide"
    ng-click="addPaymentMethod()"
  >Add Payment Method</button>

</form>

