<ion-view
    id="profile"
    class="profile--payment-methods {{vm.paymentFlow.currentStep}}"
>

  <ion-header-bar align-title="center">
    <button
      ng-hide="vm.paymentFlow.flow === 'createUser'"
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">{{vm.sectionTitle}}</h1>
    <button
      ng-show="vm.paymentFlow.flow === 'createUser'"
      ng-click="vm.skip()"
      class="button cancel"
    >
      Skip
    </button>
  </ion-header-bar>

  <ion-content
    overflow-scroll="true"
    id="paymentMethods"
  >

    <div class="detail content--container">
      <div class="container">

        <tgm-add-payment
          add-payment-method="vm.submit()"
          user="vm.user"
          next="vm.next()"
          ng-show="(showingForm === undefined || showingForm === true) || completeForm === false"
          complete-form="completeForm"
          class="animated bounceInUp"
        ></tgm-add-payment>

        <ul class="container--list" ng-hide="showingForm === true || showBillingForm">
          <!--
                             _
            ___ __ _ _ __ __| |___
           / __/ _` | '__/ _` / __|
          | (_| (_| | | | (_| \__ \
           \___\__,_|_|  \__,_|___/
          -->

          <li
            ng-show="(showingForm === undefined || showingForm === false) &&
            (showingList === true || showingList === undefined)"
            class="list--listing animated bounceInUp"
            ng-click="vm.attachCardToCheckout(card)"
            ng-repeat="card in vm.paymentMethods track by $index"
            bindonce="card"
            bo-hide="vm.paymentFlow.currentStep === 1"
          >

            <a
              ui-sref="app.viewCard({ id: card.id })"
              bo-title="card.id"
            >
              <span class="listing--type">
                <img
                  bo-alt="card.brand"
                  width="44px"
                  bo-src="'./images/icons/{{card.brand.toLowerCase()}}@3x.png'"
                />
              </span>
              <span class="listing--number">
                **** **** **** <span bo-text="card.last4"></span>
              </span>

              <span class="listing--expiry">
                <span bo-text="card.exp_month"></span>/<span
                  bo-text="card.exp_year"></span>
              </span>

              <i class="ion ionicons ion-ios-arrow-thin-right"
                aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </ion-content>

</ion-view>
