<ion-view id="profile">

  <ion-header-bar align-title="center">
    <h1 class="title">{{ vm.sectionTitle }}</h1>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <tgm-user-profile></tgm-user-profile>
  </ion-content>

</ion-view>
