<!--
  @fileOverview ./app/templates/views/wallet/tools.html
  @description
  Market wallet view template provides a basic menu for accessing contracting
  and alternate views over microeconomic activities.
  1. Current Offers Exchange
  2. Present Offer Contracts
  3. Contracts to Map
  4. Contracts on Time
-->
<ion-view
  id="profile"
  class="profile--settings"
>

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">Market</h1>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <ion-list>
      <ion-item ui-sref="app.coins">
        <span title="Access Support">Current Offers Exchange</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <ion-item ui-sref="app.offers">
        <span title="Access Support">Present Offer Contracts</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <ion-item ui-sref="app.mapView">
        <span title="Access Support">Contracts to Map</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

      <ion-item ui-sref="app.messagesTimeline">
        <span title="Access Support">Contracts on Time</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>

