<ion-nav-view animation="slide-left-right">

  <ion-view
    id="profile"
    class="profile--tos"
  >

    <ion-header-bar align-title="center">

      <button
        ng-if="(vm.user.verification.hasAcceptedTerms !== true)"
        ng-style="{
            'visibility': (
                vm.user && vm.user.verification
                && vm.user.verification.hasAcceptedTerms !== true
            )
        }"
        class="icon ionicons ion-ios-arrow-thin-left"
        ng-click="vm.previous()"
      ></button>

      <h1 class="title">Terms of Service</h1>

      <button
        ng-if="vm.user.verification.hasAcceptedTerms === true &&
        vm.user.verification.hasAcceptedTerms !== undefined"
        ng-style="{
          'visibility': vm.user.verification.hasAcceptedTerms === true
        }"
        class="icon ionicons ion-ios-arrow-thin-right proceed"
        ng-class="{
          'animated': true,
          'bounce': false
        }"
        ng-click="vm.next()"
      ></button>
    </ion-header-bar>

    <ion-content overflow-scroll="true">

      <section>
        <p>
          <strong>Conata, Inc. Terms of Use</strong>
        </p>
        <p>
          Updated: [ April, 6<sup>th</sup> 12:33:08 PST 2018 ]
        </p>
        <p>
          THIS DOCUMENT (THESE &#8220;<strong>TERMS</strong>
          <strong>OF</strong>    <strong>USE</strong>&#8221;) GOVERNS ALL
          SERVICES PROVIDED BY NEXTTECH INC. OPERATING AS WALLET COMPANION&#174;
          (&#8220;    <strong>WALLET COMPANION</strong>&#8221;, &#8220;<strong>WE</strong>
          &#8221;, &#8220;<strong>US</strong>&#8221; OR &#8220;<strong>OUR</strong>
          &#8221; AS CONTEXT DICTATES) THROUGH OUR WEBSITE, AND ALL CONTENT,
          SERVICES, AND PRODUCTS AVAILABLE AT OR THROUGH THE WEBSITE. PLEASE READ
          THESE TERMS CAREFULLY, AS THEY CONTAIN IMPORTANT INFORMATION ABOUT
          LIMITATIONS OF LIABILITY AND RESOLUTION OF DISPUTES THROUGH ARBITRATION
          RATHER THAN COURT. YOU AGREE THAT YOU ARE AT LEAST 18 YEARS OLD AND AGREE
          TO BE LEGALLY BOUND BY AND COMPLY WITH THESE TERMS REGARDLESS OF USING THE
          SERVICES OR HAVING A REGISTERED ACCOUNT. IF YOU DO NOT WISH TO ABIDE BY THE
          TERMS, YOU HAVE NO RIGHT OBTAIN SERVICES FROM US OR ACCESS OR USE ANY PART
          OF THE WEBSITE OR INFORMATION CONTAINED ON THE WEBSITE.
        </p>
        <p>
          BY USING OR ACCESSING WALLET-COMPANION.SURGE.SH OR companion.money, A SUBDOMAIN OF ANY SUCH
          WEBSITES, ANY MOBILE APPLICATION FOR SUCH WEBSITES OR ANY OTHER WEBSITE
          OPERATED BY US IN CONNECTION WITH SERVICES PROVIDED TO USERS (EACH REFERRED
          TO HEREIN AS A &#8220;<strong>WEBSITE</strong>&#8221;) ON WHICH THESE TERMS
          AND CONDITIONS ARE POSTED VIA A LINK OR OTHERWISE, YOU ACKNOWLEDGE AND
          AGREE THAT YOU ARE SUBJECT TO THE FOLLOWING TERMS AND CONDITIONS, AS WELL
          AS OUR PRIVACY POLICY [https://companion.money/privacy-policy/],
          WHICH ALSO GOVERNS YOUR USE OF THE WEBSITE, AND IS INCORPORATED BY
          REFERENCE (THESE TERMS OF USE ALONG WITH THE PRIVACY POLICY AND OTHER
          POLICIES WE MAY ADD FROM TIME TO TIME SHALL BE REFERRED TO AS THE &#8220;
          <strong>TERMS</strong>&#8221;).
        </p>
        <p>
          IF YOU ARE PROVIDING ROOMS FOR RENT, YOU SHOULD ENSURE YOU UNDERSTAND ANY
          LIMITS, WHETHER IMPOSED BY MUNICIPAL RULES AND REGULATIONS, BY INSTITUTIONS
          OR CONTRACT OWNERS, OR BY WAY OF LEASES WHICH GOVERN THE BUILDINGS YOU WISH
          TO RENT THE ROOMS OUT OF. GIVEN THE VARIETY OF REGULATION AND
          ENFORCEMENT/PENALTIES WHICH CURRENTLY APPLY TO SHORT TERM RENTALS, PLEASE
          INFORM YOURSELVES BEFORE YOU PLACE A ROOM AD ON THE WEBSITE.
        </p>
        <p>
          Definitions.
        </p>
        <p>
          &#8220;<strong>Application</strong>&#8221; or &#8220;<strong>App</strong>
          &#8221; means the Conata mobile application utilized by a User
          to avail the services, including making bookings or listing Offers, as the
          case may be.
        </p>
        <p>
          &#8220;<strong>Certified</strong>&#8221; means being officially recognized
          as possessing certain qualifications, criteria or meeting certain
          standards.
        </p>
        <p>
          &#8220;<strong>Confidential Information</strong>&#8221; means all
          scientific, and financial information; all marketing, sales and
          distribution data, personal and identifying information; all test data,
          documents, methods, techniques, formulations, operations, know-how,
          experience, skills, trade secrets, secret processes, practices, ideas,
          inventions, designs, devices, reports, plans and drawings disclosed by
          Conata to Offer Providers and Users, whether orally or in
          writing, whether or not such information has been identified by Buyer
          College as being confidential or any other information that, given the
          nature of the information or the circumstances surrounding its disclosure,
          reasonably should be considered as confidential
        </p>
        <p>
          &#8220;<strong>Content</strong>&#8221; means any content featured or
          displayed throughout the Website, including but not limited to text,
          documents, information, data, articles, opinions, images, photographs,
          graphics, software, applications, video recordings, audio recordings,
          sounds, designs, features, User Ratings and Testimonials and other
          materials that are available on the Website.
        </p>
        <p>
          &#8220;<strong>Handle</strong>&#8221; means to process, record, transfer,
          access, receive, use, disclose, retain, dispose of, destroy, manage,
          collect, store, or otherwise handle and any variation of
          &#8220;Handle&#8221; such as &#8220;Handling&#8221; has the same meaning
          depending on the context
        </p>
        <p>
          &#8220;<strong>Law</strong>&#8221; means any statute, ordinance,
          regulation, rule, code, constitution, treaty, common law, governmental
          order or other requirement or rule of law of any governmental authority.
        </p>
        <p>
          &#8220;<strong>Offer Ad</strong>&#8221; means a listing for a Offer on the
          Website, such listing to include information on the Offer&#8217;s size,
          features, amenities, location, availability, pricing and any applicable
          Offer Provider Terms.
        </p>
        <p>
          &#8220;<strong>Offer Provider Terms</strong>&#8221; means those rules and
          behavior expectations pertaining to a Buyer&#8217;s use of a Offer which
          the Offer Provider sets out in the Offer Ad.
        </p>
        <p>
          &#8220;<strong>Offer Fee</strong>&#8221; means the payment amount, as set
          out in a Offer Ad by a Offer Provider, which includes: (1) applicable Taxes
          which the Offer Provider wishes to collect; (2) cleaning fee; (3) per night
          payment amount multiplied by the number of nights the Offer is rented; (4)
          any late check-out fees; and (5) any other fee which applies to a product
          or service offered by Offer Provider; provided that such fees are solely set
          by Offer Provider and are subject to either increase by Offer Provider if any
          additional products and services are offered by Offer Provider or decrease
          by Offer Provider as agreed upon in writing with Buyer and adjusted
          accordingly on the Website for the applicable transaction.
        </p>
        <p>
          &#8220;<strong>Service Fee</strong>&#8221; means the amount which
          Conata charges Offer Provider for use of the Website under the
          Terms, such amount usually a percentage of Offer Fee.
        </p>
        <p>
          &#8220;<strong>service</strong>&#8221; means the ability to book Offers as
          such functionality is provided by us through the Website, use of the
          Content on the Website, or other assistance provided by us under these
          Terms of Use.
        </p>
        <p>
          &#8220;<strong>Testimonials</strong>&#8221; are written statements
          submitted by Users to describe their experience using Conata
          and the Website, such written statements may be used on Buyer
          College&#8217;s Website and any other digital and print materials for
          marketing purposes.
        </p>
        <p>
          &#8220;<strong>User Rating</strong>&#8221; means approved users&#8217;
          opinion, suggestion and/or recommendation based on the quality of their own
          experience and their willingness to share this opinion with others.
        </p>
        <p>
          &#8220;<strong>you</strong>&#8221; and &#8220;<strong>your</strong>&#8221;
          means either a &#8220;<strong>Offer Provider</strong>&#8221;
          <strong> </strong>or &#8220;<strong>Buyer</strong>&#8221;    <strong> </strong>
          or both such persons<strong> </strong>as the context so
          requires, including a company or other legal entity on behalf of which a
          person may be acting as a Offer Provider or Buyer.
        </p>
        <p>
          We Are Only Providing a Platform for Transactions
        </p>
        <p>
          The Website provides an on-line two-sided marketplace to allow providers,
          including institutions, groups and other digital property owners who advertise on
          the Website or on other websites but also have their listings cross-listed
          on the Website (each, a &#8220;<strong>Offer Provider</strong>&#8221;), of
          transaction and/or Offer (each a &#8220;<strong>Offer</strong>&#8221;), to offer such
          Offers for rent in a variety of pricing formats and for specific periods of
          time to a potential renter (each, a &#8220;<strong>Buyer</strong>
          &#8221;, collectively with a Offer Provider, the &#8220;    <strong>Users</strong>&#8221;
          and &#8220;you&#8221; and &#8220;your&#8221; as context dictates).
          We also may offer booking tools and other items or services which
          enable Users to communicate with each other and enter into
          rental agreements or execute other transactions.
        </p>
        <p>
          Subject to acceptance of the Terms by a User, User is granted a
          royalty-free, non-exclusive, non-transferable, non-sublicensable,
          terminable, limited license to use the Website only for the business
          purposes contemplated by Conata (i.e. listing and advertising
          Offers, searching for Offers, purchasing or researching (for the purpose of
          inquiring about purchasing) any of the products or services offered on any
          part of the Website, and providing or reviewing other information, such as
          reviews of Offers or suggested experiences or activities in the areas close
          to Offers, as applicable in any interactive area on the Website all in
          accordance with the Terms). Use of the Website for purposes other than
          those listed in this subsection, unless agreed upon by us in writing, is
          not permitted.
        </p>
        <p>
          Users acknowledge that we do not own or manage, nor do we contract for, any
          Offer listed on a Website. We do, however, may be compelled (as determined
          solely by us) by Laws to share User information with respect to your Offer
          Ads and use of the Website
        </p>
        <p>
          However, even though we are not a party to any rental transaction and
          assume no liability for legal or regulatory compliance pertaining to rental
          cryptocurrencies listed on the Website, there may be circumstances where we are
          nevertheless legally obligated (as we may determine in our sole discretion)
          to provide information relating to your listing in order to comply with
          requests from governmental bodies in relation to investigations, litigation
          or administrative proceedings, and we may choose to comply with such
          obligations in our sole discretion.
        </p>
        <p>
          As a <span title="Contract Offer Provider (COP)">Offer Provider</span>,
          if you choose to place a Offer Ad on the Website, you
          will do so in accordance with Section 20 (Relationship between the Parties)
          independently of Conata and for your own benefit only. We will
          not have a role in controlling your Offer Ad, managing your activities
          (whether online or off-line) in relationship with your transaction with
          Users and your Offer Ads. You agree to not, in any way, give the
          impression that we somehow have Certified you or any Affiliate, your Offers
          or Offer Ads, or in any other way give you a preference over other Offer
          Providers.
        </p>
        <p>
          As a Buyer, if you choose to rent a Offer, you acknowledge that you are
          not relying on Conata for your enjoyment and use of the Offer
          and your expectations, with respect to any representations made about the
          Offer, are to be met solely by the Offer Provider. If you have any complaint
          or grievance about a Offer Provider, you will follow the process most
          applicable to the situation you face. We have set out our guidelines with
          respect to incidents and dispute management in Section 29 (Arbitration).
          You should not rely on any claim by a Offer Provider that they or their
          Offers have been Certified or are in any way endorsed by us. For more
          conduct guidelines and suggestions for your engagement with Offer Providers,
          please review the Offer Provider&#8217;s Terms section within the website or
          contact support@companion.money for Offer Provider contact details.
        </p>
        <p>
          Using the Website
        </p>
        <ul>
          <li>
            <strong>Registration and Account Set-up</strong>
            . To post a Offer Ad or book a Offer, you must register and create an
            account. You can register and create an account on the Website. Once an
            account is created, the User is responsible for managing the account.
          </li>
        </ul>
        <p>
          <strong>Using the App &#8211; iTunes</strong>
          . If you are an Apple products user, you can access the Application by
          downloading it from the Apple App Store (&#8220;    <strong>iTunes Sourced App</strong>&#8221;), and you must acknowledge that:
        </p>
        <p>
          You acknowledge and agree that: (1) these Terms are concluded between you
          and us only, and not Apple; and (2) we, not Apple, are solely responsible
          for the iTunes Sourced App and content thereof.
        </p>
        <p>
          the license granted by us to Users for the iTunes Sourced App is for Users
          to use the iTunes Sourced App on any applicable mobile device (e.g. iPad,
          iPhone or iPod touch) that the User owns or controls and as permitted by
          the Usage Rules set forth in the App Store Terms of Service;
        </p>
        <p>
          we are solely responsible for providing any maintenance and support
          services with respect to the iTunes Sourced App, as specified in the Terms,
          or as required under applicable law. You and we acknowledge that Apple has
          no obligation whatsoever to furnish any maintenance and support services
          with respect to the iTunes Sourced App;
        </p>
        <p>
          We are solely responsible for any warranties related to the iTunes Sourced
          App, whether express or implied by law, to the extent not effectively
          disclaimed. In the event of any failure of the iTunes Sourced App to
          conform to any applicable warranty, Users may notify Apple, and Apple will
          refund the purchase price for the iTunes Sourced App to that end-user; and
          that, to the maximum extent permitted by applicable law, Apple will have no
          other warranty obligation whatsoever with respect to the iTunes Sourced
          App, and any other claims, losses, liabilities, damages, costs or expenses
          attributable to any failure to conform to any warranty will be our sole
          responsibility.
        </p>
        <p>
          You and we acknowledge that, as between us and Apple, Apple is not
          responsible for addressing any claims you have or any claims of any third
          party relating to the iTunes Sourced App or your possession and use of the
          iTunes Sourced App, including, but not limited to: (1) product liability
          claims; (2) any claim that the iTunes Sourced App fails to conform to any
          applicable legal or regulatory requirement; and (3) claims arising under
          consumer protection or similar legislation.
        </p>
        <p>
          You and we acknowledge that, in the event of any third-party claim that the
          iTunes Sourced App or your possession and use of that the iTunes Sourced
          App infringes that third party&#8217;s intellectual property rights, as
          between us and Apple, we, not Apple, will be solely responsible for the
          investigation, defense, settlement and discharge of any such intellectual
          property infringement claim to the extent required by these Terms.
        </p>
        <p>
          You represent and warrant that; (1) you are not located in a country that
          is subject to a U.S. Government embargo, or that has been designated by the
          U.S. Government as a &#8220;terrorist supporting&#8221; country, and (2)
          you are not listed on any U.S. Government list of prohibited or restricted
          parties.
        </p>
        <p>
          User questions, complaints or claims with respect to the iTunes Sourced App
          should be directed to <strong>dev@companion.money</strong>.
        </p>
        <p>
          You and we agree that Apple, and Apple&#8217;s subsidiaries, are third
          party beneficiaries of the Terms, and that, upon your acceptance of the
          terms and conditions of the Terms, Apple will have the right (and will be
          deemed to have accepted the right) to enforce the Terms against the User as
          a third party beneficiary thereof.
        </p>
        <p>
          <strong>Using the App &#8211; Android</strong>
          . If you are an Android product user, you can access the Application by
          downloading it from the Google Play Store (&#8220;    <strong>Android Sourced App</strong>&#8221;), and you must acknowledge
          that:
        </p>
        <p>
          (1) these Terms are concluded between you and us only, and not Google Inc.
          (&#8220;<strong>Google</strong>&#8221;); and (2) we, not Google, are solely
          responsible for the Android Sourced App and content thereof;
        </p>
        <p>
          the license granted by us to Users for the Android Sourced App is for Users
          to use the Android Sourced App on any applicable Android device (e.g. LG
          G5, Samsung Galaxy, Pixel) that the User owns or controls and as permitted
          by the Basic Use Requirements set forth in the Google Play Terms of
          Service;
        </p>
        <p>
          we are solely responsible for providing any maintenance and support
          services with respect to the Android Sourced App, as specified in the
          Terms, or as required under applicable law. You and we acknowledge that
          Google has no obligation whatsoever to furnish any maintenance and support
          services with respect to the Android Sourced App;
        </p>
        <p>
          You and we acknowledge that, as between us and Google, Google is not
          responsible for addressing any claims you have or any claims of any third
          party relating to the Android Sourced App or your possession and use of the
          Android Sourced App, including, but not limited to: (1) product liability
          claims; and (2) claims arising under consumer protection or similar
          legislation;
        </p>
        <p>
          You and we acknowledge that, in the event of any third-party claim that the
          Android Sourced App or your possession and use of that Android Sourced App
          infringes that third party&#8217;s intellectual property rights, as between
          us and Google, we, not Google, will be solely responsible for the
          investigation, defense, settlement and discharge of any such intellectual
          property infringement claim to the extent required by these Terms;
        </p>
        <p>
          User questions, complaints or claims with respect to the Android Sourced
          App should be directed to <strong> </strong>dev@companion.money.
        </p>
        <p>
          Cancellation Policy
        </p>
        <p>
          As a Buyer, you may wish to cancel a Offer booking. Each Offer is subject
          to the Offer Provider&#8217;s unique cancellation policy. Please review the
          applicable Offer Ad for your Offer and contact the Offer Provider. If you do
          not see the relevant information, you must contact your Offer Provider to
          obtain such information. We urge you not to make any assumptions with
          respect to cancellation and seek clarification on all cancellation related
          questions from the Offer Provider.
        </p>
        <p>
          Offer Ads
        </p>
        <p>
          As a Offer Provider, you will ensure the following is present on the Offer
          Ads:
        </p>
        <p>
          Offer information, such as the Offer&#8217;s pictures, size, features,
          amenities, and location;
        </p>
        <p>
          applicable Offer Fees;
        </p>
        <p>
          availability of the Offer;
        </p>
        <p>
          pricing;
        </p>
        <p>
          any necessary deposits,
        </p>
        <p>
          cancellation terms;
        </p>
        <p>
          information about the Offer Providers;
        </p>
        <p>
          the primary and back-up contact information;
        </p>
        <p>
          any codes and information for exchange of keys or granting of access to a
          Offer; and
        </p>
        <p>
          any other applicable Offer Provider Terms or information required for a
          Buyer<strong>.</strong>
        </p>
        <p>
          As a Buyer, if any of the information under subsection (a) is not
          present, please contact the Offer Provider and if you do not get a response
          in a reasonable time period, contact us support@companion.money    <strong>.</strong>
        </p>
        <p>
          Booking and Fees <strong> </strong>
        </p>
        <p>
          As a Offer Provider, your portion of the Offer Fee paid by a Buyer
          <strong>[</strong>upon booking<strong>]</strong> will be subject to a
          number of variables, including, 1) the number of nights booked by a
          Buyer, 2) the number of Offers booked by a Buyer, 3) application of
          incentives to the applicable booking of Offers; and 4) your account
          credentials, where such credentials and associated codes may entitle us to
          different amounts of Service Fees. You may review the Fees you will be
          entitled to receive upon a Buyer&#8217;s booking through the use of the
          dashboard and tools contained in the Website. You will receive your portion
          of the Offer Fees within 3 business days of confirmation of the transaction
          or within the time specified as negotiated with Offer Provider or Supplier    <strong>. </strong>
        </p>
        <ul>
          <li>
            b) Conata may offer periodic promotional events which will
            result in a reduction of the fees payable by Buyer and therefore, to
            you as a Offer Provider. The duration and amount of any promotional
            event shall be determined at Conata&#8217;s sole
            discretion. The promotion will show in summary reporting and upon
            booking confirmation via code, and Offer Providers will be notified
            about the promotion campaign by Conata Marketing.
          </li>
        </ul>
        <p>
          As a Buyer, you should not be asked by the Offer Provider, and you will
          not be obliged to provide, more Fees to the Offer Provider than agreed upon
          during the booking process or as stated in the Offer Ad except for (1) any
          additional applicable Taxes, and (2) any payments as agreed upon between
          the applicable Users to reimburse Offer Provider for damage to a Offer, where
          the damage is the Buyer&#8217;s fault, or to accommodate special
          requests agreed upon between the Users.
        </p>
        <p>
          Offer Provider will be responsible for the collection of any taxes,
          including goods and services, excise or sales tax or other similar taxes,
          however designated, upon payment by a Buyer and the remittance of such
          taxes to the appropriate governmental authorities within the requisite
          period specified for such remittance.
        </p>
        <p>
          Offer Provider will pay, or reimburse the Company for all applicable taxes
          imposed on the Company and which are accrued and arise from each
          Offer&#8217;s rental by a Buyer; provided, however, that the Offer
          Provider shall not be liable for any taxes based on the Company&#8217; net
          income. Offer Provider covenants to indemnify the Company, its Affiliates,
          and each of their respective directors, officers, shareholders and
          employees and hold each of them harmless from and against any taxes,
          interest, and penalties arising from or otherwise relating to a failure of
          Offer Provider to collect and remit the foregoing taxes as may be required
          by Law.
        </p>
        <p>
          Insurance
        </p>
        <p>
          We do not insurance any aspect of the transactions which occur on the
          Website, nor do we insure, assist with insurance, or provide any other
          assurance on which a User should rely for the purposes of insurance. Users
          are encouraged to assess the requirements for insurance, and the
          suitability of any new and existing insurance coverage, relating to Offer
          rentals. Offer Providers&#8217; general insurance coverage may not including
          coverage for (1) non-policy holders, (2) renting to third parties, (3)
          commercial usage beyond that which is listed in the insurance policy, and
          (4) items which Offer Providers may have, in applicable cases, inadvertently
          promised to provide coverage for.
        </p>
        <p>
          Offer Providers will ensure that appropriate insurance coverage with respect
          to Offers is in place prior to any arrival, and for the duration of the
          stay, of a Buyer at the Offer. Offer Providers agree to provide us with
          any requested artifacts relating to the presence of such insurance
          coverage.
        </p>
        <p>
          Each Buyer is encouraged to assess his/her needs when renting Offers. The
          Buyer should determine whether any of the Buyer&#8217;s existing
          credit card or house/home insurance policies cover a Offer Rental and also
          inquire from the Offer Provider whether the Offer is adequately insured.
        </p>
        <p>
          USERS AGREE THAT THEY DO NOT EXPECT WALLET COMPANION OR ANY OF ITS
          AFFILIATES OR ANY SUCH ENTITY&#8217;S AGENTS, OFFICERS AND DIRECTORS TO
          PROVIDE INSURANCE OR OTHERWISE OFFER ANY INDEMNITY REGARDS TO AN INSURANCE
          CLAIM.
        </p>
        <p>
          Your information
        </p>
        <p>
          You agree that all information or data on the Website or processed through
          the Website may be, without further required consent by you, Handled by a
          third-party for either: (1) the third party&#8217;s own legitimate business
          purposes; (2) purposes which serve our business purposes, including
          transaction processing and data monitoring or storage; or (3) for
          regulatory or other reasons which are imposed on us, in United
          States of America.
        </p>
        <p>
          As a Buyer, your information may be subject to third party data
          management and privacy policies in the event<strong> </strong>such third
          parties are utilized by us or by you for purposes of payment of Offer
          bookings.
        </p>
        <p>
          As a Offer Provider who has access to personal or payment information (e.g.
          banking, credit card, or other payment information) from a Buyer, you
          agree to take all measures to safely Handle all such information according
          to requirements under applicable Law and good practice.
        </p>
        <p>
          Currency conversion
        </p>
        <p>
        Please note we may, if required to process a currency other than U.S.
          dollars, charge conversion costs on or from any payments or payouts by us.
        </p>
        <p>
          Representation and Warranties
        </p>
        <p>
          You acknowledge and agree that: (1) you are 18 years old or older; (2) you
          have the authority to bind yourself, or such other party which you may be
          representing, to the Terms; (3) your use of the Website and Service will be
          solely for purposes that are permitted by the Terms; (4) your use of the
          Service will not infringe or misappropriate the intellectual property
          rights of any third party; and (5) your use of the Service and offer of, or
          rental and use of, the Offers, as applicable, will comply with all Laws and
          with all applicable Conata policies.
        </p>
        <p>
          <strong>User Conduct.</strong>
          Whether accessing the Website, you warrant that you will not:
        </p>
        <p>
          register for more than one account or register for an account on someone
          else&#8217;s behalf;
        </p>
        <p>
          misrepresent your identity (e.g. represent to anyone on the Website that
          you are someone else or you are affiliated with someone that you are not);
        </p>
        <p>
          book a Offer if you will not be staying in the Offer during the time booked;
        </p>
        <p>
          contact any User for a purpose other than what this Website is meant for
          (booking Offers, review regarding Offers, and exchanges in areas where
          Offers are offered);
        </p>
        <p>
          as a Offer Provider, represent information in a Offer Ad which is, to a
          reasonable person, misleading in any way, including with respect to various
          criteria (e.g. price, location, amenities, safety)
        </p>
        <p>
          with respect to a transaction, make use of the Website or the tools and
          services on the Website to do anything other than to carry out activities
          which are normally related to Offers (book, offer for rent, and rent out
          Offers)
        </p>
        <p>
          as a Offer Provider, not offer Valid Offers;
        </p>
        <p>
          share your Account log-in details with any person other than those
          expressly authorized by you;
        </p>
        <p>
          publish content that violates any party&#8217;s intellectual property,
          Laws, any form whatsoever;
        </p>
        <p>
          copy, or make derivative work from, any part of the Website in any medium,
          including use of a frame or border environment around the Website, or other
          framing technique to enclose any portion or aspect of the website, using
          any device including using spiders, data mining, robots, or similar data
          gathering means;
        </p>
        <p>
          reverse engineer any part of the Website;
        </p>
        <p>
          try penetration testing or other scans and probes which seek to diagnose
          the vulnerabilities of the Website;
        </p>
        <p>
          damage, disable, overburden or impair our servers or network, or interfere
          with any other party&#8217;s use and enjoyment of the Website or the
          Service;
        </p>
        <p>
          act in violation of our Offer Provider Policy;
        </p>
        <p>
          make statements on any part of the Website on any topic, particularly
          regarding other Users, Offers, the Website, and the Services, and which
          could reasonably be considered false or misleading;
        </p>
        <p>
          transmit any information, through the Website or to the Users in any other
          manner, which may be: (1) unlawful, threatening, abusive, libelous,
          defamatory, obscene, vulgar, indecent, inflammatory, sexually explicit,
          pornographic or profane; (2) in violation of a third party&#8217;s
          intellectual property right or is subject to intellectual property rights;
          (3) refutes or is contrary to what is set out anywhere in the Website; is
          considered &#8220;spam&#8221; (including machine- or randomly-generated,
          constitutes unauthorized or unsolicited advertising, chain letters, any
          other form of unauthorized solicitation or any form of lottery or
          gambling); (4) contains or installs any viruses, worms, malware, Trojan
          horses or other content that is designed or intended to disrupt, damage or
          limit the function of any software, hardware or telecommunications
          equipment or to damage or obtain unauthorized access to any data or other
          information of any third party; (5) violates the privacy of any third
          party; or
        </p>
        <p>
          attempt to gain unauthorized access to the Service or computer systems or
          networks through hacking, password mining or any other means.
        </p>
        <p>
          We reserve the right to investigate and prosecute, to the fullest extent of
          the law, any violation of the above. Our actions against you, upon
          suspicion or confirmation of a violation of the above, may also include
          suspension or termination of your Account, removal or suspension of your
          Offer Ads; and issuance of a warning to Users about any relevant information
          about you to the extent permissible under applicable law.
        </p>
        <p>
          How to Deal with Misconduct
        </p>
        <p>
          If you notice anyone who is behaving inappropriately, including dangerously
          or in violation of Law, you should not hesitate to report the person to the
          appropriate authorities (e.g. the Offer Provider if you are a Buyer
          and/or otherwise the police) and then us; provided however that any such
          contact with us will not: (1) make us liable to you in any way; or (2)
          oblige us to take any action beyond what is our legal obligation.
        </p>
        <p>
          Process of Booking Offers
          <strong>
            The process of booking a Offer is subject to sections 3, 4, 6, 12(b) and
            15 of the Terms of Use. You may book a Offer using the Website. We
            recommend Users make use of the tools provided in the Website for all
            communication and payment purposes. The Offer Provider grants a
            temporary and revocable license to Buyer to occupy the Offers for the
            agreed upon, fees, duration and other terms and conditions as set out
            in the Offer Ads. We are not a party to such a license nor are we
            accountable for the satisfaction of the license or the conduct of the
            licensor or licensee.
          </strong>
        </p>
        <p>
          Staying Beyond Booking
          <strong>
            We do not guarantee any particular course of action or outcome in the
            event that a Buyer stays beyond booking.
          </strong>
        </p>
        <p>
          As a Offer Provider, you will ensure that your Offer Ad contains information
          about when the Buyer must depart from the Offer at the end of the
          Buyer&#8217;s stay. In the event you wish to allow the Buyer to stay
          one or more nights beyond the time that the initial booking allowed, you
          must not do so unless the Buyer books for such further nights on the
          Website.
        </p>
        <p>
          As a Buyer, you acknowledge and agree that a Offer Provider has the
          ability to take any legally permissible measures to remove a Buyer from
          a Offer if the Buyer stays beyond the agreed upon date and time of
          booking. Unless your extended stay is free of charge, You will not stay one
          or more nights in a Offer beyond the duration booked on the Website.
        </p>
        <p>
          Damage to Offers
        </p>
        <p>
          You agree and acknowledge that Conata is not liable for any
          damage that occurs to a Offer. A Offer Provider may consider demanding a
          deposit from a Buyer.
        </p>
        <p>
          If as a Buyer, you damage a Offer, you agree to inform the Offer Provider
          immediately at the contact information provided and also inform us
          simultaneously. If you have provided a security deposit, your security
          deposit may be, at the discretion of the Offer Provider, subject to
          deduction by an amount equivalent to the amount the Offer Provider must
          spend to fix the damage. The Offer Provider will have to provide receipts to
          substantiate such a deduction. In the event the Offer Provider does not
          provide such receipts, you may contact us at dev@companion.money.
        </p>
        <p>
          If a Buyer damages a rented Offer, depending on the extent of damage,
          you, as a Offer Provider, may, if the Offer becomes uninhabitable as a result
          of the damage or requires immediate repairs such that habitation by
          Buyer is not possible simultaneous to the repairs, (a) without incurring
          any liability to Buyer, revoke the temporary license to access and use
          the applicable Offer, and Buyer will be obligated to vacate with Offer
          within 2 hour of receipt of Notice from you of such need to vacate the
          Offer; (b) inform us of such an incident upon issuance of such Notice; and
          (c) obtain commercially reasonable quotes for repairs for, or replacement
          of, the damaged property, and deduct any security deposit furnished by the
          Buyer by such quoted amount. You must provide the Buyer with receipts
          of any such repairs or replacement of property.
        </p>
        <p>
          Vetting, Identity Verification and Endorsement
        </p>
        <p>
          We neither make any representation about a User nor about what any such
          User says or holds themselves out to be.. Any words or marks which suggest
          that any party has been vetted, approved, or is otherwise found credible,
          reliable, trustworthy or honest or verifiable, is <strong>NOT </strong>
          intended to endorse any User or party on the Website. You should not rely
          on any such wording or mark when conducting a transaction on the Website.
          If you have any question on any such language which you may witness on the
          Website, please contact us at: dev@companion.money<strong>.</strong>
          We also do not take on the responsibility for verifying a User&#8217;s
          identity, including any photos depicting a Offer or anything else, including
          a person, item, location, or amenity. As such, when deciding whether to
          rent a Offer or to offer a Offer to a potential Buyer, we request all
          Users to carry out transactions with care by doing their own due diligence
          on the persons and items involved in the transaction.
        </p>
        <p>
          In some circumstances, we may become aware of potentially illegal or
          fraudulent activity in relation to a Offer or a User. Any actions we take
          with respect of this knowledge, including any messages (e.g. warning) we
          might provide on the Website or through any communication directly to
          Users, is strictly on an &#8220;as is&#8221; basis. We do not make: (1) any
          representations or warranties regarding the reliability or accuracy of any
          such messages; (2) any assurance that we can be relied upon to ensure that
          such messages will reach all those Users who would benefit from receiving
          the messages and that even if such messages are received, the Users will be
          able to avoid the harm or other adverse impact that we may have been
          warning about in the message.
        </p>
        <p>
          Credentials Management and Incidents
        </p>
        <p>
          You will: (1) keep your Credentials strictly confidential and secure; (2)
          only share your Credentials who are authorized to represent you and execute
          a Transaction on your behalf and ensure such person abides by the Terms ;
          and (3) inform us immediately if the confidentiality of any part of your
          Credentials has been compromised (e.g. you or your authorized person have
          shared your Credentials with a third party.
        </p>
        <p>
          If we suspect any unauthorized access to your Account or that there is
          suspicious activity in relation to your Account, we retain the right to
          suspend your Account, take any other related action as we deem reasonably,
          and you agree to assist in executing such actions, which may involve your
          resetting of passwords or taking other measures as may be required.
        </p>
        <p>
          Constructive Comments and Prohibited Content.
        </p>
        <p>
          In certain circumstances, Users will be invited to provide Testimonials on
          the Website. Testimonials can include any details or information sourced
          through the Website or provided to us directly. Any submitted Testimonial
          is subject to publication, in any manner and at any time, solely at our
          discretion. Conata has the right to exclude or modify
          Testimonial. Regardless of any modification, Users will indemnify
          Conata with respect to any losses, claims or action which arise
          in connection with such Testimonials and a third party.
        </p>
        <p>
          We May Monitor User Activity
        </p>
        <p>
          We may, solely at our discretion or at the request of a governmental
          authority, monitor, record or otherwise process all interactions with the
          Service and Website. Further information is available in our Privacy
          Policy.
        </p>
        <p>
          Right to Terminate Accounts.
        </p>
        <p>
          We reserve the right, but not the obligation to, determine, solely at our
          discretion, whether any User violates the Terms and at our choosing,
          suspend, terminate or deny access to a User Account, with or without prior
          notice.
        </p>
        <p>
          Relationship Between the Parties
        </p>
        <p>
          We provide services in our own personal or corporate capacities, and not as
          employees, agents, or representatives of a User. Conata does
          not make any warranty, guarantee or representation as to the ability,
          competence, quality or qualification of a Offer Provider or a Buyer.
        </p>
        <p>
          Offer Providers acknowledge that they are independent contractors under the
          Terms and have no other relationship with Conata, including a
          partnership, joint venture, employer/employee, agency, franchise or other
          special relationship.
        </p>
        <p>
          Users acknowledge that in no way are we acting on their behalf and that
          there is no reliance on us by the Buyer in a transaction using the
          Website.
        </p>
        <p>
          Intellectual Property Rights
        </p>
        <p>
          We retain ownership of all intellectual property rights of any kind related
          to the Website and Service, including applicable copyrights, patents,
          trademarks and other proprietary rights. The Terms do not transfer any
          intellectual property between any party, and all right, title and interest
          in and to such property will remain solely with the original buyer. We
          reserve all rights that are not expressly granted under the Terms.
        </p>
        <p>
          Conata, wallet.messengerbank.io, wallet.us.messengerbank.io and
          all other identifying marks, proprietary marks, or trademarks that appear,
          are displayed or are used on the Website or as part of the Service are
          registered or common law trademarks of Conata, Inc. and Conata.
        </p>
        <p>
          As a Offer Provider, you may display various content and marks in your Offer
          Ads. As a Offer Provider, you agree that Conata will, upon your
          publishing of a Offer Ad on the Website, receive a perpetual, non-exclusive
          license to use, in any media and for any legitimate business purpose in
          relation to Conata, any content and marks in the Offer Ads.
        </p>
        <p>
          Other trademarks, service marks, graphics and logos used in connection with
          the Website and the Service may be the trademarks of Conata and
          third parties, and all content and information on the Website are protected
          by copyright as a collective work and/or compilation under applicable Laws.
          These marks may not be copied, downloaded, reproduced, used, modified or
          distributed in any way without our prior written permission.
        </p>
        <p>
          Permission for Communication
        </p>
        <p>
          We use email and other electronic means to stay in touch with Users.
        </p>
        <p>
          You agree that when you provide us your e-mail address or personally
          identifying information (e.g. name, address) during or prior to access of
          the Website or use of any other service or tool provided through or on the
          Website, you: (1) consent to receive communications from us, our
          Affiliates, and applicable Users in electronic formats, including via the
          email address you have submitted, SMS messages to your telephone, or via
          the Service; (2) can opt-out from receiving communication from any such
          party at any time by completing the formalities on the Website, but we do
          not take on any liability for any communication of another party to you,
          particularly if you have provided your contact information to them
          independently rather than using the communication functions of the Website;
          and (3) agree that the Terms, agreements, notices, disclosures and other
          communications that we provide you electronically satisfy any legal
          requirement that such communications would satisfy if they were in writing
          and physically presented to you.
        </p>
        <p>
          Termination
        </p>
        <p>
          Users may simply discontinue their use of the Website and the Service at
          any time without penalty; provided however, Users may be obligated,
          depending on cancellation policy or bookings already made on the Website,
          to refund or pay to the other party as the case may be, the applicable
          amounts if the User wishes to cancel an existing booking or transaction.
        </p>
        <p>
          Conata may terminate a Offer Provider&#8217;s account at any
          time by either 1) sending written notice to a Offer Provider Buyer
          College to request the removal of all the Offer Provider&#8217;s Offers or
          service offerings on the Website; or 2) removing such content or
          deactivating the Offer Provider&#8217;s account, solely at our discretion.
        </p>
        <p>
          Whether you are accessing the Website as a Offer Provider or Buyer,
          Conata may terminate your access to all or any part of the
          Website at any time, with our without cause, with or without notice,
          effective immediately for any reason deemed appropriate in our sole
          discretion.
        </p>
        <p>
          Except for the provisions set out in Section 36 (Surviving Provisions) the
          Terms will no longer be applicable to you if your Website account is
          cancelled/terminated by you or by us.
        </p>
        <p>
          <strong> </strong>
        </p>
        <p>
          Disclaimer of Warranties.
        </p>
        <p>
          IN ADDITION TO ANY OTHER DISCLAIMERS SET OUT IN THE TERMS, THE SERVICES
          PROVIDED, INCLUDING ALL CONTENT ON, FUNCTION OF, AND TRANSACTIONS CONDUCTED
          OVER, THE APPLICATION ARE &#8220;AS IS&#8221; WITHOUT ANY REPRESENTATIONS
          OR WARRANTIES OF ANY KIND MADE BY US. TO THE FULLEST EXTENT OF THE LAW, WE
          DO NOT REPRESENT THAT ANY INFORMATION EXCHANGED BETWEEN A PARTY UNDER THE
          TERMS IS SECURE, EVEN IF WE BECOME AWARE OF ANY, OR ARE TOLD ABOUT, A
          POTENTIAL BREACH. FURTHER, WE EXPRESSLY DISCLAIM ANY EXPRESS OR IMPLIED
          WARRANTIES, INCLUDING, WITHOUT LIMITATION, MERCHANTABILITY, FITNESS FOR A
          PARTICULAR PURPOSE, NON-INFRINGEMENT, RELIABILITY OR ACCURACY. WE DO NOT
          WARRANT THAT THE WEBSITE OR THE FUNCTIONS THEREIN WILL BE UNINTERRUPTED OR
          ERROR FREE, OR THAT THE WEBSITE OR ANY ITEM CONNECTED WITH THE SERVER IS
          FREE OF VIRUSES OR ANY HARMFUL COMPONENTS. ANY TRANSMISSION TO AND FROM
          THIS WEBSITE, COMMUNICATION BETWEEN THE PARTIES OR ANY COMMENTS MADE BY
          YOU, ARE NOT CONFIDENTIAL. YOU AGREE THAT YOUR USE OF THIS WEBSITE CREATES
          NO OBLIGATION UPON US AND THERE IS NO RELATIONSHIP (WHETHER CONTRACTUAL,
          FIDUCIARY OR OTHERWISE) CREATED BETWEEN YOU AND US OTHER THAN PURSUANT TO
          THESE TERMS.
        </p>
        <p>
          YOU ACKNOWLEDGE THAT WE DO NOT REPRESENT OR WARRANT THAT RENTING ANY ROOMS
          OR TRAVEL TO ANY DESTINATION MENTIONED ON THE WEBSITE IS RISK FREE OR THAT
          WE HOLD OURSELVES LIABLE IN ANY WAY WITH RESPECT TO RENTING ROOMS OR
          TRAVELLING A LOCATION AS A RESULT OF SUCH RENTALS .
        </p>
        <p>
          Limitation of Liability.
        </p>
        <p>
          We will not be liable for any damages or losses arising from your use of
          the Service or arising under the Terms. To the maximum extent permitted by
          applicable law, in no event will Conata be liable to you for
          any loss of profits, interruption to business, harm to reputation, misuse
          of data, or for any incidental, direct, indirect, special, consequential or
          exemplary damages, however arising and whether or not Conata
          has been informed of the possibility of such damage, even if a remedy set
          forth in the Terms is found to have failed of its essential purpose.
          Conata will also have no liability for any failure or delay,
          including the failure of any integrated or ancillary third-party service
          used in conjunction with the Service or for any failure of a third party to
          keep safe any transactional information or other personal information of a
          User.
        </p>
        <p>
          Release and Indemnification.
        </p>
        <p>
          Users agree to indemnify and hold harmless Conata officers,
          directors, employees, agents, successors and permitted assigns from and
          against any and all claims and expenses, including legal fees and
          disbursements, arising out of any use of the Website (including content
          posted by you or use of a social media website or app) or receipt of
          Services, by you, including c to the extent that such Losses arise out of
          or relate to any Users&#8217; use of the Website and the Service, including
          but not limited to a User&#8217;s violations of any of the provisions in
          the Terms or any other terms as agreed upon between Users.
        </p>
        <p>
          In the event of any dispute between you and any other User in connection
          with the Website, you agree to grant Conata and its officers,
          employees, directors, and agents and related entities a release from all
          claims, causes of action, demands and damages (actual and consequential) of
          every kind and nature whatsoever, known and unknown, arising out of or in
          any way connected with such dispute now or at any time in the future.
        </p>
        <p>
          In the event you are a California resident, you waive California Civil Code
          Section 1542, which says: &#8220;a general release does not extend to
          claims which the creditor does not know or suspect to exist in his favor at
          the time of executing the release, which, if known by him must have
          materially affected his settlement with the debtor.&#8221;
        </p>
        <p>
          We may, at our sole discretion and expense, choose to to assume the
          exclusive defense and control of any matter otherwise subject to
          indemnification by you and you shall not in any event settle any matter
          without our written consent.
        </p>
        <p>
          Modification of Terms.
        </p>
        <p>
          Conata reserves the right, at our sole discretion, to amend the
          Terms at any time and will update the Terms in the event of any such
          amendments.
        </p>
        <p>
          Upon any changes in the Terms, we will post the amended Terms of Use on the
          Website. Offer Providers and Users / Users and Conata are
          expected to periodically check the Terms of Use for any amendments, but we
          will take reasonable steps to notify Offer Providers and Users / Users
          and Conata of significant material changes. Your continued use
          of the Website and/or the Service following such notification shall
          constitute your affirmative acknowledgement of the Terms of Use, the
          modification and agreement to abide and be bound by the Terms of Use, as
          amended. If at any time you choose not to accept the Terms, including
          following receipt of notification of any modifications made hereto, then
          please do not use the Website or Service.
        </p>
        <p>
          Governing Law.
        </p>
        <p>
          The Terms and any access to or use of the Website or the Service shall be
          governed by, and construed in accordance with the internal laws of the
          State of California and the federal laws of U.S. applicable in that
          province, without giving effect to any choice or conflict of law provision
          or rule (whether of the State of California or any other jurisdiction) that
          would cause the application of the laws of any jurisdiction other than
          those of the State of California.
        </p>
        <p>
          Arbitration
        </p>
        <p>
          If any claim, dispute or controversy occurring amongst Users or between a
          User and us cannot be resolved within a commercially reasonable timeframe,
          the dispute may be referred to arbitration pursuant to the International
          <em>Federal Arbitration Act</em>. There
          shall be one arbitrator selected in accordance with the Rules. The parties
          to the dispute shall equally share the fees of the arbitrator and the
          facility fees and such parties shall each bear their own legal costs and
          expenses of the arbitration; provided, that the arbitrator shall have the
          authority to award such fees, costs and expenses in the decision of the
          arbitrator. The arbitration shall be conducted in English. Notwithstanding
          the foregoing, each disputing party shall have the right to seek injunctive
          or other equitable relief that may be related to the breach of
          confidentiality obligations or violation of the intellectual property
          rights set forth in the Terms.
        </p>
        <p>
          If any claim, dispute or controversy occurs amongst Users or a User and
          Conata relating to the interpretation or implementation of any
          of the provisions of the Terms, such dispute shall be resolved by private,
          confidential and binding arbitration. Such arbitration shall be conducted
          by a single arbitrator. The arbitrator shall be appointed by agreement
          between the parties or, in the absence of an agreement, such arbitrator
          shall be appointed by a judge of the Supreme Court of California in
          Toronto upon the application of any of the parties. Arbitration shall be
          held in the City of Toronto. The procedure to be followed shall be agreed
          by the parties or, in default of agreement, determined by the arbitrator.
          The arbitration shall proceed in accordance with the provisions of the
          <em>Arbitration Act, 1991</em>, SO 1991, c 17. Subject to any right of
          appeal, the decision arrived at by the arbitrator shall be final and
          binding. Judgment upon the award rendered by the arbitrator may be entered
          in any court having jurisdiction.
        </p>
        <p>
          Waiver of Class Proceedings
        </p>
        <p>
          We and all Users hereby waive any right they may have to commence or
          participate in any class action lawsuit against Conata related
          to any claim, dispute or controversy and, where applicable, Offer Providers
          and Users / Users and Conata hereby agree to opt out of any
          class proceeding against Conata otherwise commenced.
        </p>
        <p>
          Severability
        </p>
        <p>
          If any portion or provision of the Terms shall to any extent be declared
          illegal or unenforceable by a court of competent jurisdiction, then the
          remainder of the Terms, or the application of such portion of provision in
          circumstances other than those as to which it is so declared illegal or
          unenforceable, shall not be affected thereby, and each portion and
          provision of the Terms shall be valid and enforceable to the fullest extent
          permitted by law.
        </p>
        <p>
          No Assignment
        </p>
        <p>
          Conata may assign or delegate the Terms, including the Terms of
          Use and/or the Conata Privacy Policy, in whole or in part, to
          any person or entity at any time with or without your consent and without
          prior notice to you.
        </p>
        <p>
          Users may not assign or delegate any rights or obligations under the Terms
          without Conata&#8217;s prior written consent and any
          unauthorized assignment and delegation by you is void.
        </p>
        <p>
          Headings and Summaries
        </p>
        <p>
          The headings, captions and summaries in the Terms are for convenience only
          and in no way define or describe the scope or content of any provision of
          the Terms.
        </p>
        <p>
          Other Rules of Interpretation.
        </p>
        <p>
          Any reference to gender includes all genders; words importing the singular
          number only shall include the plural and vice versa; the
          word<strong> &#8220;or&#8221; </strong>is not exclusive; and the words
          <strong> &#8220;</strong>including&#8221;, &#8220;includes&#8221; and
          &#8220;include&#8221; mean &#8220;including without limitation&#8221;.
        </p>
        <p>
          No Waiver of Covenants
        </p>
        <p>
          Failure by any party to insist upon the strict performance of any of the
          covenants, agreements, terms, provisions or conditions contained in the
          Terms or to exercise any election shall not be construed as a waiver or
          relinquishment of such covenant, agreement, term, provision or condition
          but the same shall continue and remain in full force. No waiver shall be
          deemed to have been made unless expressed in writing.
        </p>
        <p>
          Surviving Provisions.
        </p>
        <ul>
          <li>
            <strong>
              Only the following provisions of these Terms of Use will survive
              following any termination or expiration: Sections 10, 22, 25, 26,
              28, 29, 30, and this Section 36.
            </strong>
          </li>
        </ul>
        <p>
          Entire Agreement
        </p>
        <p>
          The Terms, in combination with all policies and guidelines of the Website
          (including but not limited to the Privacy Policy), incorporated by
          reference, constitute the entire agreement between you and Buyer
          College and supersede all prior communications, agreements and
          understandings, written or oral, with respect to the subject matter of the
          Terms.
        </p>
        <p>
          <strong>
            You acknowledge that you have read and understand the Term and will be
            bound by the Terms.
          </strong>
        </p>
      </section>

      <form
        ng-hide="vm.intro === true || vm.user._id"
        name="vm.acceptanceForm"
        ng-action="api/v1/user"
        ng-submit="vm.acceptedTerms()"
      >

        <ion-radio
          name="acceptance"
          type="radio"
          ng-value="false"
          ng-model="vm.user.verification.hasAcceptedTerms"
          ng-required="true"
          ng-change="vm.acceptTerms()"
        >Reject</ion-radio>

        <ion-radio
          id="acceptance"
          name="acceptance"
          type="radio"
          ng-value="true"
          ng-model="vm.user.verification.hasAcceptedTerms"
          ng-required="true"
          ng-change="vm.acceptTerms()"
        >Accept</ion-radio>

      </form>
    </ion-content>
  </ion-view>
</ion-nav-view>

