<ion-view
    id="profile"
    class="profile--view-card"
>

  <ion-header-bar align-title="center">
    <button class="icon ionicons ion-ios-arrow-thin-left" ng-click="vm.previous()"></button>
    <h1 class="title">View Card</h1>
    <a ng-click="vm.deleteCard(vm.card.id)" class="header-bar--delete-link">
      Delete
    </a>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <section class="card--content">
      <div class="content--listing">
        <dl class="listing--def">
          <dt class="def--last4">
            <img
              width="24px"
              src="./images/icons/{{vm.card.brand}}@3x.png" />
          </dt>
          <dd class="def--last4">**** **** **** {{vm.card.last4}}</dd>
          <dt class="def--expiry">
            <abbr title="Expiry" aria-label="Expiry">EXP</aabr>
          </dt>
          <dd class="def--expiry">
            <span class="expiry--month">{{vm.card.exp_month}}</span>
            <span class="expiry--year">{{vm.card.exp_year}}</span>
          </dd>

        </dl>

        <dl class="listing--def">

          <dt class="def--name">
            Name
          </dt>

          <dd class="def--name">
            {{vm.card.name}}
          </dd>

          <dt class="def--city">
            City
          </dt>

          <dd class="def--city">
            {{vm.card.city}}
          </dd>

          <dt class="def--state">
            Province
          </dt>

          <dd class="def--state">
            {{vm.card.state}}
          </dd>

          <dt class="def--address_zip">
            Postal Code
          </dt>

          <dd class="def--address_zip">
            {{vm.card.address_zip}}
          </dd>

          <dt class="def--country">
            Country
          </dt>

          <dd class="def--country">
            {{vm.card.country}}
          </dd>

        </dl>
      </div>
    </section>
  </ion-content>

</ion-view>
