// .//app/styles/form/forms.scss

button.button {
  font-weight: 600;
}

.modal-wrapper {
  img[src*="google-on-white"] {
    filter: invert(.5);
  }
  .bar.item-input-inset .item-input-wrapper input {
    color: #fff;

  }
}

ion-item[ng-repeat*="suggestion"] {
  background: transparent;
  color: #0092BC;
  border: none;
}

.item-input-inset {
  .button.button-dark.button-clear {
    color: #fff;
    font-variant: all-small-caps;
  }
}

.item-input-wrapper {

  color: #f9f9f9;
  background: transparent;

  input {
    color: #f9f9f9;
  }
}

.input-block {
  select {
    padding-left: 0;
    padding-right: 0;
  }
}

.activated {
  // @extend .animated;
  // @extend .pulse;
}

.hint--top:before {
  border-top-color: #fff !important;
}
.hint--right:before {
  border-right-color: #fff !important;
}
.hint--bottom:before {
  border-bottom-color: #fff !important;
}
.hint--left:before {
  border-left-color: #fff !important;
}

[class*="hint--"]:before {
}

[class*="hint--"]:after {
  background: #fff !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05) !important;
  color: #333 !important;
  text-shadow: none !important;
  border-radius: 2px;
  font-variant: small-caps;
  text-transform: lowercase;
  padding: 5px 7px 0px 7px;
  height: 24px;
  line-height: 1;
  letter-spacing: 1px;
  top: -3px;
  position: absolute;
}

input[type="search"] {
  border-bottom: none !important;
}

.photo-block {
  form {
    position: relative;
    overflow: visible;
  }
}

.resize-width {

  position: absolute;
  top: 95px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 9001;

  @include break-point-iphone5() {
    top: 95px;
  }

  @include break-point-iphone6() {
    top: 100px;
  }

  @include break-point-iphone6-plus() {
    top: 100px;
  }
}

.resize-x {

  position: absolute;
  bottom: 48px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 9001;

  @include break-point-iphone5() {
    bottom: 45px;
  }

  @include break-point-iphone6() {
    bottom: 45px;
  }

  @include break-point-iphone6-plus() {
    bottom: 45px;
  }
}

.resize-y {

  position: absolute;
  z-index: 9001;
  right: -20px;
  top: 120px;

  @include break-point-iphone5() {
    right: -20px;
    top: 110px;
  }

  @include break-point-iphone6() {
    right: -20px;
    top: 110px;
  }

  @include break-point-iphone6-plus() {
    right: -20px;
    top: 170px;
  }
}
.circle-button {
}

.input--error {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  font-style: italic;
}

.input-block {
  position: relative;
}

.input--group {
}

/**
 * Error handling form styles
 */
.ng-invalid:not(.ng-pristine):not(form) {
  border-bottom: 1px red solid !important;
}
.ng-not-empty.ng-invalid { }

/**
 * Non-error condition form styles
 */
ion-content .ng-valid:not(form) {
  border-bottom: 1px rgba(102, 165, 34, 1) solid !important;
  border-bottom: 1px #bbb solid !important;
}

.validation-icon {
  position: absolute;
  right: 1ch;
  bottom: 2ch;
  color: rgba(102, 165, 34, 1);
}

.input-block {
  select {
    border: none;
    width: 90%;
    background-color: transparent;
  }
}

.input-block {
}

  .profile--photo {
    img {
    }
  }

    .photo--caption {

      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;

      .upload {

        font-weight: 500;
        position: relative;

        input {

          position: absolute;
          z-index: 9001;
          opacity: 0;
          cursor: pointer;

        }

        button {

          position: absolute;
          width: 100%;
          z-index: 9000;
        }
      }
    }


form {
  p {
    &:first-child {
      margin-top: 15px;
    }
  }
}

form[name="vm.createLocationForm"] {
  button {
    visibility: hidden;
  }
}

@mixin tgmMessengerStash() {
  tgm-messenger-stash {

    .balance-list--item {

    }

    ol.balances--list {
      li {
        background: transparent;
        //box-shadow: 5px 5px 5px rgba(100, 100, 100, .5);
        padding: 15px;

      }

    }
  }

  @content;
}

@mixin tgmMessengerWallet() {

  .messenger--form {

  }

  .messenger--header {

  }

  .messenger--operations {

  }

  @content;
}

div.balances--content {

  padding: 0;

  @include tgmMessengerWallet() {
  }
  @include tgmMessengerStash() {
  }
}
