<span
  ng-hide="showBillingForm || showPaymentForm || paymentFlow.currentStep === 1"
  ng-click="showingForm = true; showBillingForm = true; addCardToUser()"
  class="button addCardToUser"
>
  <i class="icon ionicons ion-ios-plus-empty"></i>
  <span class="label">Add Credit Card</span>
  <i class="icon ionicons ion-ios-arrow-thin-right"></i>
</span>

<div
  ng-if="(showingForm || paymentFlow.currentStep === 1) || completeForm === false"
  ng-switch="paymentFlow.currentStep"
>
  <section
    ng-show="showBillingForm === true"
    ng-switch-when="0"
    class="animated zoomInUp"
  >
    <div ng-include="'templates/views/profile/add-billing-info.html'"></div>
  </section>

  <section
    ng-switch-when="1"
    ng-show="showPaymentForm === undefined || showPaymentForm === true || paymentFlow.currentStep === 1"
    class="animated zoomInUp"
  >
    <div ng-include="'templates/views/profile/add-cc-info.html'"></div>
  </section>
</div>

<tgm-stripe-js></tgm-stripe-js>
