// ion-content {
//   & > .scroll {
//     transform: none !important;
//   }
// }
// ion-view#create-user {
//   .scroll {
//     height: 100%;
//     .content {
//       // height: calc(100% + 40px);
//       overflow: auto;
//     }
//   }
// }
// ion-view#create-user ion-content > .scroll {
//   height: 100%;
//   & > .content {
//     height: 100%;
//   }
// }

// .flow--createUser {
  .input-block .icon.ion-checkmark {
    bottom: 10px;

    @include break-point-iphone5() {
      bottom: 10px;
    }

    @include break-point-iphone6() {

      bottom: 10px;
    }

    @include break-point-iphone6-plus() {

      bottom: 10px;
    }
  }
// }

ion-view#create-user div.flow--createUser.flow--step--0 > ion-content > .scroll {
  transform-origin: bottom !important;
  transform: none !important;
}
ion-view#create-user div.flow--createUser.flow--step--1 > ion-content > .scroll {
  height: 100%;
  & > .content {
    height: 100%;
  }
}

ion-view#create-user div.flow--createUser.flow--step--0 > ion-content > .scroll .next-button,
ion-view#create-user div.flow--createUser.flow--step--1 > ion-content > .scroll .next-button {
  position: absolute !important;
}

.keyboard-open ion-view#create-user div.flow--createUser.flow--step--1 > ion-content > .scroll .next-button {
  bottom: -40px;
}

ion-view#create-user div.flow--createUser.flow--step--1 > ion-content {
  -webkit-overflow-scrolling: auto !important;
}

#import-key, #create-user,
#create-missive-view,
#create-listing-view {
  .top-block {
    max-width: 100%;
    position: absolute;
    width: 50%;
    right: 15px;

    img {
      max-width: 100%;
      display: none;
    }
  }
  p > i {
    color: rgba(170, 170, 170, 1);
    font-size: 0.9rem;
    font-variant: small-caps;
    text-transform: lowercase;
  }

  span.super {
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 5px 5px 5px 0;
  }
  button.skip-button {
    color: $accentGreen;
    background: transparent;
    font-weight: bold;
    &.activated {
      opacity: 0.8;
    }
  }
  div.input-block {
    margin: 25px 0;
    label {
      font-variant: small-caps;
      font-size: 16px;
      text-transform: lowercase;
    }
    .row, .col {
      padding: 0;
      span:last-child {
        display: block;
        text-align: right;
      }
    }
    select {
      color: rgba(170, 170, 170, 1) !important;
      &.ng-valid {
        color: #000 !important;
      }
    }
    input[type="text"], input[type="password"], input[type="email"], select {
      background: none;
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      border-bottom: 1px solid rgba(215, 215, 215, 1);
      border-radius: 0;
      display: block;
      width: 100%;
      color: #f9f9f9;
      height: 34px;
    }
  }
  button.next {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $accentGreen;
    color: white;
    border-radius: 0;
    z-index: 999;
    &.activated {
      opacity: 0.8;
    }
  }

  @include break-point-iphone5() {
    button.next {
      bottom: 30px;
    }
  }

  @include break-point-iphone6() {
    button.next {
      bottom: 30px;
    }
  }

  @include break-point-iphone6-plus() {
    button.next {
      bottom: 30px;
    }
  }

  div.payment-methods {
    margin-top: 45px;
    button {
      display: block;
      width: 100%;
      text-align: left;
      padding-left: 25px;
      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      i {
        font-size: 2.2rem;
        color: $accentGreen;
      }
    }
  }
}
