#forgot-password {

  .errors {
    color: red;
  }

  font-size: 14px;

  form {
    div.block div.input-block input[type='email'] { color: #f9f9f9; padding: 0 15px; border-bottom: 1px #f9f9f9 solid; }
    h1, p {
      padding: 0 15px;
    }
  }

  fieldset {
    padding: 0;
    border: none;
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f9f9f9;
  }

  .input-block label {
    color: #f9f9f9;
  }
  .input-block {
    input { color: #f9f9f9 !important; }
  }

  .bar-header { 
    background: #233954 !important;
  }
  .block {

      button {
        right: 15px;
      }



  }
}
