/**
 * @name ./app/styles/views/splash/login.scss
 * @description
 * Login Splash view and Create User subviews.
 */

@mixin crisp-bg() {

  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

#create {

  ion-header-bar.bar.bar-header {

    h1 {
      letter-spacing: 0.1ch;
      background-color: #666666;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
      text-shadow: rgba(10,10,10,0.5) 0px 3px 3px;
    }
  }

  span.label {
    position: relative;
    top: -0.25em;

  }

  ion-content,
  ion-scroll {
    background: rgba(244, 241, 234, 0.75);
    //background: $accentGrey;

    background-color: #233954;
  }

  .bar-header {
    background-color: #233954;
  }

  .content {
    padding: 0 0;
  }

  div.block {

    h2.title {
      span {
        margin-right: 0.5px;
      }
      letter-spacing: 1px;
      margin: 5px auto 20px;
      font-size: 1.3rem;
      color: black;
      color: #eeeeee;
      @extend %centerX;
      text-align: center;
      font-weight: normal;
    }

    div.row.account-type {

      height: 35vh;
      /*background: rgba(255,255,255,0.6);*/
      //border-radius: 5px;
      margin: 15px 0;
      transition: 0.15s ease all;
      -webkit-transition: 0.15s ease all;
      padding: 0;
      position: relative;
      letter-spacing: 0.5px;

      .item {
        border-color: transparent;
        border-top: 1px transparent solid;
      }

      &:active {
        opacity: 0.7;
      }

      &.seller, &.broker, &.buyer {

        background-repeat: no-repeat;
        // background-size: auto 100%;
        background-size: cover;
        background-position: center;
        // max-height: 220px;
      }

      &.seller, &.broker {

        background-image: url('../images/login/imgSeller.jpg');
        .col {
          .item {
            background-color: $accentGreen;
            background-color: #171619;
            background-color: #110f14;
          }
        }
      }

      &.buyer {

        border-top: 3px #92d333 solid;
        border-bottom: 3px #92d333 solid;
        border-top: 3px #414859 solid;
        border-bottom: 3px #414859 solid;
        //background-image: url('../images/login/imgBuyer.jpg');
        background-image: url('../images/LocalTransactionNetwork.png');

        .col {

          .item {
            background-color: transparent;
            //background-color: $accentBlue;
          }
        }
      }

      .col {
        .icon-wallet {
          position: absolute;
          top: -5ch;
          top: -60px !important;
          transform: scale(2) rotate(30deg);
        }

        display: block;
        padding: 0;
        position: absolute;

        bottom: auto;
        top: 7ch;

        .item {

          span[class*="icon-"] {
            position: relative;
            top: .25rem;

          }

          .icon {
            margin-top: -0.5ch;
          }

          .super { display: none; }

          padding: 10px;
          padding-left: 15px;
          // border-bottom-left-radius: 5px;
          //border-bottom-right-radius: 5px;
          margin-bottom: -5px;

          span {
            line-height: 1.4rem;
            display: block;
            color: white;
            text-align: left;

            &.super {
              font-size: 1.3rem;
            }

            &.sub {
              font-size: 0.7rem;
            }
          }

          i {

            &:after {
              background-color: #fff;
              content: ' ';
              display: block;
              height: 2px;
              margin-top: -1px;
              position: absolute;
              right: 21px;
              top: 50%;
              width: 30px;
            }

            color: white;
            font-size: 2.5rem;
            height: 100%;
            padding: 3px;
            padding-right: 10px;
            right: 0;
          }
        }
      }
    }
  }
}

ion-view#login {
  div.block div.input-block input[type='email'] { color: #f9f9f9; padding: 0 15px; }
  div.block div.input-block input[type='password'] { color: #f9f9f9; padding: 0 15px; }
  div.block div.input-block span { color: #f9f9f9; padding-right: 15px; }
  div.block h2.title {}
  div.block div.input-block {
    label {
      color: #ccc !important;
    }
  }
}

#login,
#forgot-password {

  .login--content {
    padding-right: 0;
    padding-left: 0;
  }

  .block {
    h2.title { padding: 0 15px; }

    .button-group {
      button {
        right: 15px;
      }

    }

    .sub {
      display: block;
      padding: 0 15px;
    }

  }

  .input-block {
    label {
      display: block;
      padding: 0 15px;
    }
  }

  fieldset.block,
  div.block {
    color: black;
    color: #f9f9f9;

    h2.title {
      color: #ccc;
      font-size: 1.2rem;
      margin-top: 25px;
      font-weight: normal;
    }

    span.sub, button {
      color: $accentGreen;
    }

    div.input-block {
      margin: 25px 0;
      label {
        font-variant: small-caps;
        font-size: 16px;
        text-transform: lowercase;
      }
      .row, .col {
        padding: 0;
        span:last-child {
          display: block;
          text-align: right;
        }
      }

      input[type="text"], input[type="password"], input[type="email"] {
        background: none;
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        border-bottom: 1px solid black;
        border-radius: 0;
        display: block;
        width: 100%;
        color: black;
        &.error {
          border-bottom: 1px solid red;
        }
      }

      span.error {
        font-size: 0.8rem;
        color: red;
        position: relative;
        top: 15px;
      }
    }
  }
}

div.modal-wrapper div.login-modal {
  @include break-point-template(680px, 5000px) {
    width: 100% !important;
    left: 0;
    top: 0;
  }
}

div.login-modal {

  height: 100vh;
  padding: 0 25px;
  outline-style: solid;
  outline: 2px solid white;
  // background: url('../images/splash.png');
  background: url('../images/chat-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f1f1f1;

  // @include crisp-bg();

  fieldset.block,
  div.block {

    color: white;

    img {
      margin-bottom: 10px;
    }

    span {
      display: block;

      &.super {
        font-size: 1.75rem;
        position: relative;
        letter-spacing: 1px;
        font-weight: 300;
        left: 2px;
        top: -2px;
        margin-bottom: 10px;
        font-variant: all-small-caps;
      }

      &.sub {

        position: absolute;
        bottom: 20px;
        font-size: 11px;
        line-height: 1.5;

        a {
          text-decoration: underline;
          color: white;
          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }

  fieldset.block.top-block,
  div.block.top-block {

    @extend %centerAll;

    top: 50px;

    // @TODO logo
    img {

      max-width: 85%;

      // @include crisp-bg();

    }
  }

  div.block.buttons > span.sub {

    text-align: center;
    display: block;
    width: 100%;
    font-variant: unicase;
    bottom: 16vw;

  }

  fieldset.block.buttons,
  div.block.buttons {

    position: absolute;
    // bottom: 0;
    bottom: 1rem;
    left: 0;
    display: block;
    width: 100%;
    //padding: 0 20px;
    padding: 0 0px;

    .sub {
    }

    div.button-group {

      //display: block;
      display: flex;

      position: relative;
      top: -11vh;
      width: 100%;

      button.button {

        //border-radius    : 5px;
        border-radius    : 0;
        background-color : white;
        box-shadow       : 0px 1px 4px rgba(0, 0, 0, 0.17);
        //border           : 2px solid white;
        color            : $accentGreen;
        font-weight      : 500;
        font-size        : 1em;
        font-variant     : unicase;
        height           : 50px;
        letter-spacing   : 1px;
        line-height      : 1;
        margin           : 10px 0;
        // max-width        : 320px;
        text-transform   : uppercase;

        &:first-child {
          line-height: 1;
        }

        &:last-child {
          line-height: 2;
        }

        &.login {
          background-color: transparent;
          color: white;
        }

        &.activated {
          opacity: 0.8;
        }

        & {

          &:nth-child(1),
          &:nth-child(2) {
            span {
              color: #111;
            }
          }

          /*
          &:nth-child(2) {
            span {
              color: #111;
            }
          }
          */

          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }

    span.sub.continue {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
      font-weight: bold;
    }
  }
}

