.next-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#support {

  font-size: 14px;

  textarea {
    resize: none;
    width: 100%;
    background-color: rgba(241, 241, 241, 1);
    border-radius: 5px;
    padding: 15px;
    letter-spacing: 0.5px;
  }

  .scroll {
    height: calc(100% - 16px);
  }

  [for="feedback"] {
    position: absolute;
    left: -9999px;
    @extend .accessibly-hide !optional;
  }

  & form > .errors {
    margin-top: 0;
  }

  .errors {
    margin-top: 10px;
    color: red;
  }

  form {
    height: calc(100% - 30px);
    margin: 15px 15px 0 15px;
    padding: 25px 15px 15px 15px;
    // background-color: #fff;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;

    & > p {
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

  fieldset {
    padding: 0;
    border: none;
    &:last-child {
      button {
        bottom: 0;
      }
    }
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
