/**
 * @fileOverview ./app/styles/directives/createContract.scss
 * @name tgm.directives:createContract
 * @description
 * Suppose that "bookings" becomes "coins".from the buyers "historical" perspective.
 * Because objects are contextual: they don't mean the same thing when under the
 * balance versus history view, so our code contextualizes these as an
 * application feature. So, "booked coin or token contract" (emphasis on past-tense)
 */
@include Directive($name: 'create-contract') {

  .bookings--content {

    .content--title {

      padding: 15px 0;
      background-color: #fff;
      border-bottom: 1px #eee solid;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;

      h2, h3 {
        margin: 0 15px;
        text-align: left; }
      h2 {
        font-size: 1rem;
        margin-bottom: 5px; }
      h3 {
        font-size: 0.825rem;
      }

      .title--display {
        border: 2px rgba(193, 232, 105, 1) solid;
        border-radius: 30px;
        margin: 0 10px 15px;
        padding: 7px 15px;
        table {
          width: 100%;
          td {
            text-align: center;
            width: 75%;
          }
          th {
            font-weight: 500;
            text-align: left;
            width: 25%;
          }
        }
      }
    }

    .content--container section {
      span.super {
        padding: 15px;
        padding-top: 0;
        display: block;
      }
      form {
        select {
          margin-top: 10px;
          width: 90%;
        }
        margin-top: 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #fff;
        padding: 0 15px;
        padding-top: 1px;
        padding-bottom: 15px;
        & > .input-block:first-of-type {
          margin-top: 14px;
        }

      }
      &:not(:last-child) {
        border-bottom: 1px #eee solid;
      }
      // border-radius: 15px;
      .container--howMany {
        padding: 15px 15px 20px 15px;
      }
    }

    // button.button.next {
    //   &:after {
    //     content: '';
    //     display: none;
    //   }
    //   position: absolute;
    //   bottom: -63px;
    //   display: block;
    //   // Using this method because calculating the relation to height depends on
    //   // granularity of vertical rhythm, which we are not setting throughout the
    //   // app — so any height in relation to the above element will be more or
    //   // less arbitrary.
    //   width: calc(100% + (15px * 2));
    //   border-radius: 0;
    //   left: -15px;
    //   appearance: none;
    //   -webkit-appearance: none;
    //   height: 45px;
    //   border: 0;
    //   color: white;
    //   background-color: $accentGreen;
    //   font-size: 1rem;
    //   &:active {
    //     opacity: 0.8;
    //   }
    // }

  }
}

