// ./app/styles/directives/myoffers.scss
#my-offers {

  div.list {

    button {
      background: transparent;
      border: none;
    }

    .item {

      border: 0;
      display: block;
      margin: 0 auto;
      min-height: 2rem;
      width: 100%;

      span.no-items {

        color: #ccc;
      }

      background: transparent;
      border: none;
      text-align: center;

      &:first-child {
        .item-options {
          .button-light {
            &:last-child {
              border-top-right-radius: 15px;
            }
          }
        }
        .item-content {
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }

      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &:not(last-child) {
        // border-bottom: 1px solid $accentGrey;
      }

      span.title {
        font-size: 1rem;
      }

      span.subtitle {
        font-size: 0.8rem;
      }
    }

    ion-item {

      ion-option-button {

        color: white;

        &.ion-edit {
          background: $accentBlue;
        }

        &.ion-close {
          background: red;
        }

        &:active {
          opacity: 0.8;
        }
      }

      div.item-content {
        padding: 15px 0 5px 15px;
      }
    }

    button {

      color: $accentBlue;

      i {

        left: 50px;

        &:before {
          font-size: 1.5rem;
        }
      }
    }
  }
}

