tgm-network {
  position: relative;
  z-index: 9000;
  ul {
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    li { 
      text-align: center;
      width: 100%; 
    }
  }

}
