<ion-view id="statistics">
  <ion-header-bar align-title="center">
    <h1 class="title">Statistics</h1>
  </ion-header-bar>

  <ion-content>
    <div class="content">
      <div class="block">
        <div class="item">
          <span class="no-item">Statistics coming soon!</span>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
