.popup {
  border-radius: 15px !important;
  background-color: #fff !important;
}
.popup--header h2 {
  font-size: 0.75rem;
  color: $accentBlue;
}
.popup--header__icon {
  font-size: 3rem;
  color: $accentBlue;
  text-align: center;
}

.popup--content {
  color: #444;
}

.popup-buttons {
  padding: 0 !important;
  min-height: 30px !important;
  .button-default {
    background: transparent !important;
    color: #000 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}


