<div class="modal assets-modal amenities-modal easements-modal">
  <ion-header-bar align-title="center">
    <button class="icon ionicons ion-ios-arrow-thin-left" ng-click="vm.clearAssets()"></button>
    <h1 class="title">Add Assets</h1>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <add-assets></add-assets>
    <button class="next-button" ng-click="vm.serializeAssets()">Save</button>
  </ion-content>
</div>
