<div class="modal calendar-modal">
  <ion-header-bar align-title="center">
    <button class="icon ionicons ion-close" ng-click="vm.calendarModal.hide()"></button>
    <h1 class="title">View Calendar</h1>
    <button class="icon ionicons ion-checkmark" ng-click="vm.calendarControl.onSelection()"></button>
  </ion-header-bar>

  <ion-content overflow-scroll="true">
    <div class="calendar-header">
      <span>{{vm.viewTitle}}</span>
    </div>
    <calendar
      format-month-title="MMMM yyyy"
      calendar-mode="'month'"
      event-source="vm.calendarControl.eventSource"
      title-changed="vm.calendarControl.onViewTitleChanged(title)"
      monthview-event-detail-template-url=""
      ng-model="vm.calendarControl.selectedDate"
      is-date-disabled="vm.calendarControl.isDateDisabled(date)"
    ></calendar>
  </ion-content>
</div>
