<div class="modal coin-management-modal">

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-close"
      ng-click="vm.coinManagementModal.hide()"
    ></button>
    <h1 class="title">Add Token</h1>
  </ion-header-bar>

  <add-coins></add-coins>
</div>
