<div class="modal filter-properties">
  <ion-header-bar align-title="center">
    <button class="icon ionicons ion-close" ng-click="vm.filterPropertiesModal.hide()"></button>
    <h1 class="title">Filter Properties</h1>
  </ion-header-bar>

  <filter-properties></filter-properties>

</div>
