<!--

  @fileOverview ./app/templates/modals/login.html

  @description

-->

<div class="modal login-modal">

  <div class="block top-block">
    <!-- <span class="super" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.17);">Surf with</span> -->
    <div style="background: #fff;
        padding: 15px 10px 0 10px;
        text-align: center;
        position: absolute;
        width: calc(100% + 50px);
        left: -25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);"
    >
      <img
        alt="Messenger Wallet"
        src="./images/MW--Logo__Type3.png"
        class="animated fadeIn"
      />
    </div>
  </div>

  <div
    class="block logo-block"
    style="display: flex; align-items: start; margin-top: 30vh; width: 100%; justify-content: center; position: relative; z-index: -1;"
  >
    <img
      alt="Messenger Wallet"
      src="./images/nexttech--logo--dark.png"
      style="object-fit: contain; width: 50vh;"
      class="animated fadeIn"
    />
  </div>

  <div class="block buttons">
    <div class="button-group">

      <button
        aria-hidden="false"
        class="button row import"
        ng-click="vm.handler.importKey()"
      >
        <span style="font-weight: 600; color: #233853">Import Key</span>
      </button>

      <button
        aria-hidden="false"
        class="button row create"
        ng-click="vm.handler.createAccount()"
      >
        <span style="font-weight: 600; color: #233853">Create Account</span>
      </button>

      <button
        aria-hidden="false"
        class="button row login"
        ng-click="vm.handler.logIn()"
      >
        <span style="font-weight: 600; color: #f9f9f9">Log In</span>
      </button>
    </div>

    <span
      class="sub "
    >By signing up, I agree to Wallet Companion's
      <a
        ng-click="vm.handler.tos()"
      >Terms of Service</a>.
    </span>
  </div>

</div>
