
<div class="modal view-offer view-property">

  <style>
  .view-property ion-content { color: #111 !important; }
  </style>

  <ion-header-bar align-title="center">

    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.hideOfferModal()"
    ></button>

    <h1 class="title">View Offer</h1>
  </ion-header-bar>

  <ion-content
    data-tap-disabled="true"
    overflow-scroll="true"
    delegate-handle="modalContent"
  >

    <offer-details></offer-details>

    <button
      class="button next"
      ng-click="vm.openHotelPage(vm.currentOffer)"
      ng-class="{
        'disabled': vm.coinTypeSelected === false || setDisabled === true
      }"
      ng-show="vm.currentOffer.name"
    >
      <span>{{vm.actionLabel}}</span>
    </button>

    <button
      class="button next"
      ng-click="vm.submitAction(vm.currentOffer, vm.currentProfile)"
      ng-class="{
        'disabled': vm.coinTypeSelected === false || setDisabled === true
      }"
      ng-hide="vm.currentOffer.name"
    >
      <span>{{vm.actionLabel}}</span>
    </button>
  </ion-content>

</div>

