.coin-management-modal {

  ion-content, ion-scroll {
    margin-bottom: 45px;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  div.availability span {

    background: none;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    // border-bottom: 1px solid #ccc;
    border-radius: 0;
    display: block;
    width: 100%;
    color: black;
    color: #f9f9f9;
    margin-bottom: 15px;
  }

  div.availability span {
    height: 1.5rem;
  }

  input[type="radio"]:not(old) {

    width     : 1em;
    margin    : 0;
    padding   : 0;
    font-size : 2em;
    opacity   : 0;
    position: relative;
    top: 9px;
    left: 3px;
    height: 1em;

    & + label {

      display      : inline-block;
      margin-left  : -2.5em;
      line-height  : 1.5em;

      & > span {
        display          : inline-block;
        width            : 2em;
        height           : 2em;
        margin           : 0.25em 0.25em 0.25em 0.25em;
        border           : 0.0625em solid rgb(192,192,192);
        border-radius    : 0.25em;
        background       : rgb(224,224,224);
        background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
        background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
        background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
        background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
        background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
        vertical-align   : middle;
      }

    }

    &:checked {

      background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));

      & + label > span > span {
        display          : block;
        width            : 1.55em;
        height           : 1.55em;
        margin           : 0.15em;
        border           : 0.0625em solid rgb(115,153,77);
        border-radius    : 0.125em;
        background       : rgb(153,204,102);
        background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
        background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
        background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
        background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
        background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
      }
    }

  }

  div.number-block {

    position: relative;

    input[type="number"] {
      padding-left: 15px;
    }

    span.dollar, span.detail { position: absolute; bottom: 7px; }
    span.dollar { left: 0; }
    span.detail { right: 0; color: $accentBlue; }
  }

  div.radio-group {
    margin-bottom: 15px;
    &, div.col { padding: 0; }
  }

  label {
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  div.block {

    display: block;
    width: 100%;
    // background: white;
    // border-radius: 15px;
    padding: 15px;
  }

  div.paymentType-block {

    margin: 0 0 15px;

    .type-selection {

      margin: 0 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      button {

        background-color: #fff;
        width: 100%;
        border: 0;
        display: flex;
        flex-direction: row;
        padding: 0;

        &.selected {
          border-bottom: 1px #ccc solid;
        }

        &:not(.ng-hide) {
          &:last-child {
            border-bottom: 1px #ccc solid;

          }
        }

        i {
          color: $accentBlue;
        }

        span {
          flex-grow: 1;
          font-size: 1em;
          text-align: left;
          padding: 5px 0;
          &:last-child {
            flex-grow: 0;
            text-align: right;
          }
        }

      }
    }
  }
}

