// ./app/styles/views/missives/create-missive.scss

/**
  * @description
  * Assets Modal
  */
div.modal.assets-modal {
  height: 100%;
  & > ion-content,
  & > ion-scroll {
    height: auto;
    min-height: auto;

    & > .scroll {
      min-height: 100%;
      height: auto;
      overflow: hidden;

      @include break-point-iphone5() {
        height: -webkit-fill-available;
      }

      @include break-point-iphone6() {
        height: -webkit-fill-available;
      }

      @include break-point-iphone6-plus() {
        height: -webkit-fill-available;
      }
    }
  }
}

.coin-management-modal #newCoinForm {
  div.block {
    background: transparent;
    color: #f9f9f9;

    input {
      color: #0092BC;
    }
  }
}

#create-missive-view,
#create-listing-view {
  .add-coin {
    background-color: transparent;
    color: #0092BC;
    border: none;
  }
  .pane {
    background-color: #233954;
    #create-new-offer-view,
    #create-listing {

      input[type="text"] {
        border-bottom: 1px #fff solid;
      }
    }
  }
  .edit-details {
    .scroll {
      margin-bottom: 20vh;
    }
  }

  ion-list {
    .list {
      .item {
        color: #f9f9f9;;
        // border-radius: 15px;
        background: transparent;
        border: none;
      }
      button {
        background: transparent;
        border: none;
      }
    }
  }

}

#create-missive-view,
#create-listing-view {
  h1.title {
    font-size: 0.9rem;
  }
}

#create-missive,
#create-new-offer-view,
#create-listing {

  .photo img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    min-width: 100%;
  }

  ion-content {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }
    // padding: 15px;
  }

  span.top {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #f9f9f9;
    border-radius: 0;
    display: block;
    width: 100%;
    color: #f9f9f9;
    margin-bottom: 15px;
  }

  textarea {
    display: block;
    width: 100%;
    height: 25vh;
    // background-color: #f5f5f5;
    margin: 5px 0 15px;
    padding: 15px;
    border-bottom: 1px #f9f9f9 solid;
    // border-radius: 15px;
  }

  label {
    text-transform: uppercase;
  }

  div.block {

    display: block;
    width: 100%;
    // background: $accentGrey;
    padding: 15px;

    div.inner {

      display: block;
      width: 100%;
      // height: 100%;
      // background: white;
      // border-radius: 15px;
    }

    &.location-block {
      div.search-box {
        position: relative;
        i {
          position: absolute;
          font-size: 1.5rem;
          top: 5px;
          color: $accentGreen;
          &.disabled {
            color: #ccc;
          }
        }
        #offer-autocomplete {
          display: block;
          width: 100%;
          padding-left: 30px;
          padding-bottom: 5px;
          font-size: 1.25rem;
          border-bottom: 1px solid #ccc;
          color: #f9f9f9;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:active {
            background-color: #f5f5f5;
          }
        }
      }

      div.inner {
        padding: 15px;
      }
    }
    &.photo-block {

      div.inner {
        padding: 15px;
      }

      div.numbers-group {
        text-align: center;
        margin-top: 15px;
        span {
          margin: 0 3px;
          // border-radius: 100%;
          border: 1px solid $accentGreen;
          color: $accentGreen;
          padding: 5px 10px;
          &.disabled {
            border: 1px solid #ccc;
            color: #ccc;
          }
        }
      }

      div.photo {
        margin: 15px 0;
        min-height: 25vh;
        max-height: 25vh;
        background-color: #ccc;
        overflow: hidden;
      }

      div.item.upload {

        font-size: 0.8rem;
        font-weight: 600;
        color: $accentGreen;
        // font-family: Abel;
        font-family: "Oxygen", "Helvetica", Arial;
        padding: 7px 0;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid $accentGreen;

        span {
          position: relative;
          top: 2px;
          left: 5px;
        }
        &:active {
          opacity: 0.8;
        }
        i {
          left: 5px;
          &:before {
            font-size: 1.5rem;
          }
        }
      }
      span.instructions {
        margin-top: 15px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
      }
    }
    &.description-block {
      div.inner {
        padding: 15px;
      }

      div.item.add-assets {
        display: block;
        width: 100%;
        border: 0;
        // border-bottom: 1px solid #ccc;
        // border-top: 1px solid #ccc;
        background: transparent;
        color: #0092BC;
        &:active {
          opacity: 0.8;
        }
      }
    }
    &.edit-details {
      padding: 0;
      margin-bottom: 75px;
      span.title { font-size: 1rem; line-height: 1rem; }
      span.description { font-size: 0.8rem; line-height: 1rem; }
      div.inner {
        // background: $accentGrey;
        border-radius: 0;
        margin-bottom: 75px;
      }

      div.hero {
        display: block;
        width: 100%;
        height: 25vh;
        background-color: #ccc;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
      }

      div.list {

        div.item {
          &:last-of-type {
            border-radius: 15px;
          }
          &:last-child { border-bottom: 0; }
          &:active {
            opacity: 0.8;
            // background-color: $accentGrey;
          }
          span.title {
            padding: 0;
          }
          i {
            color: $accentGreen;
          }
        }
      }
    }
  }

  .edit-details {
    height: 100%;
    & > ion-content,
    & > ion-scroll {
      min-height: 100%;
      height: 100%;
      & > .scroll {
        height: 100%;
        min-height: 100%;

        @include break-point-iphone5() {
          height: calc(100% + 100px);
          min-height: calc(100% + 50px);
        }

        @include break-point-iphone6() {
          height: calc(100% + 150px);
          min-height: calc(100% + 75px);
        }

        @include break-point-iphone6-plus() {
          height: calc(100% + 150px);
          min-height: calc(100% + 75px);
        }

        .inner {
          &:last-child {
          }
        }
      }
    }
  }

  .coin-management {
    height: 100%;
    & > ion-content,
    & > ion-scroll {
      min-height: 100%;
      height: 100%;
      & > .scroll {
        &:after {
          display: block;
          content: ' ';
          width: 100%;
          height: 50px;
        }
        height: calc(100% + 20vh);
        min-height: calc(100% + 20vh);

        @include break-point-iphone5() {
          height: calc(100% + 20vh);
          min-height: calc(100% + 20vh);
        }

        @include break-point-iphone6() {
          height: calc(100% + 20vh);
          min-height: calc(100% + 20vh);
        }

        @include break-point-iphone6-plus() {
          height: calc(100% + 20vh);
          min-height: calc(100% + 20vh);
        }

        .inner {
          &:last-child {
          }
        }
      }
    }
  }

  .coin-management {

    span.top {
      display: block;
      margin-bottom: 5px;
    }

    .add-coin {
      padding: 15px;
      // border-bottom-left-radius: 15px;
      // border-bottom-right-radius: 15px;
    }

    .item {
      color: $accentBlue;
      border-style: none;
      &:nth-of-type(2n+1) {
      }

    }

    ion-item.item {
      &:last-child(),
      &:first-child() {
        .item-content {
          // @TODO
          // border-bottom-left-radius: 15px !important;
          // border-bottom-right-radius: 15px !important;
        }
      }
    }

    ion-item {
      background: transparent;
      cursor: pointer;
      .col {
        font-size: 0.8rem;
        color: #111;
        line-height: 2;
        &:first-child {
        }
        &:last-child {
          text-align: right;
        }
      }
    }

    div.type-selection:nth-child(n+1) {
      ion-list {
        .item-content {
          // background-color: #fff !important;
          // border-bottom: 1px #ddd solid !important;
          // border-top-left-radius: 15px;
          // border-top-right-radius: 15px;

          @include break-point-iphone5() {
            border-bottom: 1px #ddd solid !important;
          }

          @include break-point-iphone6() {
            border-bottom: 1px #ddd solid !important;
          }

          @include break-point-iphone6-plus() {
            border-bottom: 1px #ddd solid !important;
          }

        }
        .item-options {
          .button-light:last-child {
            // border-top-right-radius: 15px;
          }
        }
      }
    }

    div.type-selection:nth-last-child(-n+2) {
      ion-list {
        .item-content {
          border-bottom: none !important;
          // background-color: #fff;
        }
      }
    }
    .item-options {
      .ion-edit,
      .ion-close {
        color: #fff;
      }
      .ion-edit {
        background-color: rgba(73, 144, 226, 1);
      }
      .ion-close {
        background-color: rgba(254, 56, 36, 1);
      }
    }

    .item-content {
      background: transparent;
      display: flex;
      border-bottom: 1px #ddd solid;

      & > * {
        flex-grow: 0;
        &:last-child {
          position: absolute;
          width: 100%;
          line-height: .95rem;
          left: 42px;
        }
      }
    }

    div.inner {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 15px;
      .item.add-coin {
        border: 0;
        text-align: center;
        color: $accentBlue;
        span {
          font-size: 1.1rem;
        }
        i {
          position: relative;
          top: 3px;
          right: 5px;
          &:before {
            font-size: 1.5rem;
          }
        }
        &:active {
          opacity: 0.8;
        }
      }
    }

    div.type-selection {
      &.type-noselection {
        span {
          display: block;
          padding-left: 0 !important;
          text-align: center;
          color: rgba(41, 41, 41, 1) !important;
        }
      }
      span.selection {
        font-size: 1rem;
        padding-left: 25px;
        color: $accentBlue;
        display: block;
        height: 1rem;
      }
      .coin-type-selection {
        i {
          top: 15px;
          left: 0;
        }
      }
    }
  }

  .type-selection {
    position: relative;
    // background: white;
    // border-radius: 10px;
    padding: 15px;

    div[class$="type-selection"] {
      display: block;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      padding: 5px 0;
      font-size: 1rem;

      input.selection {
        font-size: 0.9rem;
        color: $accentBlue;
        display: block;
        height: 1.25rem;
        margin-bottom: 0;
        border-bottom: 0;
      }

      i {
        position: absolute;
        top: 43px;
        right: 15px;
        pointer-events: none;
        color: $accentBlue;
        font-size: 1.1rem;
      }
    }

    div.offer-types {
      margin-top: 10px;

      span.title {
        padding-left: 10px;
        margin-bottom: -3px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.7rem;
        border: 0;
        overflow: visible;
        i.icon {
          font-size: 1rem;
          color: red;
          &:active {
            opacity: 0.8;
          }
        }
      }

      div.type {
        display: block;
        width: 100%;
        padding: 12px;
        border: 0px;
        border-bottom: 1px solid #ccc;
        margin: 0;
        font-size: 0.9rem;
        &.activated {
          background-color: #f5f5f5;
        }
        &.selected {
          background-color: $accentBlue;
          color: white;
        }
      }
    }
  }

  .disabled {
    span, i {
      color: #aaa!important;
    }
  }
}

div.modal.assets-modal {

  div.content {
    height: calc(100vh - (#{$headerHeight}));

    @include break-point-iphone5() {
      height: auto !important;
    }

    @include break-point-iphone6() {
      height: auto !important;
    }

    @include break-point-iphone6-plus() {
      height: auto !important;
    }

  }

  div.block {

    display: block;
    width: 100%;
    // background: white;
    // border-radius: 15px;
    padding: 15px;

    span.top-center {
      font-size: 1.2rem;
      margin-bottom: 25px;
    }
    div.assets-container {
      display: flex;
      height: 65px;
      margin-bottom: 35px;
      div.amenity {

        &:before {
          border: 2px $accentGreen solid;
          width: 60px;
          height: 60px;
          border-radius: 100px;
          content: ' ';
          position: absolute;
          left: 12px;
          top: -15px;

          @include break-point-iphone6() {
            left: 21px !important;
          }

          @include break-point-iphone6-plus() {
            left: 28px !important;
          }
        }

        position: relative;
        flex: 0 33%;
        span {
          font-variant: small-caps;
          text-transform: lowercase;
          letter-spacing: 0.5px;
        }
        img, span {
          @extend %centerX;
          position: absolute;
        }
        img {
          height: 30px;
          top: 0;
        }
        span {
          text-align: center;
          bottom: -5px !important;
          font-size: 0.9rem;
          line-height: 0.7rem;
        }
      }
    }
  }
}
.ngmap-activated {

  &.inner {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
.location-block {
  height: 100%;
  .footer {
    position: relative;
  }
}
.gmap {
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.offer-type-selection-label {
  color: $accentBlue;
  &.none-selected {
  }
}
