@mixin __placeholder__() {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

#offer-autocomplete,
#autocomplete {
  @include __placeholder__() {
    line-height: 1;
    padding: 0;
    position: relative;
    top: 3px;
  }
}

div.modal.filter-offers {

  & > div {
    height: 100%;
    & > ion-content,
    & > ion-scroll {
      height: 100%;
      min-height: 100%;
      & > .scroll {
        min-height: 100%;
        height: auto;
      }
    }
  }
  background-color: #f5f5f5;
  .bar.bar-header {
    button:before {
      font-size: 1.2rem;
    }
  }
  ion-content, ion-scroll {
    padding: 15px;
  }
  #filters {
    div.title-row {
      .col:first-child {
        text-transform: uppercase;
        font-size: 1rem;
      }
      .col:last-child {
        text-align: right;
        color: $accentGreen;
        text-decoration: underline;
      }
    }
    span.title {
      display: block;
      margin-bottom: 10px;
      padding: 0;
      font-size: 1rem;
    }
    div.block {
      display: block;
      width: 100%;
      background: white;
      border-radius: 15px;
      padding: 15px;
      margin: 10px auto;
      &:last-child {
        margin-bottom: 100px;
      }
      &.option-block {
        position: relative;
        margin-top: 0;
        #bed-type-selection {
          display: block;
          width: 100%;
          border-bottom: 1px solid #ccc;
          padding: 5px 0;
          font-size: 1rem;
          i {
            position: absolute;
            top: 20px;
            right: 15px;
            pointer-events: none;
            color: $accentBlue;
            font-size: 1.1rem;
          }
        }
        div.bed-types {
          margin-top: 10px;
          div.type {
            display: block;
            width: 100%;
            padding: 12px;
            border: 0px;
            border-bottom: 1px solid #ccc;
            margin: 0;
            i {
              color: $accentGreen;
              &:before {
                font-size: 1.2rem;
              }
            }
            &.activated {
              background-color: #f5f5f5;
            }
          }
        }
      }
      &.location-block {
        [readonly] {
          cursor: pointer;
          background: #fff;
        }
        position: relative;
        i {
          position: absolute;
          font-size: 1.5rem;
          top: 18px;
          color: $accentGreen;
          &.disabled {
            color: #ccc;
          }
        }
        .toggle input:checked + .track {
          border: 0;
          background-color: $accentGreen;
        }
        div.item-toggle {
          padding: 16px 99px 16px 0;
          border: 0;
          font-size: 0.9rem;
          margin-top: 5px;
          border: 0!important;
        }
      }
      &.date-block {
        input {
          cursor: pointer;
          background: #fff;
        }
        &:active {
          opacity: 0.8;
        }
        .input--group {
          label {
            display: block;
            margin-bottom: 10px;
          }
          margin-top: 10px;
          &:first-of-type {
            padding-top: 0;
          }
        }
        span.calendar-selection {
          display: block;
          padding: 5px 0;
          text-transform: capitalize;
        }
      }
    }
  }
  button.submit-button {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    appearance: none;
    -webkit-appearance: none;
    height: 45px;
    border: 0;
    color: white;
    background-color: $accentGreen;
    font-size: 1rem;
    &:active {
      opacity: 0.8;
    }
  }
  #autocomplete, input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    color: black;
    color: #f9f9f9;
    &:active {
      background-color: #f5f5f5;
    }
  }
  #autocomplete {
    padding-left: 30px;
  }
  input[type="text"], input[type="email"] {
    margin-bottom: 5px;
  }
}
.calendar--input {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.calendar--input label {
  text-align: left;
}
.calendar--input input {
}
.calendar--input label,
.calendar--input input {
  width: 100%;
}
.calendar-selection {
  border-top: none;
  border-left: none;
  border-right: none;
}
