// ./app/styles/views/my-offers.scss
#my-offers {
  .item-content {
    background-color: transparent;
    color: #f9f9f9;
  }
  .list {
    .item {
      max-width: 100%;
      margin: 0 auto;
      i {
        font-size: 1rem;
      }
    }
  }
}
