[bpc-stars] {
  position: absolute;
  right: 25px;
  top: 150px;

  @include break-point-iphone5() {
    top: 150px;

  }

  @include break-point-iphone6() {
    top: 205px;

  }

  @include break-point-iphone6-plus() {
    top: 205px;

  }
}
div.modal.view-property {


  ion-content, ion-scroll {
    div.content {
      padding: 15px;
      span.title, span.subtitle {
        padding: 0;
      }
      .info-block {
        display: block;
        width: 100%;
        min-height: 10vh;
        background-color: white;
        border: 0;
        &.times {
          font-size: 0.8rem;
          .inner {
            .col-60 {
              text-align: right;
            }
            .row {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .inner {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid #ccc;
          padding: 20px 15px;

        }

        &.rates {
          .inner {
            border-bottom: 0;
            padding: 0 0;
            .title {
              padding: 20px 15px 0;
            }
            .subtitle {
              padding: 10px 15px 0;
              &:last-of-type {
                padding-top: 0;
              }
            }
            .bed-row {
              padding: 10px 15px;
            }
          }
        }

        &.image {

          height: 30vh;
          background-color: #f5f5f5;
          background-size: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          overflow: hidden;
          display: flex;

          img {
            // display: block;
            // width: 100%;
            width: auto;
            // vertical-align: middle;
            // width: 100%;
            // max-width: 100%;
            object-fit: cover;
            position: relative;
            top: 0;
            left: 0;
          }
        }
        &.title-block {
          span {
            display: block;
            font-weight: bold;
            line-height: 1.5rem;
            &:nth-child(2) {
              margin-bottom: 5px;
            }
          }
          span.title {
            font-size: 1rem;
          }
          span.subtitle {
            font-size: 0.8rem;
          }
          button.request-info {
            display: block;
            width: 100%;
            background-color: $accentGreen;
            color: white;
            text-transform: uppercase;
            padding: 5px;
            min-height: 25px;
            line-height: 25px;
            margin-bottom: 15px;
            &:active {
              opacity: 0.8;
            }
          }
        }
        &.amenities {
          div.inner {
            text-align: center;
            span.no-items {
              display: block;
            }
            img {
              margin: 0 15px;
              width: 40px;
            }
          }
        }
        &.description {
          span.title {
            display: block;
            font-size: 1.1rem;
            margin-bottom: 15px;
          }
          p {
            font-size: 0.8rem;
          }
        }
        &.availability {
          font-size: 0.7rem;
          div.top-title span {
            padding-left: 5px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .col-60 {
            text-align: right;
          }
          .inner {
            padding: 0;
          }
        }
        &.rates {
          span.title {
            display: block;
            font-size: 1.1rem;
          }
          span.sub {
            display: block;
            font-size: 0.7rem;
            margin-bottom: 15px;
          }
          span.subtitle {
            text-transform: uppercase;
            font-weight: bold;
          }
          div.bed-block {
            margin-bottom: 15px;
            div.bed {
                font-size: 0.8rem;
                text-align: center;
                border-left-width: 15px;
                padding-left: 25px;
                padding-right: 25px;
              div.type {
                span {
                  display: block;
                  &.sub {
                    font-size: 0.7rem;
                  }
                }
              }
              div.price {
                text-align: right;
                padding-right: 5px;
                font-size: 0.7rem;
              }
              div.bed-row {
                border-radius: 15px;
                background-color: #f5f5f5;
                border-left-width: 15px;
                border-bottom: 1px solid white;
                margin-bottom: 7px;
                &.selected {
                  background-color: $accentGreen;
                  color: white;
                }
              }
            }
            span.no-items {
              display: block;
              width: 100%;
              background-color: #f5f5f5;
              padding: 10px 15px;
              font-size: 0.8rem;
            }
          }
        }
        &.location {
          div.inner {
            img {
              max-width: 100%;
            }
            span.title {
              display: block;
              font-size: 1.1rem;
              margin-bottom: 15px;
            }
            span.subtitle {
              display: block;
              font-size: 1.2rem;
              font-weight: bold;
              margin-top: 6px;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
    button.next {
      display: block;
      width: 100%;
      border-radius: 0;
      background-color: $accentGreen;
      color: white;
      &:active {
        opacity: 0.8;
      }
    }
  }
}
