
.leaflet-bar {
  box-shadow: none !important;
  border: 1px rgba(200, 200, 200, 0.5) solid;
}

.balances--content {

  div.messenger--form {
    text-align: center;
  }

  header.messenger--header {
    text-align: center;
  }

  dl.messenger--models {
  }

  footer.messenger--operations {
    operations-panel {
      display: flex;
      flex-direction: row;
      a {
        background-color: #2b7aed;
        width: 50%;
        padding: 10px 15px;
        color: #fff;
        text-decoration: none;

      }
    }
  }
}

#balances {



  div.block {

    span.block-title {
      display: block;
      color: white;
      background-color: $accentGreen;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px;
    }

    div.list.offers {

      div.item {

        margin: 10px;
        border-radius: 15px;
        border: 0;
        transition: 0.25s ease all;
        -webkit-transition: 0.25s ease all;

        &:active {
          opacity: 0.4;
        }

        span.offer-title, span.offer-subtitle {
          display: block;
          width: 100%;
        }

        span.offer-title {
          font-size: 1.2rem;
          // overflow: hidden;
          text-overflow: ellipsis;
        }

        span.offer-subtitle {
          margin-top: 2px;
          font-size: 0.9rem;
        }

        span.filter-title {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          margin-bottom: 5px;
        }

        p.filter {
          text-align: center;
          span {
            font-weight: bold;
          }
        }

        div.coin {
          margin: 10px 0 0;
          span.coin-type, span.coin-price {
            background-color: $accentGrey;
            padding: 5px;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: bold;
          }
          span.coin-type {
            margin-right: 10px;
            &[class$="shared"] {
              color: $accentBlue;
            }
            &[class$="private"] {
              color: $accentGreen;
            }
          }
        }

        i.icon {
          font-size: 1rem;
          right: 0;
          color: #ccc;
        }

        &.no-items {
          text-align: center;
        }
      }
    }

  }
}
