/**
 * @name ./app/styles/layout/layout.scss
 * @description
 * Layout for application scaffold.
 */

.pane,
.view {
  background-color: #EDEDED;
}

.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

ion-side-menu-content {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", "Helvetica", Arial;
}

body ion-header-bar.bar.bar-header {

  background: rgba(244, 241, 234, 0.75);
  background: #0b1930;
	background: #233954;
  color: #fff;
  border-bottom: 0;

  h1 {
    color: #ccc;
    letter-spacing: 0.1ch;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    color: #f9f9f9;
    text-shadow: rgba(100,100,100,0.5) 0px 3px 3px;
  }
}

ion-content, ion-scroll, .scroll-content {
  background: rgba(244, 241, 234, 0.75);
  background: #0b1930;
	background: #233954;
  color: #f9f9f9;
}

div.clear {
  clear: both;
}

div.content {
  padding: 15px;
}

div.scroll {
  // height: initial;
  // min-height: calc(100vh - #{$headerHeight});
  div.content {
    padding-bottom: $footerHeight;
    // min-height: calc(100vh - #{$headerHeight});
  }
}

.platform-ios {
  div.scroll, div.content, ion-content, ion-scroll, .scroll-content {
    // min-height: calc(100vh - 64px);
  }
  &.platform-cordova:not(.fullscreen) #create-listing-view .has-header,
  &.platform-cordova:not(.fullscreen) #create-missive-view .has-header {
    top: 30px;
    // height: calc(100vh - 30px);
  }
}

button.next-button {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  height: 45px;
  border: 0;
  color: white;
  background-color: $accentGreen;
  font-size: 1rem;
  &:active {
    opacity: 0.8;
    color: white;
  }
  &[disabled="disabled"] {
    background-color: #ccc;
  }
}

fieldset.button-group,
div.button-group {
  position: relative;
  button.submit-button {
    float: right;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 1px solid $accentGreen;
    border-radius: 100%;
    padding: 3px 0;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    &:before {
      font-size: 2.5rem;
      font-weight: bold;
      color: $accentGreen;
    }
    &:active {
      background-color: $accentGreen;
      color: white;
    }
  }
}

span.title {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 0 15px;
}

span.subtitle {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding: 0 15px;
}

span.sub {
  display: block;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

span.top-center {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.popup-buttons .button:last-child {
  background-color: $accentBlue;
  color: white;
}

.popup-body {
  text-align: center;
}

div.block {
  &:after {
    display: inline-block;
  }
}

ion-view#beds,
ion-view#beds ion-content {
  // height: calc(100% + 60px) !important;
}

ion-view#bookings,
ion-view#bookings ion-content {
  height: 100% !important;
}

// @include break-point-iphone5() {}

// @include break-point-iphone6() {}

// @include break-point-iphone6-plus() {}

// @include break-point-s4() {}

// @include break-point-s5() {}

