/**
 * @name ./app/styles/layout/modal.scss
 * @description
 * Layout for application modals.
 */
.loading-container .loading {
  background-color: transparent !important;
}

div.modal {

  padding: 15px;
  background-color: white;

  &.animated {
    animation-duration: 0.5s;
  }

  ion-content {
    &.scroll-content {
      overflow: auto;
    }
  }
}

div.calendar-modal {
  ion-header-bar {
    button.ion-checkmark {
      position: absolute;
      right: 5px;
    }
  }
  .event-detail-container {
    overflow: visible;
    td.event-detail {
      vertical-align: middle;
    }
    td.monthview-eventdetail-timecolumn {
      font-size: 0.8rem;
      color: $accentBlue;
    }
  }
}

