
.buyer--bookings {
  .no-items {
    padding: 15px;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    font-size: 16px;
    border: none;
    border-radius: 15px;
  }
  &.verified {}
  &.unverified {
    .verification--header {
      padding: 15px;
      background: $accentBlue;
      i {
        font-size: 1.5rem;
        position: relative;
        top: 0.5ch;
        left: 0.5ch;
      }
      h2 { color: #fff; font-size: 14px; }
    }
    .verification--content {
      background    : #fff;
      padding       : 15px;
      margin        : 15px;
      border-radius : 15px;
      text-align    : center;
    }
  }
  .bookings--header {
  }
  .bookings--content {
    padding: 0;
  }
    .content--container {
      &.list { padding: 0 !important; }
    }
      .content--title {
        text-align: center;
      }
      .content--container {
        background    : #fff;
        margin        : 15px;
        border-radius : 15px;
      }
        .container--headline {

          text-align : center;
          position   : relative;

          .headline--icon {
            position        : absolute;
            left            : 15px;
            top             : 7px;
            color           : rgba(22, 146, 183, 1);
          }

          .headline--inner {
            padding-top      : 5px;
            display          : block;
            line-height      : 1.5;
            font-size        : 16px;
            letter-spacing   : 0.05ch;
            font-weight      : 300;
          }

        }

        .container--list {

        }

          .list--item {
            &:last-child .list--listing {
              border-bottom: none;
            }
            .listing--grouplabel {
              color: rgba(102, 165, 34, 1);
            }
            &:first-child .listing--grouplabel {
              color: rgba(22, 146, 183, 1);
            }

          }

          .list--item .item--headline {
          }

          .list--item .item--sublist {}
          .item--sublist .sublist--listing {
            position : relative;
            width    : 100%;
            .listing--grouplabel {
              display        : none;
              font-size      : 12pt;
              font-weight    : 600;
              margin         : 15px 0 0 15px;
              text-transform : uppercase;
              letter-spacing : 0.1ch;
            }
            &:first-child {
              .listing--grouplabel { display: block; }
            }
          }

            .listing--headline {}

            .listing--list {
              display: inline;
            }

              .list--listing {
                display       : flex;
                position      : relative;
                border-bottom : 1px rgba(218, 218, 218, 1) solid;
              }

                .listing--aside {
                  border-radius : 100px;
                  width         : 35px;
                  height        : 35px;
                  display       : block;
                  content       : ' ';
                  margin        : 15px 5px 7px 5px;
                }

                .listing--description {
                  margin-top    : 5px;
                  margin-bottom : 10px;
                  margin-right  : 10px;
                }

                  .description--title {
                    margin      : 15px 0 3px 0;
                    font-size   : 13.725px;
                    font-weight : 400;
                  }
                  .description--quantity,
                  .description--type,
                  .description--from,
                  .description--to {
                    font-size   : 14px;
                    font-weight : bold;
                  }

            .listing--caption {
              position   : absolute;
              width      : 100%;
              text-align : right;
            }

            .listing--cta {
              & > .ion-ios-arrow-thin-left {
              }
              color     : rgba(102,165,34, 1);
              font-size : 2rem;
              position  : absolute;
              right     : 15px;
              top       : 15px;
              cursor    : pointer;
            }
} // .buyer--bookings

#create-reservation-view {

  // .bookings--content {
  //   padding-bottom: 0px;
  //   button.next {
  //     position: absolute;
  //     bottom: -63px;
  //   }
  // }

}

#bookings {
  div.block {
    div.block-title {
      background: $accentBlue;
      color: white;
      font-size: 0.8rem;
      text-align: center;
      i {
        &:before {
          font-size: 1.5rem;
        }
        &:active {
          opacity: 0.8;
        }
      }
    }
    div.list {
      padding: 15px;
      div.item {
        margin: 10px;
        border-radius: 15px;
        border: none;
        transition: 0.25s ease all;
        -webkit-transition: 0.25s ease all;
        &:active {
          opacity: 0.4;
        }
        &.no-items {
          text-align: center;
        }
      }
    }
  }
}
