// ./app/styles/views/bookings/booking.scss
body > figure {
  & > img {
    // transform: translateX(-25%);
  }
}

@mixin bpc-view() {
  background-color: #fff;
  margin: 15px;
  border-radius: 15px;
  @content;
}

ion-view.buyer--bookings__detail {

  fieldset {
    text-align: center;
    border: none;
    .cancel-button {
      border-radius: 5px;
      height: 50px;
      width: 100%;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      background-color: rgba(233, 41, 65, 1);
      border: 2px solid rgba(208, 1, 27, 1);
      font-size: 1rem;
      line-height: 0;
      letter-spacing: 0.5px;
      padding: 15px 30px;
    }
  }

  h2 {
    font-size: 14px;
  }

  ion-header-bar {
    h1 {
      &.title {
        color       : #111;
        font-weight : 400;
        font-size   : 14px;
      }
    }
  }

  .bookings--content {
    font-size: 14px;
  }
  .block {}

  .content--title {
    @include bpc-view () {
      border         : none;
      letter-spacing : 0.05ch;
    }
    h2 {}
    h3 {
      font-weight    : 400;
      letter-spacing : 0.05ch;
      padding-bottom : 0;
    }
  }

  .content--container {
    background-color    : transparent;
    margin              : 0;
    border-radius       : 0;
    section {
      &:first-child { // profile index
        padding-bottom: 5px;
      }
      &:nth-child(3) { // payment table
        padding-top: 15px;
        padding-bottom: 5px;
      }
      &:nth-child(2) { // order table
        padding-bottom: 5px;
      }
      background-color : #fff;
      margin           : 15px;
      border-radius    : 15px;
    }

      .container--hero {}
      .hero--list {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        height: 150px;
        position: relative;
        .list--listing {
          position: absolute;
          left: -9999px;
          width: 100%;
          img {
            left: 0;
            position: absolute;
          }
          &:first-child {
            left: 0;
          }
        }
      }

        .list--listing {
          display        : block;
          position       : inherit;
          border-bottom  : 0;
        }
          .listing--banner {}

      .hero--card {
        width       : calc(100% - 30px);
        margin      : 10px;
      }

        .card--contact__headline {
          text-align               : center;
          font-size                : 14px;
          font-weight              : 400;
          letter-spacing           : 0.05ch;
        }

        .card--contact__table {
          text-align            : center;
          display               : flex;
          flex-wrap             : wrap;
          width                 : 100%;
          dt, dd {
            padding: 0.75ch;
          }
        }

          .contact--email__label {
            width                  : 25%;
            text-align             : center;
            padding-right          : 2ch;

            .icon {
              &:before {
                display: none;
              }

              display: block;
              width: 24px;
              height: 24px;
              margin: 0 auto;
              background-size: contain;
              background-image: url(../images/icons/iconMail@2x.png);


              @include break-point-retina() {
                background-image: url(../images/icons/iconMail@3x.png);
              }
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          .contact--email__item {
            letter-spacing        : 0.5px;
            width                 : 75%;
            text-align            : center;
            a {
              font-weight     : 500;
              color           : #111;
              text-decoration : none;
            }
          }

          .contact--phone__label {
            width                  : 25%;
            text-align             : center;
            padding-right          : 2ch;
            .icon {
              &:before {
                display: none;
              }

              display: block;
              width: 24px;
              height: 24px;
              margin: 0 auto;
              background-size: contain;
              background-image: url(../images/icons/iconPhone@2x.png);
              @include break-point-retina() {
                background-image: url(../images/icons/iconPhone@3x.png);
              }
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          .contact--phone__item {
            letter-spacing        : 0.5px;
            width                 : 75%;
            text-align            : center;
            font-weight           : 500;
            color                 : #111;
            text-decoration       : none;
          }

      .hero--details {
        border-top     : 1px rgba(218, 218, 218, 1) solid;
        width          : calc(100% - 30px);
        margin         : 0 15px;

        th, td {
          padding: 0;
        }
      }

        table {
          width: calc(100% - 30px);

          &:first-child {
            .details--row {
              th, td{
                width: 50%;
              }
            }
          }

          &:last-child {
            margin: 0 15px;
            .details--row {
              th, td {
                padding-left: 0;
                padding-right: 0;
              }
              th {
                width: 35%;
              }
              td {
                width: 65%;
              }
            }
          }

          .details--row {

            th {
              text-align     : left;
              font-weight    : 500;
              font-size      : 16px;
              text-transform: capitalize;
              div:last-child {
                font-weight: 400;
              }
            }

            td {
              padding    : 10px;
              text-align : right;
              font-size  : 16px;
            }

            &:nth-child(n+1) {
              th {
                text-transform : uppercase;
                font-size: 14px;
              }
              td {
                font-size: 14px;
              }
            }
          }
        }

      .confirmation--headline {
        text-align              : center;
        font-size               : 18px;
        font-weight             : 400;
        letter-spacing          : 0.5px;
      }

      .confirmation--table {
        width: 100%;
        margin: 10px;
        font-size: 16px;
        .section {}
        tr {
        }

          th {
            text-align: left;
            padding: 10px;
            letter-spacing: 0.05px;
            font-size: 16px;
            width: 50%;
          }
          td {
            padding: 10px;

          }
          th, td {
            font-size: 14px;
          }
        .fa {}
        .fa-money {}
        tbody {}

      }

      .order--headline {
        padding-top      : 20px;
        text-align       : center;
        font-weight      : 400;
        font-size        : 18px;
        letter-spacing   : 0.5px;
      }

      .order--details {
        margin          : 10px;
        width           : calc(100% - 30px);

        tr { }

        thead th {
          border-bottom : 1px rgba(220, 220, 200, 1) solid;
          padding-top   : 5px;
        }

        tfoot tr:last-child th,
        tfoot tr:last-child td {
          border-top  : 1px rgba(220, 220, 220, 1) solid;
          padding-top : 5px;
        }

        th {
          padding        : 10px;
          width          : 40%;
          text-align     : left;
          font-weight    : 500;
          text-transform : uppercase;
          letter-spacing : 0.05px;
          font-size      : 16px;
        }

        tr {
          &:nth-child(1) {
            th {
              font-weight: 400;
              font-size: 16px;
              text-transform: capitalize;
            }
          }
        }

        thead tr {
          th {
            font-weight    : 500 !important;
            text-transform : uppercase !important;
            letter-spacing : 0.05px;
          }
        }

        td {
          width      : 55%;
          padding    : 10px;
          text-align : right;
        }
      }
  }
}
