// ./app/styles/views/reservations/create.scss
.create-reservation--confirmation {
  ul.paymentMethods--list {
    li {
      &:last-child {
        background: #fff;
        border-radius: 15px;
      }
    }
  }
}

ion-content[id="create-reservation-view"], ion-scroll[id="create-reservation-view"] {
  ion-header-bar {
    button {}
    h1.title {}
  }
}

/**
 * @name card
 * @description
 */
@mixin __card__() {
  .paymentMethods--list .list--listing,
  .container--list .list--listing {
    padding: 15px;
    cursor: pointer;
    display: flex;
    span {
      flex-grow: 2;
    }
    i {
      font-size: 2rem;
      color: $accentGreen;
      line-height: 0;
      position: relative;
      top: -0.5ch;
    }
    @content;
  }
}

/**
 * @name bookingsContent
 */
.bookings--content {

  h2 { font-size: 1rem; }

  h3 {
    font-size: 0.825rem;
    padding-bottom: 10px;
  }

  h4 {
    text-transform: uppercase;
    font-variant: all-small-caps;
  }

  /**
   * @name input-block
   */
  .input-block {
    // padding-right: 15px;
    // padding-left: 15px;
    @include __input-block__() {
      border-bottom: 1px #0092BC solid;
    };
  }

  /**
   * @name checkInOut
   * @description Receipt.
   */
  .checkInOut--receipt {
    border-top: 1px #eee solid;
    width: 100%;
    th {
      font-weight: bold;
      width: calc(30% - 10px);
      text-align: left;
      padding-left: 10px;
      padding-top: 10px;
    }
  }

  /**
   * @name howMany
   * @description A subsection.
   */
  .howMany--receipt {
    width: 100%;
  }
  .container--howMany {
    background-color: #fff;
  }

  /**
   * @name paymentMethods
   * @description A subsection.
   */
  .container--paymentMethods {
    border-radius: 15px;
    margin-bottom: 10px;
    ul {}
    li {
      a {
        display: table;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        & span {
          color: #000;
        }
        span {
          padding-left: 10px;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.1ch;
        }

        i,
        span {
          display: table-cell;
          vertical-align: middle;
        }
        i {
          line-height: 0;
          text-align: right;
          position: relative;
          left: -5px;
          color: $accentGreen;
          font-size: 32px;
        }
      }
    }
  }

  .input--group {
    label {
      padding-top: 1ch;
      display: block;
      font-size: 1rem;
      font-variant: small-caps;
      text-transform: lowercase;
      margin: 0 auto;
      width: calc(100%); }
    input {
      margin: 0 auto;
      width: calc(100% - 30px); }
  }

  .content--container {
    // background-color: #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .container--howMany {
    padding: 15px;
    padding-bottom: 20px;
  }

  .container--fromTo {
    border-bottom: 1px #ccc solid;
  }
}

/**
 * @name howMany
 * @description A subsection.
 */
.platform-ios {
  .container--howMany {
    .input--group {
      input {
        bottom: 5px;
        right: 0px !important;
      }
    }
  }
}


.container--howMany {
  h5 {
    text-align: center;
  }
  .input--group {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    height: 60px;
    min-height: 60px;
    input {
      flex-grow: 2;
      text-align: center;
      font-size: 60px;
      font-family: "Oxygen", "Helvetica", Arial;
      border-bottom: none !important;
      background-color: transparent;
      position: relative;
      height: 100%;
      right: -0.25ch;
      padding: 0px;
      line-height: 100%;
      overflow: visible;
    }
    button {
      flex-grow: 1;
      border-radius: 100px;
      background: none;
      border: 0;
      font-size: 24px;
      i {
        color: $accentBlue;
        position: relative;

        &:after {
          display: block;
          position: absolute;
          top: -18px;
          left: -21px;
          border: 2px $accentBlue solid;
          border-radius: 30px;
          content: ' ';
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.container--fromTo {
  .input--group {
  }
}

/**
 * @name createReservation:default
 */
.create-reservation--default {
  .content--container {
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .container--fromTo {
    border-bottom: 0;
    input {
      border-bottom: 1px $accentBlue solid;
    }
    .input-block {
      margin: 0 15px 10px;
    }
  }
}

/**
 * @name createReservation:summary
 */
.create-reservation--summary {
  tr:not(.lines--checkinout) td:last-child {
    font-weight: 600;
  }
  .title--address {
    margin: 0 15px;
  }
  .bookings--content {
    h3 {
      padding-bottom: 5px;
    }
    .receipt--lines {
      border-bottom: 1px #eee solid;
      .lines--checkinout {
        td {
          padding-top: 10px;
          padding-bottom: 5px;
        }
      }
      .lines--desc {
        td {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .desc--assets {
          font-size: 0.75rem;
        }
      }
      .lines--qty {
        td {
          padding-top: 15px;
          padding-bottom: 5px;
        }
      }
      td:last-child {
        text-align: right;
      }
    }
    h4 {
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 15px;
      text-align: center;
      text-transform: capitalize;
      font-variant: inherit;
      font-weight: 400;
    }
    .lines--qty {
    }
    .footer--total {
      border-top: 1px #eee solid;
    }
    .container--howMany {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      tfoot {
        td { padding-top: 5px; padding-bottom: 5px; }
        td:last-child {
          text-align: right;
        }
      }

      .checkInOut--column {
        width: 49%;
        display: inline-block;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }

      thead {
        th {
          width: 100%;
          font-weight: 600;
          border-bottom: 1px #eee solid;
          padding-bottom: 5px;
          text-transform: uppercase;
          letter-spacing: 0.1ch;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

/**
 * @name createReservation:confirmation
 */
.create-reservation--confirmation {

  @include __card__() {
    // background-color: transparent;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px 0 15px;
    padding: 10px 15px;
  };

  .desc--assets {
    font-size: 0.75rem;
  }
  .lines--qty {
    td {
      padding: 15px 0 20px;
    }
  }
  .footer--tax {
    td {
      padding-bottom: 5px;
    }
  }
  .footer--total {
    border-top: 1px #eee solid;
    td {
      padding-top: 5px;
    }
  }
  th {
    text-transform: uppercase;
  }
  td:last-child {
    text-align: right;
    padding-right: 10px;
  }
  tfoot td:last-child,
  tbody:not(.receipt--content) td:last-child {
    font-weight: 600;
  }
  .title--address {
    margin: 0 15px;
    padding-bottom: 10px;
  }
  .content--title {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .container--howMany {
    margin-top: 10px;
    border-radius: 15px;
  }
}

.create-reservation--complete {
  tbody {
    td {
      padding-bottom: 5px;
    }
  }
  tfoot {
    border-top: 1px #eee solid;
    th, td {
      padding-top: 5px;
    }
  }
  td:last-child {
    text-align: right;
    font: {
      weight: 500;
    }
  }
  .content--title {
    text-align: center;
    h1 {
      font: {
        size: 1rem;
      }
      letter: {
        spacing: 0.1ch;
      }
      color: $accentBlue;
    }
    i {
      color: $accentBlue;
      font-size: 3rem; }
    figure {
      figcaption {
        font-size: 16px;
        width: 100%;
      }
      border-bottom: 1px #eee solid;
      padding-bottom: 15px;
      margin: {
        left: 15px;
        right: 15px;
        bottom: 15px;
      }
    }
  }
}

/**
 * @name createReservation:payment-select
 */
.create-reservation--payment-select {
  @include __card__() {
    background-color: #fff;
  };
  input {
    @include __underline__();
  }
  .input-block {
    @include __input-block__();
  }
  [class*="--addPaymentMethod-init"] {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: transparent !important;
  }
  .bookings--content .content--container {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .bookings--content {
    padding-bottom: 0;
  }

  .container--list {

    border-radius: 15px;
    // overflow: hidden;
    overflow: visible;

    li {

      width: 100%;
      background-color: #fff;

      &:only-child {
        border-radius: 15px;
        border-radius: 15px;
      }

      &:first-child {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }

      .addCardToUser {
        width: 100%;
        background: transparent !important;
        display: flex;
        & > * {
          flex-grow: 1;
        }
      }

      &:last-child:not([aria-hidden]) {
        // background: transparent !important;
      }

      &:last-child {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }

    .empty {
      text-align: center;
      padding: 15px;
      font-size: 16px;
      color: #444;
    }

    button:not(.next-button) {
      width: 100%;
      background: transparent;
    }
  }
}
