<!--
  @fileOverview ./app//templates/views/splash/create.html

                         _
    ____  ____ ____ ____| |_  ____
   / ___)/ ___) _  ) _  |  _)/ _  )
  ( (___| |  ( (/ ( ( | | |_( (/ /
   \____)_|   \____)_||_|\___)____)

   @description
   Various Account Types can be implemented for different Actor models[0].

   ___
   [0]: https://www.w3.org/TR/activitypub/#actor-objects
-->

<ion-view id="create-user">
  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous(vm.accountFlow.type, vm.accountFlow.currentStep)"
    ></button>
    <h1 class="title">{{ vm.sectionTitle }}</h1>
  </ion-header-bar>
  <create-buyer
    ng-if="vm.accountFlow.type === 'buyer'"
  ></create-buyer>
</ion-view>

