
<!-- @fileOverview ./app/templates/views/splash/forgot-password.html
    ___                            
   / __)                       _    
   | |__ ___   ____ ____  ___ | |_  
   |  __) _ \ / ___) _  |/ _ \|  _) 
   | | | |_| | |  ( ( | | |_| | |__ 
   |_|  \___/|_|   \_|| |\___/ \___)
                  (_____|           
-->

<ion-view id="forgot-password">

  <ion-header-bar
    align-title="center"
    style="background-color: transparent; border-bottom: none;"
  >
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
    ></button>
    <h1 class="title">{{ vm.sectionTitle }}</h1>
  </ion-header-bar>

  <ion-content>
    <form
      name="vm.forgotPasswordForm"
      ng-submit="vm.forgotPasswordForm.$valid && vm.submit()"
      ng-action="forgot"
      ng-class="{
        'res--loaded': vm.res.loaded
      }"
    >

      <div class="errors" ng-show="vm.errors.loaded">
        <ul>
          <li
            class="errors--{{error.type}}"
            ng-repeat="error in vm.errors"
          >
            <span class="error">{{error.message}}</span>
          </li>
        </ul>
      </div>

      <div class="res" ng-show="vm.res.loaded">
        {{vm.res}}
      </div>

      <h1>Forgot password?</h1>

      <p>Enter your email and a reset password link will be emailed to you.</p>

      <div class="block">

        <div class="input-block">

          <label
            ng-class="{
              'hint--right': (!vm.forgotPasswordForm.username.$untouched && vm.forgotPasswordForm.username.$invalid),
              'hint--always': (!vm.forgotPasswordForm.username.$untouched &&
              vm.forgotPasswordForm.username.$invalid)
            }"
            ng-attr-data-hint="{{vm.forgotPasswordForm.username.$invalid ? 'Required' : undefined}}"
            for="username"
          >Email</label>

          <input
            aria-disabled="false"
            aria-reqiured="true"
            aria-hidden="false"
            aria-label="Username"
            id="username"
            name="username"
            ng-disabled="false"
            ng-required="true"
            ng-model="vm.user.username"
            required="true"
            type="email"
          />

          <div
            class="errors"
            style="position: absolute; left: -9999px;"
            ng-if="vm.forgotPasswordForm.$invalid && !vm.forgotPasswordForm.$pristine"
          >
            <ul>
              <li ng-show="vm.forgotPasswordForm.username.$error.required">
                <span class="error">This field is required.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block buttons button-group">
        <button
          type="submit"
          class="button submit-button icon ionicons ion-ios-arrow-thin-right"
        ></button>
      </div>
    </form>
  </ion-content>

</ion-view>
