<!-- 
-->
<ion-view
  id="create"
  ng-if="vm.handler.status('create')"
>
  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.loginModal.show()"
    ></button>
    <h1 class="title">Create Account</h1>
  </ion-header-bar>

  <ion-content
    data-tap-disabled="false"
    overflow-scroll="false"
  >
    <div class="create--content content">
      <account-type></account-type>
    </div>
  </ion-content>
</ion-view>

<ion-view
  id="login"
  ng-if="vm.handler.status('login')"
>

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.loginModal.show()"
    ></button>
    <h1 class="title">Log In</h1>
  </ion-header-bar>

  <ion-content
    data-tap-disabled="false"
    overflow-scroll="false"
  >
    <div
      ng-class="{
        'content': true
      }"
      class="login--content content"
    >
      <login></login>
    </div>
  </ion-content>

</ion-view>

