<ion-view id="support">

  <ion-header-bar align-title="center">
    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ui-sref="app.about"
    ></button>
    <h1 class="title">{{ vm.sectionTitle }}</h1>
  </ion-header-bar>

  <ion-content>
    <form
      id="supportForm"
      name="vm.supportForm"
      ng-submit="vm.supportForm.$valid && vm.submit()"
      ng-action="support"
      ng-class="{
        'res--loaded': vm.res.loaded
      }"
    >

      <div class="errors" ng-show="vm.errors.loaded">
        <ul><li class="errors--{{error.type}}" ng-repeat="error in vm.errors"><span class="error">{{error.message}}</span></li></ul>
      </div>

      <div class="res" ng-show="vm.res.loaded">
        {{vm.res}}
      </div>

      <p>Send us your feedback here <br /> and help us build a better app!</p>

      <fieldset class="block">

        <label for="feedback">Feedback</label>

        <div class="input-block">
          <textarea
            aria-disabled="false"
            aria-reqiured="true"
            aria-hidden="false"
            aria-label="Feedback"
            id="feedback"
            name="feedback"
            ng-disabled="false"
            ng-required="true"
            required="true"
            ng-model="vm.feedback.message"
          ></textarea>

        </div>
      </fieldset>

      <fieldset>
        <button
          type="submit"
          class="button next-button"
          ng-disabled="vm.supportForm.$invalid"
          ng-class="{
            'disabled': vm.supportForm.$invalid
          }"
        >Send</button>
      </fieldset>
    </form>
  </ion-content>

</ion-view>
