<form
  name="vm.profileForm"
  ng-action="/api/v1/users"
  class="profile--form"
>

  <div class="content user-profile profile--user">
    <div class="list profile--list">
      <div class="item profile-details profile--details">
        <div class="image-block profile--image-block">

          <span
            tgm-file-upload
            activate="vm.profileForm.profilePhoto"
            prepared="vm.editMode"
            class="activate-button profile--button"
          >
            <span class="animated fadeIn rotateIn profile--pic">
              <img
                class="profile-pic profile--image"
                ng-src="{{vm.user.profile.avatar.url || './images/missing_avatar_thumb.png'}}"
              />
            </span>
          </span>

          <div class="input--block block--image profile--image">
            <input
              type="file"
              ng-model="vm.user.profile.photo"
              upload-photo="vm.uploadPhoto()"
              name="profilePhoto"
              tgm-file-reader
              class="accessibly-hide"
            />

            <i
              ng-if="vm.editMode === true &&
                     vm.profileForm.editPhone.$pristine === false"
              ng-click="vm.save(vm.user)"
              class="icon ionicons ion-compose edited animated pulse profile--icon"
              style="display: none;"
            ></i>
            <i
              ng-if="vm.editMode === true &&
                     vm.profileForm.editPhone.$dirty === false"
              ng-click="vm.save(vm.user)"
              class="icon ionicons ion-compose editing animated pulse profile--icon"
              style="display: none;"
            ></i>
          </div>

          <span
            ng-click="vm.toggleProfileEditMode()"
            class="edit-button profile--edit-button"
          >
            <i class="icon ionicons ion-wand"></i>
          </span>
        </div>

        <div class="identity-block profile--identity">
          <span
            class="profile-name profile--name"
            ng-if="vm.user.profile.name.first && vm.user.profile.name.last"
          >
            {{vm.user.profile.name.first || 'First Name'}} {{vm.user.profile.name.last || 'Last Name'}}
          </span>

          <span
            class="profile-name profile--name"
            ng-if="!vm.user.profile.name.first && !vm.user.profile.name.last"
          >
            {{vm.user.profile.name.first || 'First Name'}} {{vm.user.profile.name.last || 'Last Name'}}
          </span>

          <span style="display: none;" class="profile-type profile--type">
            <span ng-if="vm.user.role === 'buyer'">Buyer</span>
            <span ng-if="vm.user.role === 'seller'">Seller / Broker</span>
          </span>

          <span
            class="profile-address profile--address"
            ng-if="vm.user.profile.location.city && vm.user.profile.location.state"
          >
            {{vm.user.profile.location.city}}, {{vm.user.profile.location.state}}
          </span>

          <span
            class="profile-address profile--address"
            ng-if="!vm.user.profile.location.city && !vm.user.profile.location.state"
          >
            No location provided.
          </span>
        </div>

        <div class="contact-block">

          <div class="input--block">

            <div>
              <label
                tgm-clipboard-capture
                clipboard-data="{{vm.user.email}}"
                for="editEmail"
              >
                E-mail Address
              </label>
            </div>

            <span
              ng-if="!vm.editMode"
              class="email"
            >{{vm.user.email || '(none)'}}</span>

            <input
              aria-disabled="true"
              ng-attr-aria-invalid="{{vm.profileForm.editEmail.$invalid}}"
              ng-disabled="true"
              ng-if="vm.editMode"
              type="text"
              ng-model="vm.user.email"
              id="editEmail"
              name="editEmail"
              readonly="true"
              ng-readonly="true"
              class="profile--email"
            />

            <!-- <i -->
            <!--   ng-show="vm.editMode === true && -->
            <!--            vm.profileForm.editEmail.$pristine === false" -->
            <!--   ng-click="vm.save(vm.user)" -->
            <!--   class="icon ionicons ion-compose edited" -->
            <!-- ></i> -->

            <!-- <i -->
            <!--   ng-show="vm.editMode === true && -->
            <!--            vm.profileForm.editEmail.$dirty === false" -->
            <!--   ng-click="vm.save(vm.user)" -->
            <!--   class="icon ionicons ion-compose editing" -->
            <!-- ></i> -->

          </div>

          <div class="input--block">

            <div>
              <label
                for="ethAddress"
                tgm-clipboard-capture
                clipboard-data="{{vm.ethAddress}}"
              >
                Wallet Address
              </label>
            </div>
            <input
              aria-disabled="false"
              type="text"
              ng-model="vm.ethAddress"
              id="ethAddress"
              name="ethAddress"
              class="profile--phone"
            />

            <!--span
              ng-if="!vm.editMode"
              class="phone profile- -phone"
              ng-click="vm.toggleProfileEditMode();
              vm.profileForm.editPhone.focus();"
            >{{vm.user.profile.phone || '(none)'}}</span>

            <input
              aria-disabled="false"
              ng-attr-aria-invalid="{{vm.profileForm.editPhone.$invalid}}"
              ng-if="vm.editMode"
              type="text"
              ng-model="vm.user.profile.phone"
              id="editPhone"
              name="editPhone"
              tgm-keyboard-entry
              entry="vm.save(vm.user)"
              ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/"
              class="profile- -phone"
            /-->

            <!-- <i -->
            <!--   ng-if="vm.editMode === true && -->
            <!--            vm.profileForm.editPhone.$pristine === false" -->
            <!--   ng-click="vm.save(vm.user)" -->
            <!--   class="icon ionicons ion-compose edited animated pulse" -->
            <!-- ></i> -->

            <!-- <i -->
            <!--   ng-if="vm.editMode === true && -->
            <!--            vm.profileForm.editPhone.$dirty === false" -->
            <!--   ng-click="vm.save(vm.user)" -->
            <!--   class="icon ionicons ion-compose editing animated pulse" -->
            <!-- ></i> -->

          </div>

        </div>
      </div>

      <div
        style="margin-top: -4rem;"
        class="item settings"
        ui-sref="app.about"
      >
        <i class="icon ionicons ion-ios-gear"></i>
        <span>About</span>
        <i class="icon ionicons ion-ios-arrow-thin-right"></i>
      </div>

      <div
        class="logout item settings"
        ng-click="vm.logout()"
        style="font-size: 1rem;"
      >
        <span
          class="~icon ~ionicons ˜ion-ios-gear"
          ng-style="{
            'margin-left'  : '-10px',
            'margin-right' : '-5px',
            'margin-top'   : '-5px'
          }"
          ng-class="{
            'icon'         : false,
            'ionicons'     : false,
            'ion-ios-fear' : false,
            'fa'           : true,
            'fa-remove'    : true
          }"
        ></span>
        <span title="Log out of the application">Log Out</span>
        <i
          class="icon ionicons ion-log-out"
          style="font-size: 24px;"
        ></i>
      </div>
    </div>
  </div>

  <style>
    .profile--edit-button { display: none !important; }
  </style>
</form>

