// ./styles/views/profile/payment-methods.scss

.createReservation--payment-select,
.profile--payment-methods .container {
  margin: 15px;
}

.createReservation--payment-select,
.profile--payment-methods .container--list {
  margin-bottom: 15px;
}

bpc-add-payment {
  display: block;
  margin-bottom: 15px;
}
bpc-add-payment > span {
  background: #fff;
  border-radius: 15px !important;
  width: 100%;
}
bpc-add-payment > span {
  display: flex !important;
}
bpc-add-payment > span > * {
  flex-grow: 1;
}
bpc-add-payment span .ion-ios-arrow-thin-right {
  text-align: right;
}
bpc-add-payment span .ion-ios-arrow-thin-right:before {
  font-size: 32px !important;
  margin-left: -1px;
}

bpc-add-payment {
  & > div {
    height: 100%;
    overflow: visible;
  }
}

.header-bar--delete-link {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #000;
}

.card--content {
}
  .content--listing {
  }
    .listing--def {
      background-color: #fff;
      border-radius: 15px;
      margin: 15px;
      padding: 15px;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      & * {
        flex-grow: 2;
      }
      &:first-child {
        padding-bottom: 15px;
      }
    }
      dt.def--name,
      dt.def--city,
      dt.def--country,
      dt.def--state,
      dt.def--address_zip { width: 40%; position: absolute; left: -9999px; }
      dt.def--name { width: 60%; }
      dt.def--city { }
      dd.def--city { &:after { content: ' '; }}
      dt.def--country { }
      dd.def--country {}
      dt.def--last4 { width: 40%; }
      dd.def--last4 { width: 60%; }
      dt.def--expiry { width: 40%; }
      dd.def--expiry { width: 60%; }
      dt.def--address_zip { width: 40%; }
      dd.def--address_zip { wdith: 60%; }
      dt.def--country { width: 40%; }
      dd.def--country { width: calc(60% - 15px); padding-left: 15px; padding-bottom: 5px;
      padding-top: 5px; border-left: 1px #eee solid; }

.profile--payment-methods {

  margin-bottom: 10px;

  select {
    width: 90%;
    border-bottom: 1px #aaa solid;
    width: 100%;
    border-radius: 0;
    position: relative;
    z-index: 9000;
    background: transparent;
    padding: 5px 0;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    &.ng-not-empty {
      opacity: 1;
    }
  }

  label[for="country"] {
    // &:before {
    //   cursor: pointer;
    //   display: block;
    //   width: 100%;
    //   height: 24px;
    //   background: #ededed;
    //   content: 'Please select a country';
    //   text-transform: none;
    //   position: absolute;
    //   top: 30px;
    //   border-bottom: 1px #aaa solid;
    // }
  }

  .content--container {
    margin-bottom: 15vw;
  }

  .ccInfo--number {
    display: flex;
    .number--type {

    }
  }

  .list--listing {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    // margin: 15px;
    border-radius: 15px;
    a {
      text-decoration: none;
      color: #000;
      display: flex;
      cursor: pointer;
      * { flex-grow: 2; }
      i { display: block; text-align: right; font-size: 2rem; }
    }
    .listing--expiry { position: absolute; left: -9999px; }
    &:nth-of-type(2) {
      // margin-bottom: 0;
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0;
      // border-bottom: 1px #eee solid;
    }
    &:nth-of-type(3) {
      margin-top: 0;
      // border-top-left-radius: 0;
      // border-top-right-radius: 0;
    }
  }

  section {
    // background: #fff;
    border-radius: 15px;
    // margin: 15px;
    padding: 15px;
  }

  .input-block {
    @include __input-block__() {
    };

    label {
      font-variant: small-caps;
      font-size: 16px;
      text-transform: lowercase;
    }
  }

  .container--list {
    margin-top: 15px;
    & > li {
      &:last-child {
        // background: transparent !important;
      }
      & * > .button {

        width: calc(100% - 30px);
        margin: 0 15px;
        text-align: left;
        display: flex;

        * {
          flex-grow: 2;
        }
        i:last-child {
          text-align: right;
        }

        &.next {
          // width: calc(100% + 30px);
          background-color: $accentGreen;
          color: #fff;
          text-align: center !important;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          margin: 0 15px;
          position: absolute;
          left: -45px;
          line-height: 0;
          bottom: -12px;
          bottom: 0;
          display: block;
          width: calc(100% + 90px);
        }
      }
    }
  }
}
