// ./app/styles/views/profile/profile.scss
@mixin edit-bubble() {
  & {
    position: absolute;
    top: 80px;
    background: #fff;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    line-height: 1.75;
    text-align: center;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    left: 50%;
    margin-left: 28px;
    @content;
  }

  &.editing {
    opacity: 0.4;
  }

  &.edited {
    opacity: 1.0;
  }

}

#profile {

  .profile--user {
    padding: 0;
  }

  .profile-details {
  }

  div.user-profile {

    .profile--identity {
      color: #f9f9f9;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    div.item.settings {
      display: flex;
      position: relative;

      & > * {
        // flex-grow: 1;

        &:first-child {
          padding-right: 1ch;
          font-size: 1.5rem;
        }
        span {
          margin-left: 7px;
          line-height: 0;
          margin-top: 12px;
        }
        &:last-child {
          position: absolute;
          right: 15px;
          top: 13px;
          font-size: 32px;
        }
      }
    }

    div.item {

      background: transparent;
      border: 0;
      transition: 0.25s ease all;
      -webkit-transition: 0.25s ease all;

      &.settings {
        color: #f9f9f9;

      }

      &:first-child {
        height: 65vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 1px solid rgba(215, 215, 215, 1);
        &:active {
          opacity: 0.4;
        }
        i {
          color: $accentGreen;
        }
      }

      &.profile-details {
        padding: 15px 0 40px;

        div[class$="-block"] {
          height: 33%;
          position: relative;

          .input--block {
            position: relative;
            margin-bottom: 15px;
            .ion-compose {
              @include edit-bubble() {

                left: auto;
                margin-left: 0;
                right: 0;
                top: 0;

                @include break-point-iphone5() {

                  left: auto;
                  margin-left: 0;
                  right: 0;
                  top: 0;
                }

                @include break-point-iphone6() {

                  left: auto;
                  margin-left: 0;
                  right: 25px;
                  top: 15px;
                }

                @include break-point-iphone6-plus() {

                  left: auto;
                  margin-left: 0;
                  right: 25px;
                  top: 15px;
                }
              };
            }
          }

          .edit-button {
            @include edit-bubble();

            @include break-point-iphone5() {
              top: 80px;
            }

            @include break-point-iphone6() {
              top: 100px;
            }
            @include break-point-iphone6-plus() {
              top: 100px;
            }
          }

          & > * {
            @extend %centerAll;
          }

          .block--image {
            position: absolute;
            top: 0;
            right: 45px;
          }

          img {
            height: 90px;
            width: 90px;
            object-fit: cover;
            background-color: transparent;
            border-radius: 100%;
            border: 0;
            // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.17);
          }

          span {
            display: block;
            width: 100%;
            text-align: center;
            &.profile-name {
              color: $accentBlue;
              font-size: 1.25rem;
            }
            &.profile-type {
              font-size: 0.9rem;
              font-weight: bold;
              margin-bottom: 1rem;
            }
            &.profile-username {
              font-size: 0.9rem;
            }
          }

          &.contact-block {
            input {
              width: 100%;
              font-size: 100%;
              border-bottom: 0 !important;
              color: #444;
              text-align: center;
              padding: 20px !important;
            }
            input,
            span {
              background-color: #f5f5f5;
              padding: 10px;
              margin-bottom: 5px;
              &:active {
                opacity: 0.8;
              }
            }
          }

        }
      }
    }
  }
}
