// ./app/styles/views/profile/settings.scss
.profile--settings {
  .app--paymentMethods {
    .paymentMethods--label {
      display: flex;
      flex-direction: column;
    }
    .label--caption {
      color: rgba(129, 129, 129, 1);
      font-size: 0.8rem;
      line-height: 0;
      padding-top: 1ch;
    }
  }

  .app--version {
    display: flex;
    & > * {
      flex-grow: 1;
    }
    .version--label {}
    .version--sublabel {
      color: rgba(129, 129, 129, 1);
      text-align: right;
    }
  }

  ion-list {
    .item.app--paymentMethods {
      display: flex;
      & > * {
        flex-grow: 1;
        &:last-child {
          text-align: right;
          font-size: 32px;
          color: $accentGreen;
        }
      }
    }

    .item.logout {
      display: flex;
      & > * {
        flex-grow: 1;
        &:last-child {
          text-align: right;
          &.icon {
            &:before {
              display: none;
            }
            background-size: contain;
            background-image: url("../images/icons/iconLogout@2x.png");
            @include break-point-retina() {
              background-image: url("../images/icons/iconLogout@3x.png");
            }
            background-repeat: no-repeat;
            background-position: right;
          }
        }
      }
    }

    .item-content {
      display: flex;
      justify-content: center;
      padding-right: 15px;
      i {
        text-align: right;
        &.ionicons {
          font-size: 2rem;
          position: absolute;
          right: 15px;
          top: 10px;
          color: $accentGreen;
        }
      }
      span, i {
        flex-grow: 1;
      }
    }
  }
}
