
<!-- ./app/templates/directives/address-list.html

			   _     _                          _ _           
			  | |   | |                        | (_)     _    
	  ____  _ | | _ | | ____ ____  ___  ___ ___| |_  ___| |_  
	 / _  |/ || |/ || |/ ___) _  )/___)/___|___) | |/___)  _) 
	( ( | ( (_| ( (_| | |  ( (/ /|___ |___ |   | | |___ | |__ 
	 \_||_|\____|\____|_|   \____|___/(___/    |_|_(___/ \___)
															  

-->

<div class="{[vm.getClasses(values)]}"> 
    <b>{label}</b><br/><i>{address}</i><br/> 
    <table width="300"> 
    <tr> 
        <td class="icon-btc icon-20"></td>
        <td class="fw-addresslist-balance">{[vm.getBalance(values, "BTC")]}</td> 
        <td class="icon-xcp icon-20"></td>
        <td class="fw-addresslist-balance">{[vm.getBalance(values, "XCP")]}</td> 
    </tr> 
    </table> 
</div>

