
<div class="history--container">
  <ol class= history--list>
    <li
      class="history--listing"
      ng-repeat="trx in historyList"
    >
      <div class="history--inner">
        <header>
          <dl>
            <dt>
            Hash
            </dt>
            <dd>
              {{trx.blockHash}}
            </dd>
          </dl>
        </header>
        <div>
          <dl>
            <dt>
              Value
            </dt>
            <dd>
              {{trx.value}}
            </dd>
          </dl>
        </div>
        <footer>
          <dl>
            <dt>
              From
            </dt>
            <dd>
              {{trx.from}}
            </dd>
            <dt>
              To
            </dt>
            <dd>
              {{trx.to}}
            </dd>
          </dl>
        </footer>
      </div>
    </li>
  </ol>
</div>

