<!--
  @fileOverview ./app/templates/directives/wallet/messenger.html
  @description
-->

<div class="messenger--form">
  <section role="main">
    <header class="messenger--header">
      <span>
				<span class="icon-coin"></span>
        <!--img
          src="./images/missing_avatar_thumb.png"
          alt="{{vm.user.profile}}"
          width="32px"
        /-->
      </span>
    </header>
    <dl class="messenger--models">
      <!--dt>Holding</dt-->
      <dd>{{vm.user.profile.coins.holdings.eth}}</dd>
      <!--dt>Coin Price</dt-->
      <dd>{{vm.coins.priceIndex.eth}}</dd>
      <!--dt>Coin Pairing</dt-->
      <dd>{{vm.coins.coinPairing['eth-usd']}}</dd>
    </dl>
    <footer class="messenger--operations">
      <operations-panel>
        <a ui-sref="app.send">Send</a>
        <a ui-sref="app.receive">Receive</a>
      </operations-panel>
      <version></version>
    </footer>
  </section>
</div>

