<ul class="network--list">
  <li
    class="network--listing"
    ng-repeat="host in vm.hosts"
    ng-class="{
      'status--connected': host.connected
    }"
  >
    <span
      ng-show="host.host"
      class="network--ip-address hint hint--right"
      data-hint="{{host.host}}"
    >
      <span class="fa fa-bolt"></span>
    </span class="network--ip-address">
  </li>
</ul>
