
<div class="block--qrcode">
  <qrcode
    version="{{version}}"
    error-correction-level="{{level}}"
    size="{{size}}"
    data="{{content}}"
  ></qrcode>
</div>

<style>
.block--qrcode {
  margin: 0 auto;
  text-align: center;
}

</style>
