
<!--
  @fileOverview ./app/templates/directives/wallet/stash.html

  @description
  Stash list, like git-stash but for your money.
-->

<div class="block balances--block">

  <ol
    class="balances--list"
  >

    <li
      ng-class="{
        'balance-list--item': true
      }"
      ng-repeat="balance in balanceList"
      id="{{balance.$id}}"
    >

      <header
        ng-class="{
          'balance-list--icon': true
        }"
      >

        <img
          alt="{{balance.altText}}"
          src="{{balance.urlAsset}}"
        />
      </header>

      <div
        ng-class="{
          'balance-list--info': true
        }"
      >

        <div
          ng-class="{
            'balance-list--currency': true
          }"
        >{{balance.listCurrency}}</div>
      </div>

      <footer
        ng-class="{
          'balance-list--info': true
        }"
      >

        <div
          ng-class="{
            'balance-list--amount': true
          }"
        >{{balance.listAmount}}</div>

        <div
          ng-class="{
            'balance-list--price': true
          }"
        >
        <!-- {{balance.listPrice}} -->
        </div>
      </footer>
    </li>
  </ol>

</div>

