<ion-view
  id="bookings"
  class="buyer--bookings"
  ng-class="{
  }"
>
  <ion-header-bar
    align-title="center"
    class="bookings--header"
  >
    <!-- <button -->
    <!--   ui-sref="app.bookingsTimeline" -->
    <!--   class="button button-icon icon ionicons ion-arrow-graph-up-right animated fadeInLeft" -->
    <!-- ></button> -->
    <h1 class="title">History</h1>
  </ion-header-bar>
  <ion-content
    class="bookings--content"
    overflow-scroll="true"
  >

    <tgm-history-list></tgm-history-list>

    <div
      class="block"
      style="margin-bottom: 10vh"
    >
      <!-- Approved Bookings -->
      <div
        ng-if="vm.ApprovedGroup.length"
        class="list bookings content--container"
      >

        <div
          class="item no-items container--empty"
          ng-if="vm.bookings && !vm.ApprovedGroup.length"
        >

          <span>No approved bookings.</span>
        </div>

        <h2
          ng-show="vm.bookings && vm.ApprovedGroup.length"
          class="container--headline"
        >

          <i class="headline--icon ion-ios-arrow-down"></i>

          <span class="headline--inner">Approved</span>
        </h2>

        <ul
          ng-show="vm.ApprovedGroup.length"
          class="container--list"
        >

          <li
            class="list--item"
            bindonce="Sublist"
            ng-repeat="Sublist in vm.ApprovedGroup"
          >

            <ul class="item--sublist">

              <li
                ng-repeat="bookings in Sublist.bookings"
                bindonce="bookings"
                class="sublist--listing"
              >

                <h2 class="listing--grouplabel">
                  {{Sublist.name | tgmFormatMonthYear}}
                </h2>

                <ul class="listing--list">

                  <li
                    class="list--listing"
                    bindonce="item"
                    ng-repeat="item in bookings.coins"
                    ng-click="vm.viewBooking(bookings)"
                  >

                    <!-- <h1 class="listing--headline"> -->
                    <!--   {{item.coin.property.title}} -->
                    <!-- </h1> -->
                    <aside
                      class="listing--aside animated rotateIn"
                      profile-bubble
                      prop-id="item.coin"
                    ></aside>

                    <div class="listing--description">

                      <h6
                        class="description--title"
                        bo-text="item.coin.property.profile.title"
                      ></h6>

                      <span
                        class="description--quantity"
                        bo-text="item.quantity"
                      ></span>

                      <span class="description--type">Coin</span>

                      <span class="description--bullet">&bull;</span>

                      <span class="description--from">{{bookings.dates.from | tgmFormatDayMonth}}</span>

                      <span class="description--sep">&ndash;</span>

                      <span class="description--from">{{bookings.dates.to | tgmFormatDayMonth}}</span>
                    </div>

                    <div class="listing--cta">
                      <span class="ion-ios-arrow-thin-right"></span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Pending Bookings -->
      <div class="list bookings content--container">

        <div
          class="item no-items container--empty"
          ng-if="vm.bookings && !vm.PendingGroup.length"
        >

          <span>No pending bookings.</span>
        </div>

        <h2
          ng-show="vm.bookings && vm.PendingGroup.length"
          class="container--headline"
        >

          <i class="headline--icon ion-ios-arrow-down"></i>

          <span class="headline--inner">Pending</span>
        </h2>

        <ul
          ng-show="vm.PendingGroup.length"
          class="container--list"
        >

          <li
            class="list--item"
            bindonce="Sublist"
            ng-repeat="Sublist in vm.PendingGroup"
          >

            <ul class="item--sublist">

              <li
                ng-repeat="bookings in Sublist.bookings"
                bindonce="bookings"
                class="sublist--listing"
              >

                <h2 class="listing--grouplabel">
                  {{Sublist.name | tgmFormatMonthYear}}
                </h2>

                <ul class="listing--list">

                  <li
                    class="list--listing"
                    bindonce="item"
                    ng-repeat="item in bookings.coins"
                    ng-click="vm.viewBooking(bookings)"
                  >

                    <!-- <h1 class="listing--headline"> -->
                    <!--   {{item.coin.property.title}} -->
                    <!-- </h1> -->
                    <aside
                      class="listing--aside animated rotateIn"
                      style="background-image: url('{{item.coin.property.seller.profile.picture}}');"
                    ></aside>

                    <!-- <div>{{item.coin.property.profile.location.address}}</div> -->

                    <div class="listing--description">

                      <h6 class="description--title" bo-text="item.coin.property.profile.title"></h6>

                      <span class="description--quantity"
                        bo-text"item.quantity"></span>

                      <span class="description--type">Coin</span>

                      <span class="description--bullet">&bull;</span>

                      <span class="description--from">{{bookings.dates.from | tgmFormatDayMonth }}</span>

                      <span class="description--sep">&ndash;</span>

                      <span class="description--from">{{bookings.dates.to | tgmFormatDayMonth }}</span>
                    </div>

                    <div class="listing--cta">
                      <span class="ion-ios-arrow-thin-right"></span>
                    </div>
                  </li>
                </ul>
                <!-- <div class="listing--caption"> -->
                <!--   <span class="from">{{bookings.dates.from}}</span> -->
                <!--   <span class="sep">&ndash;</span> -->
                <!--   <span class="from">{{bookings.dates.to}}</span> -->
                <!-- </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Active Bookings -->
      <div class="list bookings content--container">

        <div
          class="item no-items container--empty"
          ng-if="vm.bookings && !vm.ActiveGroup.length"
        >

          <span>No active bookings.</span>
        </div>

        <h2
          ng-show="vm.bookings && vm.ActiveGroup.length"
          class="container--headline"
        >

          <i class="headline--icon ion-ios-arrow-down"></i>

          <span class="headline--inner">Active</span>
        </h2>

        <ul
          ng-show="vm.ActiveGroup.length"
          class="container--list"
        >

          <li
            class="list--item"
            bindonce="Sublist"
            ng-repeat="Sublist in vm.ActiveGroup"
          >

            <ul class="item--sublist">

              <li
                ng-repeat="bookings in Sublist.bookings"
                bindonce="bookings"
                class="sublist--listing"
              >

                <h2 class="listing--grouplabel">
                  {{Sublist.name | tgmFormatMonthYear}}
                </h2>

                <ul class="listing--list">

                  <li
                    class="list--listing"
                    bindonce="item"
                    ng-repeat="item in bookings.coins"
                    ng-click="vm.viewBooking(bookings)"
                  >

                    <!-- <h1 class="listing--headline"> -->
                    <!--   {{item.coin.property.title}} -->
                    <!-- </h1> -->
                    <aside
                      class="listing--aside animated rotateIn"
                      style="background-image: url('{{item.coin.property.seller.profile.picture}}');"
                    ></aside>

                    <!-- <div>{{item.coin.property.profile.location.address}}</div> -->

                    <div class="listing--description">

                      <h6 class="description--title"
                        bo-text="item.coin.property.profile.title"></h6>

                      <span class="description--quantity" bo-text="item.quantity"></span>

                      <span class="description--type">Coin</span>

                      <span class="description--bullet">&bull;</span>

                      <span class="description--from">{{bookings.dates.from | tgmFormatDayMonth }}</span>

                      <span class="description--sep">&ndash;</span>

                      <span class="description--from">{{bookings.dates.to | tgmFormatDayMonth }}</span>
                    </div>

                    <div class="listing--cta">
                      <span class="ion-ios-arrow-thin-right"></span>
                    </div>
                  </li>
                </ul>
                <!-- <div class="listing--caption"> -->
                <!--   <span class="from">{{bookings.dates.from}}</span> -->
                <!--   <span class="sep">&ndash;</span> -->
                <!--   <span class="from">{{bookings.dates.to}}</span> -->
                <!-- </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Cancelled Bookings -->
      <div class="list bookings content--container">

        <div
          class="item no-items container--empty"
          ng-if="vm.bookings && !vm.CancelledGroup.length"
        >
          <span>No cancelled bookings.</span>
        </div>

        <h2
          ng-show="vm.bookings && vm.CancelledGroup.length"
          class="container--headline"
        >

          <i class="headline--icon ion-ios-arrow-down"></i>

          <span class="headline--inner">Cancelled</span>
        </h2>

        <ul
          ng-show="vm.bookings && vm.CancelledGroup.length"
          class="container--list"
        >

          <li
            class="list--item"
            bindonce="Sublist"
            ng-repeat="Sublist in vm.CancelledGroup"
          >

            <ul class="item--sublist">

              <li
                bindonce="bookings"
                ng-repeat="bookings in Sublist.bookings"
                class="sublist--listing"
              >

                <h2 class="listing--grouplabel">
                  {{Sublist.name | tgmFormatMonthYear}}
                </h2>

                <ul class="listing--list">

                  <li
                    class="list--listing"
                    ng-repeat="item in bookings.coins"
                    bindonce="item"
                    ng-click="vm.viewBooking(bookings)"
                  >

                    <!-- <h1 class="listing--headline"> -->
                    <!--   {{item.coin.property.title}} -->
                    <!-- </h1> -->

                    <aside
                      class="listing--aside animated rotateIn"
                      style="background-image: url('{{item.coin.property.seller.profile.picture}}');"
                    ></aside>

                    <!-- <div>{{item.coin.property.profile.location.address}}</div> -->

                    <div class="listing--description">

                      <h6 class="description--title"
                        bo-text="item.coin.property.profile.title"></h6>

                      <span class="description--quantity"
                        bo-text="item.quantity"></span>

                      <span class="description--type">Coin</span>

                      <span class="description--bullet">&bull;</span>

                      <span class="description--from">{{bookings.dates.from | tgmFormatDayMonth }}</span>

                      <span class="description--sep">&ndash;</span>

                      <span class="description--from">{{bookings.dates.to | tgmFormatDayMonth }}</span>
                    </div>

                    <div class="listing--cta">
                      <span class="ion-ios-arrow-thin-right"></span>
                    </div>
                  </li>
                </ul>
                <!-- <div class="listing--caption"> -->
                <!--   <span class="from">{{bookings.dates.from}}</span> -->
                <!--   <span class="sep">&ndash;</span> -->
                <!--   <span class="from">{{bookings.dates.to}}</span> -->
                <!-- </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Completed Bookings -->
      <div class="list bookings content--container">

        <div
          class="item no-items container--empty"
          ng-if="vm.bookings && !vm.CompletedGroup.length"
        >

          <span>No completed bookings.</span>
        </div>

        <h2
          ng-show="vm.bookings && vm.CompletedGroup.length"
          class="container--headline"
        >

          <i class="headline--icon ion-ios-arrow-down"></i>

          <span class="headline--inner">Completed</span>
        </h2>

        <ul
          ng-show="vm.bookings && vm.CompletedGroup.length"
          class="container--list"
        >

          <li
            class="list--item"
            bindonce="Sublist"
            ng-repeat="Sublist in vm.CompletedGroup"
          >

            <ul class="item--sublist">

              <li
                ng-repeat="bookings in Sublist.bookings"
                bindonce="bookings"
                class="sublist--listing"
              >

                <h2 class="listing--grouplabel">
                  {{Sublist.name | tgmFormatMonthYear}}
                </h2>

                <ul class="listing--list">

                  <li
                    class="list--listing"
                    ng-repeat="item in bookings.coins"
                    bindonce="item"
                    ng-click="vm.viewBooking(bookings)"
                  >

                    <!-- <h1 class="listing--headline"> -->
                    <!--   {{item.coin.property.title}} -->
                    <!-- </h1> -->
                    <aside
                      class="listing--aside animated rotateIn"
                      style="background-image: url('{{item.coin.property.seller.profile.picture}}');"
                    ></aside>

                    <!-- <div>{{item.coin.property.profile.location.address}}</div> -->

                    <div class="listing--description">

                      <h6
                        class="description--title"
                        bo-text="item.coin.property.profile.title"
                      ></h6>

                      <span
                        class="description--quantity"
                        bo-text="item.quantity"
                      ></span>

                      <span class="description--type">Coin</span>

                      <span class="description--bullet">&bull;</span>

                      <span class="description--from">{{bookings.dates.from | tgmFormatDayMonth }}</span>

                      <span class="description--sep">&ndash;</span>

                      <span class="description--from">{{bookings.dates.to | tgmFormatDayMonth }}</span>
                    </div>

                    <div class="listing--cta">
                      <span class="ion-ios-arrow-thin-right"></span>
                    </div>
                  </li>
                </ul>

                <!-- <div class="listing--caption"> -->
                <!--   <span class="from">{{bookings.dates.from}}</span> -->
                <!--   <span class="sep">&ndash;</span> -->
                <!--   <span class="from">{{bookings.dates.to}}</span> -->
                <!-- </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <br />
  </ion-content>

</ion-view>
