<ion-view>

  <ion-content
    id="create-reservation"
    class="create-reservation--complete"
  >

    <tgm-progress-bar
      steps="vm.steps"
      flow="vm.createReservationFlow"
    ></tgm-progress-bar>

    <div
      overflow-scroll="true"
      class="content bookings--content"
    >

      <div
        ng-show="vm.detail.isPlaceholder"
        class="block-title ~item content--title"
      >
        <figure>
          <i class="animated flip icon ionicons ion-ios-checkmark-outline"></i>
          <figcaption>
            <h1>Booking Requested!</h1>
            <p>Thank you for requesting a booking, we will get back to you in 24 hours to notify you of availability.</p>
          </figcaption>
        </figure>
        <h2>
          {{vm.detail.profile.title}}
        </h2>
        <h3>
          {{vm.detail.profile.location.address}}
          &ndash;
          {{vm.detail.profile.location.state}}
        </h3>
      </div>

      <div
        ng-show="!vm.detail.isPlaceholder"
        class="block-title ~item content--title"
      >
        <figure>
          <i class="animated flip icon ionicons ion-ios-checkmark-outline"></i>
          <figcaption>
            <h1>Booking Confirmed!</h1>
            <p>A confirmation email will be sent to you shortly.</p>
          </figcaption>
        </figure>
        <h2>
          {{vm.detail.profile.title}}
        </h2>
        <h3>
          {{vm.detail.profile.location.address}}
          &ndash;
          {{vm.detail.profile.location.state}}
        </h3>
      </div>

      <div class="detail content--container">
        <div class="container">

          <section class="container--howMany">
            <table class="howMany--receipt">
              <tfoot>
                <tr class="receipt--view__row">
                  <th class="receipt--view__inlablel">Check In</th>
                  <td class="receipt--view__in">{{vm.reservation.dates.from | tgmFormatFullDate}}</td>
                </tr>
                <tr class="receipt--view__row">
                  <th class="receipt--view__outlabel">Check Out</th>
                  <td class="receipt--view__out">{{vm.reservation.dates.to | tgmFormatFullDate}}</td>
                </tr>
              </tfoot>
              <tbody class="receipt--view">
                <tr class="lines--desc">
                  <td>
                    <div>{{vm.detail.profile.title}}</div>
                    <div>{{vm.reservation.selectedCoin.coinType | tgmCapitalize}}
                      x{{vm.reservation.configuredCoin.quantity}}</div>
                    <ul class="desc--amenities">
                      <li ng-repeat="am in vm.reservation.selectedProperty.amenities">
                        {{am | tgmCapitalize}}
                      </li>
                    </ul>
                  </td>
                  <td>x{{vm.reservation._nightCount}}</td>
                </tr>
              </tbody>

            </table>
          </section>

        </div>
      </div>

      <div tgm-read
        listening-to="$parent.vm.reservation"
        type="reservations"
        key="getInvoice"
        callback="vm.getInvoiceCallback()"
      ></div>
    </div>
  </ion-content>

  <button
    class="button next next-button"
    ng-click="vm.viewBookings()"
    ng-show="$parent.vm.reservation.invoice"
  >
    Go to Contracts
  </button>

  <button
    class="button next next-button"
    ng-click="vm.viewBeds()"
    ng-show="!$parent.vm.reservation.invoice"
  >
    Go to Coins
  </button>
</ion-view>

