
<ion-view id="create-reservation-view">

  <ion-header-bar align-title="center">

    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ui-sref="app.createReservationSummary({ id: vm.listingId })"
    ></button>

    <h1 class="title">{{vm.sectionTitle}}</h1>

    <button
      ng-click="vm.cancelReservations()"
      class="button cancel"
    >
      Cancel
    </button>

  </ion-header-bar>

  <ion-content
    overflow-scroll="true"
    id="create-reservation"
    class="create-reservation--confirmation"
  >

    <tgm-progress-bar
      steps="vm.steps"
      flow="vm.createReservationFlow"
      ng-class="{
        'has-selected-payment': vm.paymentSelected === true
      }"
    ></tgm-progress-bar>

    <div class="content bookings--content">

      <div class="block-title ~item content--title">

        <h2>
          {{vm.detail.profile.title || vm.detail.name}}
        </h2>

        <h3>
          <strong>{{vm.detail.profile.title || vm.detail.name}}</strong><br />
          <span class="headline">{{vm.detail.profile.subtitle}}</span>
          <span ng-show="vm.detail.profile.propertyType">&ndash;</span>
          {{vm.detail.profile.propertyType | tgmCapitalize}}
        </h3>

        <div
          class="title--address"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <div
            itemprop="address"
            itemscope
            itemtype="http://schema.org/PostalAddress"
          >

            <span itemprop="streetAddress">
              {{vm.detail.profile.location.address || vm.detail.address}}
            </span>

            <span
              itemprop="addressLocality"
              ng-show="vm.detail.profile.location.city"
            >
              {{vm.detail.profile.location.city}},
            </span>

            <span
              itemprop="addressRegion"
              ng-show="vm.detail.profile.location.state"
            >
              {{vm.detail.profile.location.state}}
            </span>

          </div>

        </div>

        <table class="checkInOut--receipt">

          <thead class="receipt--header">

            <tr class="header--content">

              <th class="header--content__in">Check In</th>

              <td class="receipt--content__from">{{vm.reservation.dates.from | tgmFormatFullDate}}</td>

            </tr>

          </thead>

          <tbody class="receipt--content">

            <tr class="receipt--content__row">

              <th class="header--content__out">Check Out</th>

              <td class="receipt--content__to">{{vm.reservation.dates.to | tgmFormatFullDate}}</td>

            </tr>

          </tbody>

        </table>

      </div>

      <div class="detail content--container">

        <div class="container">

          <section class="container--howMany">

            <table class="howMany--receipt">

              <tfoot class="receipt--footer">

                <tr class="footer--tax">

                  <td><abbr title="Harmonized Tax">HST</abbr> (13%)</td>

                  <td>{{(vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price) * vm.reservation._hst) | currency}}</td>

                </tr>

                <tr class="footer--total">

                  <td>Total</td>

                  <td>{{((vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price)) + (vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price) * vm.reservation._hst)) | currency}}</td>

                </tr>

              </tfoot>

              <tbody class="receipt--lines">

                <tr class="lines--desc">

                  <td>

                    <div>{{vm.detail.profile.title}}</div>

                    <div>{{vm.reservation.selectedBed.roomType | tgmCapitalize}}

                      x{{vm.reservation.configuredBed.quantity}}</div>

                    <ul class="desc--amenities">

                      <li ng-repeat="am in vm.reservation.selectedProperty.amenities">
                        {{am | tgmCapitalize}}
                      </li>

                    </ul>

                  </td>

                  <td>{{(vm.reservation.selectedBed.price || 0) | currency}}</td>

                </tr>

                <tr class="lines--qty">

                  <td>Nights</td>

                  <td>x{{vm.reservation._nightCount}}</td>

                </tr>

              </tbody>

            </table>

          </section>

          <h4>Payment methods</h4>

          <section class="container--paymentMethods">

            <ul class="paymentMethods--list">

              <li
                class="list--listing"
                ng-show="vm.card"
              >

                <span class="listing--type">
                  <img
                    alt="{{vm.card.brand}}"
                    width="44px"
                    ng-src="./images/icons/{{vm.card.brand.toLowerCase()}}@3x.png"
                  />
                </span>

                <span class="listing--number">
                  **** **** **** {{vm.card.last4}}
                </span>

                <span class="listing--expiry">
                  {{vm.card.exp_month}}/{{vm.card.exp_year}}
                </span>

                <i
                  class="ion ionicons ion-ios-arrow-thin-right"
                  aria-hidden="true"
                ></i>

              </li>

              <li>

                <a ng-click="vm.goToCreatePaymentMethodForReservation()">

                  <span ng-show="vm.card !== undefined">Change Payment
                    Method
                  </span>

                  <span ng-show="vm.card === undefined">Select Credit Card</span>

                  <i class="icon ionicons ion-ios-arrow-thin-right"></i>

                </a>

              </li>

            </ul>

          </section>

        </div>

      </div>
    </div>
  </ion-content>

  <button
    class="button next next-button"
    ng-click="vm.submitAction()"
    ng-class="{
      'disabled': (vm.card === undefined)
    }"
  >
    Complete
  </button>
</ion-view>

