<ion-view id="create-reservation-view">

  <ion-header-bar align-title="center">

    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-click="vm.previous()"
      ng-show="vm.createReservationFlow.currentStep !== 4 &&
      vm.createReservationFlow.currentStep !== 0"
    ></button>

    <h1 class="title">{{vm.sectionTitle}}</h1>

    <button
      ng-click="vm.cancelReservation()"
      class="button cancel"
      ng-show="vm.createReservationFlow.currentStep !== 4"
    >
      Cancel
    </button>

  </ion-header-bar>

  <div ng-switch="vm.createReservationFlow.currentStep">

    <div ng-switch-when="0">
      <div ng-include="'templates/views/bookings/default.html'"></div>
    </div>

    <div ng-switch-when="1">
      <div ng-include="'templates/views/bookings/summary.html'"></div>
    </div>

    <div ng-switch-when="2">
      <div ng-include="'templates/views/bookings/confirmation.html'"></div>
    </div>

    <div ng-switch-when="3">
      <div ng-include="'templates/views/bookings/payment-select.html'"></div>
    </div>

    <div ng-switch-when="4">
      <div ng-include="'templates/views/bookings/complete.html'"></div>
    </div>

  </div>

  <tgm-stripe-js></tgm-stripe-js>

</ion-view>
