<ion-view>
  <ion-content
    id="create-reservation"
    class="create-reservation--default"
    overflow-scroll="true"
  >

    <tgm-progress-bar
      steps="vm.steps"
      flow="vm.createReservationFlow"
    ></tgm-progress-bar>

    <div class="content bookings--content">

      <div class="block-title content--title">

        <h2>
          <strong>{{vm.detail.profile.title || vm.detail.name}}</strong><br />
          <span class="headline">{{vm.detail.profile.subtitle}}</span>
          <span ng-show="vm.detail.profile.propertyType">&ndash;</span>
          {{vm.detail.profile.propertyType | tgmCapitalize}}
        </h2>

        <h3>
          {{vm.detail.profile.location.address || vm.detail.address}}
        </h3>

        <div class="title--display">

          <table class="display--timesheet">

            <tbody class="timesheet--content">

              <tr class="timesheet--content__row">

                <th class="timesheet--column__label">
                 Available
                </th>

                <td
                  class="timesheet--column__daterange"
                  ng-show="!vm.detail.bed.availability"
                >
                  <i>(Any Date)</i>
                </td>

                <td class="timesheet--column__daterange"
                  ng-show="vm.detail.bed.availability">

                  <span class="daterange__from">{{vm.detail.bed.availability.from | tgmFormatMonthDayYear}}</span>

                  <span class="sep">&ndash;</span>

                  <span class="daterange__to">{{vm.detail.bed.availability.to | tgmFormatMonthDayYear}}</span>
                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

      <div class="content--container">

        <div class="container">

          <section class="container--howMany">

            <h5>How many beds do you need?</h5>

            <div class="input--group">

              <button
                tgm-animated
                id="bedCountDec"
                name="bedCountDec"
                ng-click="vm.dec()"
                type="button"
              >
                <i aria-hidden="true" class="ionicons ion-minus"></i>
              </button>

              <input
                ng-attr-aria-invalid="{{(vm.bedCount === 0)}}"
                ng-readonly="true"
                ng-model="vm.bedCount"
                readonly="true"
                type="number"
              />

              <button
                tgm-animated
                name="bedCountInc"
                ng-click="vm.inc()"
                type="button"
              >
                <i aria-hidden="true" class="ionicons ion-plus"></i>
              </button>

            </div>

          </section>

          <section class="container--fromTo">

            <div class="input-block input--group">

              <label for="from">from</label>

              <input
                aria-hidden="false"
                type="text"
                ng-model="vm.reservation.dates.from"
                ng-click="vm.expandCalendar('from')"
                ng-readonly="true"
                style="cursor: pointer"
              />

            </div>

            <div class="input-block input--group">

              <label for="to">to</label>

              <input
                aria-hidden="false"
                type="text"
                ng-model="vm.reservation.dates.to"
                ng-click="vm.expandCalendar('to')"
                ng-readonly="true"
                style="cursor: pointer"
              />

            </div>

          </section>

        </div>

      </div>
    </div>
  </ion-content>

  <button
    class="button next next-button"
    ng-click="vm.next()"
    ng-show="!vm.reservation.selectedProperty.isPlaceholder"
    ng-class="{
      'disabled': (!vm.reservation.dates.to || !vm.reservation.dates.from)
      || vm.reservation.error !== undefined
    }"
  >
    Continue
  </button>

  <button
    class="button next next-button"
    ng-click="vm.next()"
    ng-show="vm.reservation.selectedProperty.isPlaceholder"
    ng-class="{
      'disabled': (!vm.reservation.dates.to || !vm.reservation.dates.from)
      || vm.reservation.error !== undefined
    }"
  >
    Request Booking
  </button>

</ion-view>

