<ion-view
  id="booking"
  class="buyer--bookings__detail"
>

  <ion-header-bar align-title="center">

    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ui-sref="app.bookings"
    ></button>

    <h1 class="title">{{vm.detail.status}} Booking</h1>
  </ion-header-bar>

  <ion-content
    overflow-scroll="true"
    class="bookings--content"
  >

    <div class="block">

      <div class="block-title item content--title" style="text-align: center;">

        <h2 style="font-size: 18px; letter-spacing: 0.5px; margin-bottom: 5px;">{{vm.detail.offer.profile.title}}</h2>

        <h3>{{vm.detail.offer.profile.subtitle}} &bull;
          {{vm.detail.offer.profile.offerType | tgmCapitalize}}</h3>
      </div>

      <div class="detail content--container">

        <div class="container">

          <section>

            <figure
              role="group"
              aria-labelledby="Listing"
              class="container--hero"
            >

              <ul class="hero--list animated fadeIn">

                <li
                  class="list--listing"
                  ng-repeat="photo in vm.detail.offer.profile.photos"
                  ng-if="vm.detail.offer.profile.photos.length"
                >

                  <img
                    style="width: 100%; object-fit: contain;"
                    class="banner listing--banner"
                    ng-click="$log.info(vm.detail)"
                    alt="{{vm.detail.offer.profile.title}}"
                    src="{{photo.image.url}}"
                  />
                </li>

                <li
                  class="listing--empty"
                  ng-if="vm.detail && vm.detail.offer &&
                  vm.detail.offer.profile && !vm.detail.offer.profile.photos.length"
                >
                  <img
                    alt="{{vm.detail.offer.profile.title}}"
                    ng-click="$log.info(vm.detail)"
                    src="./images/Cryptocurrency/Appcoin.jpg"
                  />
                </li>

                <style>
                .listing--empty img,
                .listing--banner img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  overflow: hidden;
                }
                </style>
              </ul>

              <figcaption class="hero--card">

                <h2
                  class="card--contact__headline"
                  style="font-size: 18px; letter-spacing: 1px; margin-bottom: 5px;"
                >
                  Contact Coin
                </h2>

                <dl class="card--contact__table">

                  <dt
                    class="contact--email__label animated zoomInUp"
                    aria-label="Email"
                  >

                    <i
                      class="icon ionicons ion-ios-email"
                      aria-hidden="true"
                    ></i>
                  </dt>

                  <dd class="contact--email__item">

                    <a href="mailto://{{vm.detail.offer.profile.contacts[0].email}}">{{vm.detail.offer.profile.contacts[0].email}}</a>
                  </dd>

                  <dt
                    class="contact--phone__label animated zoomInUp"
                    aria-label="Phone"
                  >

                    <i
                      class="icon ionicons ion-iphone"
                      aria-hidden="true"
                    ></i>
                  </dt>

                  <dd class="contact--phone__item">{{vm.detail.offer.profile.contacts[0].phone}}</dd>
                </dl>
              </figcaption>
            </figure>

            <table class="hero--details">
              <tbody>
                <tr class="details--row">

                  <th style="">
                    <div style="">{{((vm.detail.coins[0].coin.tokenType.indexOf('shared') !== -1) ? 'Shared' : 'Single')}} token</div>
                    <div style="">{{vm.detail.coins[0].coin.tokenType}} Coin</div>
                    <div style="">{{(vm.detail.coins[0].coin.tokenType)}} Cointoken</div>
                  </th>

                  <td ng-click="$log.info(vm.detail)">{{vm.detail.coins[0].quantity}}x</td>
                </tr>
              </tbody>
            </table>

            <table>
              <tbody>
                <tr class="details--row">

                  <th>Check In</th>

                  <td>{{vm.detail.dates.from | tgmFormatFullDate}}</td>
                </tr>

                <tr class="details--row">

                  <th>Check Out</th>

                  <td>{{vm.detail.dates.to | tgmFormatFullDate}}</td>
                </tr>
              </tbody>

            </table>
          </section>

          <section style="">

            <h3 class="order--headline">Order Summary</h3>

            <table class="order--details">

              <thead>

                <tr>

                  <th colspan="2">
                    Summary
                  </th>
                </tr>
              </thead>

              <tfoot>

                <tr>

                  <th>Tax ({{vm.detail.tax.vat | tgmFormatTaxLabel}})</th>

                  <td>${{(vm.detail.tax.vat)}}</td>
                </tr>

                <tr>

                  <th>Total</th>

                  <td>{{(vm.detail.invoice.amountDue + (vm.detail.invoice.amountDue * vm.detail.tax.vat)) | currency}}</td>
                </tr>
              </tfoot>

              <tbody>

                <tr>

                  <th style="text-transform: uppercase;">
                    <div>{{vm.detail.coins[0].coin.tokenType}} Coin</div>
                    <div style="text-transform: capitalize;">{{(vm.detail.coins[0].coin.tokenType)}} Cointoken</div>
                  </th>

                  <td>{{(vm.detail.coins[0].quantity * vm.detail.coins[0].coin.price) | currency}}</td>
                </tr>
              </tbody>
            </table>
          </section>

          <section ng-if="vm.detail.invoice.card.length">

            <h3 class="confirmation--headline">Payment Confirmation</h3>

            <table class="confirmation--table">

              <tbody class="section">

                <tr>

                  <th>

                    <img
                      width="24"
                      alt="Card type: {{vm.detail.invoice.card[0].brand.toLowerCase()}}"
                      src="./images/icons/{{vm.detail.invoice.card[0].brand.toLowerCase()}}@3x.png"
                      class="animated fadeIn"
                    />
                  </th>

                  <td>
                    **** **** **** {{vm.detail.invoice.card[0].last4}}
                  </td>
                </tr>

                <tr>

                  <th>Confirmation ID</th>

                  <td
                    title="{{vm.detail.invoice.reservation}}"
                  >
                    <span
                      class="hint--top"
                      data-hint="{{vm.detail.invoice.reservation}}"
                    >
                      {{vm.detail.invoice.reservation.slice(0, 10)}}...
                    </span>
                  </td>
                </tr>

                <tr>

                  <th>Date</th>

                  <td>{{vm.detail.invoice.createdAt | tgmFormatShortDate}}</td>
                </tr>
              </tbody>
            </table>

            <fieldset>
              <button
                ng-show="vm.user.role === 'Owner' && vm.detail.status === 'Pending'"
                ng-click="vm.cancelBooking()"
                class="cancel-button"
              >
                Cancel Booking
              </button>
            </fieldset>

          </section>
        </div><!-- .container -->
      </div>
    </div>
  </ion-content>

  <div
    tgm-read
    listening-to="$parent.vm.detail"
    type="reservations"
    key="getInvoice"
    callback="vm.callback"
  >
  </div>

</ion-view>
