<ion-view id="create-reservation-view">

  <ion-header-bar align-title="center">

    <button
      class="icon ionicons ion-ios-arrow-thin-left"
      ng-hide="vm.inheritsFrom.flow === 'createUser'"
      ng-click="vm.previous()"
    ></button>

    <h1 class="title">{{vm.sectionTitle}}</h1>

    <button
      ng-show="vm.createReservation.currentStep === 0 && vm.createReservationFlow.flow === 'createPaymentMethodForReservation'"
      ng-click="vm.skip()"
      class="button cancel"
    >
      Skip
    </button>
  </ion-header-bar>

  <ion-content
    overflow-scroll="true"
    id="create-reservation"
    class="create-reservation--payment-select"
  >

    <tgm-progress-bar
      ng-show="vm.createReservationFlow !== undefined"
      steps="vm.steps"
      flow="vm.createReservationFlow"
    ></tgm-progress-bar>

    <div class="content bookings--content">

      <div class="detail content--container">

        <div class="container">

          <tgm-add-payment
            add-payment-method="vm.submit()"
            user="vm.user"
            next="vm.next()"
            complete-form="completeForm"
            class="animated slideInUp"
            ng-show="(showingForm === undefined || showingForm === true) || completeForm"
          ></tgm-add-payment>

          <ul class="container--list animated fadeIn">

            <!--
                               _
              ___ __ _ _ __ __| |___
             / __/ _` | '__/ _` / __|
            | (_| (_| | | | (_| \__ \
             \___\__,_|_|  \__,_|___/
            -->

            <li
              class="list--listing animated"
              ng-show="(vm.paymentFlow.currentStep !== 1)
                && (showingForm === undefined || showingForm === false)
                && (showingList === true || showingList === undefined)"
              ng-click="vm.attachCardToCheckout(card)"
              tgm-animated
              tgm-animated-click-type="pulse"
              ng-repeat="card in vm.cards"
              ng-if="vm.cards.length !== 0"
              ng-class="{
                'available': vm.cards.length !== 0
              }"
            >

              <span class="listing--type">

                <img
                  alt="{{card.brand}}"
                  width="44px"
                  ng-src="./images/icons/{{card.brand.toLowerCase()}}@3x.png"
                />
              </span>

              <span class="listing--number">
                **** **** **** {{card.last4}}
              </span>

              <span class="listing--expiry">
                {{card.exp_month}}/{{card.exp_year}}
              </span>

              <i
                class="ion ionicons ion-ios-arrow-thin-right"
                aria-hidden="true"
              ></i>
            </li>

            <!--
                                  _
              ___ _ __ ___  _ __ | |_ _   _
             / _ \ '_ ` _ \| '_ \| __| | | |
            |  __/ | | | | | |_) | |_| |_| |
             \___|_| |_| |_| .__/ \__|\__, |
                           |_|        |___/
            -->

            <li
              aria-hidden="true"
              class="empty"
              ng-class="{
              'is-visible': false
              }"
              ng-if="vm._links[0]['$container'] !== false &&
                vm.cards.length === 0"
            >

              <i
                class="ion ionicons ion-empty"
                aria-hidden="false"
              ></i>

              <span>No cards loaded</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
