<ion-view>
  <ion-content
    id="create-reservation"
    class="create-reservation--summary"
  >

    <tgm-progress-bar
      steps="vm.steps"
      flow="vm.createReservationFlow"
    ></tgm-progress-bar>

    <div
      overflow-scroll="true"
      class="content bookings--content"
    >

      <div class="block-title content--title">

        <h2>
          <strong>{{vm.detail.profile.title || vm.detail.name}}</strong><br />
          <span class="headline">{{vm.detail.profile.subtitle}}</span>
          <span ng-show="vm.detail.profile.propertyType">&ndash;</span>
          {{vm.detail.profile.propertyType | tgmCapitalize}}
        </h2>

        <h3>
          {{vm.detail.profile.location.address || vm.detail.address}}
        </h3>

        <div
          class="title--address"
          itemscope
          itemtype="http://schema.org/Organization"
        >

          <div
            itemprop="address"
            itemscope
            itemtype="http://schema.org/PostalAddress"
          >

            <span itemprop="streetAddress">
              {{vm.detail.profile.location.address || vm.detail.address}}
            </span>

            <span
              itemprop="addressLocality"
              ng-show="vm.detail.profile.location.city"
            >
              {{vm.detail.profile.location.city}},
            </span>

            <span
              itemprop="addressRegion"
              ng-show="vm.detail.profile.location.state"
            >
              {{vm.detail.profile.location.state}}
            </span>
          </div>
        </div>
      </div>

      <div class="detail content--container">

        <div class="container">

          <h4>Booking Summary</h4>

          <section class="container--howMany">

            <table class="howMany--receipt">

              <thead class="receipt--headline">

                <tr class="headline--checkinout">

                  <th colspan="2">

                    <div class="checkInOut--column">Check In</div>

                    <div class="checkInOut--column">Check Out</div>
                  </th>
                </tr>
              </thead>

              <tfoot class="receipt--footer">

                <tr>

                  <td>Rate</td>

                  <td>{{(vm.reservation.selectedBed.price * vm.reservation.configuredBed.quantity).toPrecision(2) | currency}}</td>
                </tr>

                <tr>

                  <td><abbr title="Harmonized Tax">HST</abbr> (13%)</td>

                  <td>{{(vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price) * vm.reservation._hst) | currency}}</td>
                </tr>

                <tr class="footer--total">

                  <td>Total</td>

                  <td>{{((vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price)) + (vm.reservation._nightCount * (vm.reservation.configuredBed.quantity * vm.reservation.selectedBed.price) * vm.reservation._hst)) | currency}}</td>
                </tr>
              </tfoot>

              <tbody class="receipt--lines">

                <tr class="lines--checkinout">

                  <td colspan="2">

                    <div class="checkInOut--column">
                      {{vm.reservation.dates.from | tgmFormatDay}},
                      <br />{{vm.reservation.dates.from | tgmFormatDate}}
                    </div>

                    <div class="checkInOut--column">
                      {{vm.reservation.dates.to | tgmFormatDay}},
                      <br />{{vm.reservation.dates.to | tgmFormatDate}}
                    </div>
                  </td>
                </tr>

                <tr class="lines--desc">

                  <td>

                    <div>{{vm.detail.profile.title}}</div>

                    <div ng-if="vm.reservation.selectedBed.roomType">
                      {{vm.reservation.selectedBed.roomType | tgmCapitalize}}
                      x{{vm.reservation.configuredBed.quantity}}
                    </div>

                    <ul class="desc--amenities">

                      <li
                        ng-repeat="am in vm.reservation.selectedProperty.amenities track by $index"
                        bindonce="am"
                      >
                        {{am | tgmCapitalize}}
                      </li>
                    </ul>
                  </td>

                  <td>{{(vm.reservation.selectedBed.price || 0) | currency}}</td>
                </tr>

                <tr class="lines--qty">

                  <td>Nights</td>

                  <td>{{vm.reservation._nightCount}}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </ion-content>

  <button
    class="button next next-button"
    ng-click="vm.next()"
    ng-class="{
      'disabled': vm.reservation._nightCount === 0 || vm.reservation.error
    }"
  >
    Continue
  </button>
</ion-view>

