<!--
  @fileOverview ./...

				_             _ _
	 _   (_)           | (_)
	| |_  _ ____   ____| |_ ____   ____
	|  _)| |    \ / _  ) | |  _ \ / _  )
	| |__| | | | ( (/ /| | | | | ( (/ /
	 \___)_|_|_|_|\____)_|_|_| |_|\____)

-->

<ion-view
  id="timeline"
  class="buyer--bookings-timeline"
  ng-class="{
  }"
>

  <ion-header-bar
    align-title="center"
    class="bookings--header"
  >
    <button
      ng-click="vm.previous()"
      class="button button-icon icon ionicons ion-back animated fadeInLeft"
    ></button>
    <h1 class="title">Timeline</h1>
  </ion-header-bar>

  <ion-content
    class="bookings--content"
    overflow-scroll="true"
  >

    <div
      tgm-reservations-timeline
      annotation-series="vm.annotationSeries"
      graph-data="vm.graphData"
      timestamps="vm.timestamps"
    >
      <div id="graph"></div>
      <div id="timeline"></div>
      <div id="graphData"></div>
    </div>
  </ion-content>
</ion-view>

