input[type="range"][orient="vertical"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  // height: 175px;
  padding: 0 5px;
}

@mixin __input__() {
  & {
    @content;
  }
}

.input--cardNumber {
}

@mixin __underline__() {
  & {
  input[type="email"]
  input[type="text"],
  input[type="password"],
  input[type="number"],
  div.availability span {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    display: block;
    width: 100%;
    color: black;
    color: #f9f9f9;
    margin-bottom: 15px;
    }
  }
}

/**
 * @usage
 * div.BLOCK--ELEMENT {
 *   @include __input-block__();
 * }
 */
@mixin __input-block__() {
  & {
    margin: 25px 0;
    label {
      text-transform: uppercase;
    }
    .row, .col {
      padding: 0;
      span:last-child {
        display: block;
        text-align: right;
      }
    }
    input[type="text"], input[type="email"], input[type="password"] {
      background: none;
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      border-bottom: 1px solid #aaa;
      border-radius: 0;
      display: block;
      width: 100%;
      color: black;
      color: #f9f9f9;
      &.error {
        border-bottom: 1px solid red;
      }
      @content;
    }
    span.error {
      font-size: 0.8rem;
      color: red;
      position: relative;
      top: 15px;
    }
  }
}

%methods {
  .input-block {
  }
  .fieldset {
    outline: 1px solid rgba(150, 150, 150, 1);
  }
}

.next-button.disabled,
button.disabled,
input.disabled {
  background-color: lightgrey;
  opacity: .5;
}
