<!-- @fileOverview ./app/templates/shell.html

		  _           _ _
		 | |         | | |
	  ___| | _   ____| | |
	 /___) || \ / _  ) | |
	|___ | | | ( (/ /| | |
	(___/|_| |_|\____)_|_|

-->

<ion-side-menus>

  <ion-side-menu-content>

    <ion-nav-view
      name="viewContent"
      animation="slide-left-right"
    ></ion-nav-view>

    <div
      class="bar bar-footer"
      ng-show="vm.showNav"
    >

      <button
        class="button menu-item animated fadeInUp"
        ui-sref-active="active"
        ui-sref-options="{
          reload: true,
          notify: true,
          inherit: false
        }"
        ui-sref="app.balances"
      >
        <span class="~icon-wallet fa fa-balance-scale"></span>
        <span>Balance</span>
      </button>

      <button
        class="button menu-item animated fadeInUp ~disabled"
        ui-sref-active="active"
        ui-sref="app.history"
        ui-sref-options="{
          reload: true,
          notify: true,
          inherit: false
        }"
      >
        <!-- <span class="icon-time-passing"></span> -->
        <span class="~icon-wallet fa fa-history"></span>
        <span>History</span>
      </button>

      <button
        ng-class="{
          'button': true,
          'menu-item': true,
          'animated': true,
          'fadeInUp': true,
          'disabled': false
        }"
        ui-sref-active="active"
        ui-sref="app.tools"
        ui-sref-options="{
          reload: true,
          notify: true,
          inherit: true
        }"
      >
        <!-- <span class="icon-safebox"></span> -->
        <span class="~icon-wallet fa fa-exchange"></span>
        <span>Exchange</span>
      </button>

      <button
        class="button menu-item animated fadeInUp"
        ui-sref-active="active"
        ui-sref="app.profile"
        ui-sref-options="{
          reload: true,
          notify: true,
          inherit: true
        }"
      >
        <!-- <span class="icon-coin-4"></span> -->
        <span class="~icon-wallet fa fa-puzzle-piece"></span>
        <span>About</span>
      </button>

    </div>
  </ion-side-menu-content>
  <tgm-local-session></tgm-local-session>
</ion-side-menus>

